<header class="header header-bg">
    <div class="menu-head">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" [routerLink]="['/']">
                        <img src="/assets/images/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-xxl-auto">
                            <li class="li-arrow">
                                <a [routerLink]="['/covid-19']">COVID-19</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a [routerLink]="['/return']">Return To Diving Safely</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-arrow">
                                <a [routerLink]="['/about']">About</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a [routerLink]="['/our-team']">Our Team</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/international-dan']">International DAN</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-arrow">
                                <a [routerLink]="['/dive-cover']">Dive Cover </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a [routerLink]="['/annual']">Annual</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/annual-freediver']">Annual Freediver</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/temporary']">Temporary</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/student']">Student</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/commercial']">Commercial</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/cancellation-request']">Cancellation Request</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="li-arrow">
                                <a [routerLink]="['/services']">Services </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a [routerLink]="['/alert-driver']">Alert Diver</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/annual-diving-report']">Annual Diving Report</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/chamber-safety']">Chamber Safety</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/dan-resources']">DAN Resources</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/dive-medical-forms']">Dive Medical Forms</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/education']">Education</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/infographics']">Infographics</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/legal-network']">Legal Network</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/medicine']">Medicine</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/partner-programs']">Partner Programs</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/research']">Research</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/report-an-incident']">Report An Incident</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/technical-diving']">Technical Diving</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/test-station-resources']">Test Station Resources</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/travel-notification']">Travel Notification</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/travel-statement']">Travel Statement</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/webinars']">Webinars</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a [routerLink]="['/danshop']">DAN Shop</a>
                            </li>
                            <li>
                                <a [routerLink]="['/blog']">Blog</a>
                            </li>
                            <li class="li-arrow">
                                <a [routerLink]="['/contact']">Contact</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a routerLink="/dansadansaorg">Dive Business Listing</a>
                                    </li>
                                    <li>
                                        <a routerLink="/find-a-dive-doctor">Find A Dive Doctor</a>
                                    </li>
                                    <li>
                                        <a routerLink="/find-a-dan-instructor">Find A DAN Instructor</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a [routerLink]="['/annual']">JOIN - RENEW</a>
                            </li>
                            <li>
                                <a [routerLink]="['/login']">Member Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--/ menu-head -->
    </div>
    <!--/ container -->
</header>