<section class="info-wrapper info-white">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Alert Diver</b><span>MAGAZINE</span></h1>
		  <p class="update-info">Alert Diver is the dive industry’s leading publication. Featuring DAN’s core content of dive safety, research, education and medical information, each issue is a must-read reference, archived and shared by passionate scuba enthusiasts. In addition, Alert Diver showcases fascinating dive destinations and marine environmental topics through images from the world’s greatest underwater photographers and stories from the most experienced and eloquent dive journalists in the business.</p>
		  <div class="inner">
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/stacks/3719a585370942e5859ea933eaa26349"><i class="fa fa-check fa-lg fa-fw"></i>View back issues</a> <a class="btn btn-blue" href="#"><i class="fa fa-info-circle fa-lg fa-fw"></i>Advertise in alert diver</a></p>
	      </div>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-2">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-8 left-text">
		  <h2 class="content-box"><b>March 2023 Features</b></h2>
          <p><b>Page 23 - Special Forces Diver</b><br><b>THE WOLRD's UNDERWATER ELITE |&nbsp;</b>Text by Dennis Guichard | There can be no higher accolade in diving than to be one of the very elite who can call themselves a Special Forces Diver.</p>
		  <p><b>Page 27 - The Inhaca Ocean Alliance</b><br><b>DIVE SLATE |</b> Text by Liz Louw | Reaching a nation by teaching the children about loving the ocean.</p>
		  <p><b>Page 27 - Freediving Instruction</b><br><b>LOCAL DIVING |</b> Text by Charl Marias &amp; Brittnee Engelbrecht - Photos by Nicolene Olckers | The growing global interest in freediving and breath-hold diving has created the need to develop structured and endorsed courses for instructors.</p>
		  <p><b>Page 44 - For The Love Of The Sea</b><br><b>DIVE LOCAL |</b> Text &amp; Photos by Keri Muller | Why do I freedive? For the silence in my head, the shimmering liquid light and the sense of being alone in a wild world.</p>
		  <p><b>On the Cover -&nbsp;</b><i><b>P</b></i><i><b>hoto donated to DAN by Carel van der Colff</b><br>The Klipdish (Rock Fish) are stunning little fishes with various species in and around Cape Town and False Bay. Some can be aggressive at times, but they are mostly very curious. Several species have stunning eyes, while others are shy and seldom seen. This one wanted to be seen and photographed. This is a Speckled Klipfish it’s Latin name Clinus Venustris. I shot this image with my Canon EOS 700D camera in a Sea&amp;Sea RDX640 housing and used the Sea&amp;Sea YS D1 strobes to light the scene.</i></p>
		  <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023?fr=sMmNhYTU4MzY0MTY" target="_blank"><i class="fa fa-check fa-lg fa-fw"></i>Read now</a></p>
        </div>
        
        <div class="col-sm-4 right">		 
          <figure><img src="/assets/images/March-2023-Features.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
  
<section class="articles-sec">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12">
		  <h2><b>Articles</b></h2>
		</div>
		
        <div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-01.jpg" alt="image"></figure>
            <h3>Demo <br>Divers</h3>
            <p>Most people know the historical significance of D-Day, the infamous day when Allied forces landed on the shores of western Europe on June 6, 1944.</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033581">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-02.jpg" alt="image"></figure>
            <h3>Special <br>Forces Diver</h3>
            <p>There can be no higher accolade in diving than to be one of the very elite who can call themselves a Special Forces Diver. Who they are and what...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033589">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-03.jpg" alt="image"></figure>
            <h3>Annual <br>Diving Report</h3>
            <p>As in previous years, the report covers breath-hold diving incidents, DAN’s injury monitoring program, and the geographical distribution of ...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033577">read now</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
</section><!--/ articles-sec -->

<section class="articles-sec light-blue">
    <div class="container">
      <div class="row">
	  
        <div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-04.jpg" alt="image"></figure>
            <h3>Dive <br>Resort Safety</h3>
            <p>Planning a dive vacation and all the associated details can be frustrating The logistics of obtaining gear, arranging transportation to and from dive sites, and booking a place to stay...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033587">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-05.jpg" alt="image"></figure>
            <h3>The Inhaca <br>Ocean Alliance</h3>
            <p>Wide-angle photographers have a fantastic selection of wrecks to shoot in Mauritius. I was amazed to see how spectacular wreck photography can be. So, I thought you...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033591">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-06.jpg" alt="image"></figure>
            <h3>Freediving <br>Instruction</h3>
            <p>The growing global interest in freediving and breath-hold diving has created the need to develop structured and endorsed courses for Instructors. This has also opened...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033593">read now</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
</section><!--/ articles-sec -->

<section class="articles-sec">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12">
		  <h2><b>Articles</b></h2>
		</div>
		
        <div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-07.jpg" alt="image"></figure>
            <h3>For The Love <br>Of The Sea</h3>
            <p>It’s the new mindfulness practice, the trail running of the sea, a great adventure and a way to escape the noise Slowly breathing in and out, calmly holding your breath and sinking along a tropical reef...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033603">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-08.jpg" alt="image"></figure>
            <h3>Shearwater <br>Dive Computers</h3>
            <p>Diving equipment often goes by different names, depending on the training agency or the part of the world where you were trained: What some divers call a dive light, for example, others might call a dive torch...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033607">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-09.jpg" alt="image"></figure>
            <h3>What Computers <br>Don't Know - Part 2</h3>
            <p>A typical blood donation is about half a litre (500mL), and normal adults have 56 litres of blood in their bodies As such, donors give up about 10% of their total blood volume per donation It takes about 24 hours...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033613">read now</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
</section><!--/ articles-sec -->

<section class="articles-sec light-blue">
    <div class="container">
      <div class="row">
	  
        <div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-010.jpg" alt="image"></figure>
            <h3>Scuba Cylinder <br>Rundown</h3>
            <p>The 12-litre aluminium cylinder is by far the most popular, but this does not necessarily mean it is the right one for you. Cylinders come in various sizes and materials, and you can set them up...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033615">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-011.jpg" alt="image"></figure>
            <h3>Terrific <br>Freedive Mode</h3>
            <p>You are a Freediver Take a look at your personal gear It differs from what you would use as a scuba diver: simple designs or ergonomically shaped ones to improve underwater dynamics...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033617">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-012.jpg" alt="image"></figure>
            <h3>After <br>The Accident</h3>
            <p>We all want every dive to be incident- and accident-free, but unfortunately, that is not always the reality. Accidents happen; when they do, few people are lucky enough to walk away...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033619">read now</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
</section><!--/ articles-sec -->

<section class="articles-sec">
    <div class="container">
      <div class="row">
		
        <div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-013.jpg" alt="image"></figure>
            <h3>Analysing Decompression Sickness Risk</h3>
            <p>TFew things are more exciting than the long boat ride to the far reefs north of Sodwana Bay. The sight of the seemingly endless primary dune coastline from out on the backline delights the...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033623">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-014.jpg" alt="image"></figure>
            <h3>Breathing & <br>Buoyancy Control</h3>
            <p>As a child, I was fascinated by how marine creatures held their position in the water. The Nautilus is the one creature that captivated my curiosity and inspired my direction more than...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033625">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-015.jpg" alt="image"></figure>
            <h3>The Benefits <br>Of Being Bald</h3>
            <p>Have you ever wondered if there is a simple way to improve your diving experience? The good news is that there is: being bald! My name is Alex, and I'm bald. So, let me tell you why this is...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033627">read now</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
</section><!--/ articles-sec -->

<section class="articles-sec light-blue">
    <div class="container">
      <div class="row">
	  
        <div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-016.jpg" alt="image"></figure>
            <h3>Diving <br>Etiquette</h3>
            <p>"I've seen things you people wouldn't believe… Divers' nerves on fire off the shoulder of Shark Reef… I watched canister light beams glitter in the dark near the Labyrinths of Thistlegorm...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033630">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-017.jpg" alt="image"></figure>
            <h3>Peter Bennett <br>Researcher Profile</h3>
            <p>Most divers know Peter Brian Bennett, PhD, DSc, as the founder of Divers Alert Network, through which he brought significant changes in how we understand and enact dive safety...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033634">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-018.jpg" alt="image"></figure>
            <h3>The RADD <br>Program</h3>
            <p>Over the last decade or more, there has been an enormous increase in efforts to protect the oceans and their inhabitants. We have become more aware of plastic pollution and the gross...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033635">read now</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
</section><!--/ articles-sec -->

<section class="articles-sec">
    <div class="container">
      <div class="row">
	  
        <div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-019.jpg" alt="image"></figure>
            <h3>Medical-Grade <br>Oxygen</h3>
            <p>DAN introduced the first standardised emergency oxygen course for divers as lay providers in 1991. More people trained in oxygen delivery means that providers in dive locations worldwide...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033636">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-020.jpg" alt="image"></figure>
            <h3>The Story <br>We Get Told</h3>
            <p>Bio: Gareth Lock has been involved in highrisk work since 1989. He spent 25 years in the Royal Air Force in various front-line operational, research and development, and systems...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033637">read now</a></p>
          </div>
        </div>
		
		<div class="col-sm-4 articles-col">
          <div class="articles-info">
            <figure><img src="/assets/images/articles-021.jpg" alt="image"></figure>
            <h3>Oxygen <br>Safety</h3>
            <p>The date was 13 September 2019 For Mirko Locci, a qualified Rescue diver, it was a typical day of diving and helping out at the local dive centre in S’Oru e Mari on the Quatese coast...</p>
		    <p><a target="__blank" class="btn" href="https://issuu.com/dansouthernafrica/docs/adl-march-2023/s/20033638">read now</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
</section><!--/ articles-sec -->
<app-sub-footer></app-sub-footer>