<section class="form-wrap cancellation-survey">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="form-grid">
	      <div class="title">
	        <h2>Cancellation Survey</h2>
		    <p>We are sorry to see go! We would highly appreciate if you would take the time to complete our cancellation survey. This would help us improve the our service.</p>
	      </div><!--/ title -->
		  
		  <form>
			<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">How long have you been a DAN member? *</label>
				    <div class="input-inner row">
				      <div class="col-sm-12 input-radio mrb-10"><label class="radio-container mrb-r"><input type="radio" checked="checked" name="gender"><span class="checkmark"></span>Less than a year</label></div>
				    
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>1-year</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>2-years</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>3-years</label></div>
					  
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>More than 3-years</label></div>
				    </div>
			      </div>
		    </div>
			
			<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">How often did you make use of your membership and the DAN hotline? *</label>
				    <div class="input-inner row">				    
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Once a week</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Once a month</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Once a year</label></div>
					  
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Never</label></div>
				    </div>
			      </div>
		    </div>
			
			<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">What was the main reason for cancelling your membership? *</label>
				    <div class="input-inner row">				    
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Immigrate</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Health reasons</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>No longer needed it</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Financial restrictions</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>It didn't meet my needs</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Found a better alternative</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Customer service was less than expected</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Access to the DAN services was less than expected</label></div>
					  
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Other</label></div>
				    </div>
			      </div>
		    </div>
			
			<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">Did you ever attended a DAN safety workshop or DAN Divers' Day event? *</label>
				    <div class="input-inner row">				    
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Yes</label></div>
					  
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>No</label></div>
				    </div>
			      </div>
		    </div>
			
			<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">Overall, how satisfied were you with the DAN? *</label>
				    <div class="input-inner row">				    
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Very Satisfied</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Satisfied</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Neutral</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Unsatisfied</label></div>
					  
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Very Unsatisfied</label></div>
				    </div>
			      </div>
		    </div>
			
			<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">Will you rejoin as a member in the future? *</label>
				    <div class="input-inner row">				    					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Definitely</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Probably</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Not Sure</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Probably Not</label></div>
					  
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Definitely Not</label></div>
				    </div>
			      </div>
		    </div>
			
			<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">Will you recommend DAN to others? </label>
				    <div class="input-inner row">				    					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Definitely</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Probably</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Not Sure</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Probably Not</label></div>
					  
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Definitely Not</label></div>
				    </div>
			      </div>
		    </div>
			
			<div class="form-group col-sm-12">
			  <label>How can we improve our service?</label>
			  <textarea class="form-control" placeholder=""></textarea>
		    </div>
			
			<div class="form-group col-sm-12">
			  <label>What is your perception of the services DAN provide?</label>
			  <textarea class="form-control" placeholder=""></textarea>
			  <p class="annual-p">Please tell us what you think DAN is all about.</p>
		    </div>
			
			<div class="form-group col-sm-6">
			  <label>First name</label>
			  <input class="form-control" placeholder="John" type="text" value="">
			  <p class="annual-p">Optional</p>
		    </div>
			
			<div class="form-group col-sm-6">
			  <label>Last name</label>
			  <input class="form-control" placeholder="Doe" type="text" value="">
			  <p class="annual-p">Optional</p>
		    </div>
			
			<div class="form-group col-sm-6">
			  <label>Email</label>
			  <input class="form-control" placeholder="example@domain.com" type="text" value="">
			  <p class="annual-p">Optional</p>
		    </div>
			
			<div class="form-group col-sm-6">
			  <label>Phone</label>
			  <input class="form-control" placeholder="+1 999 99-99-99" type="text" value="">
			  <p class="annual-p">Optional</p>
		    </div>
			
			<div class="form-group col-sm-12">
			  <label>Membership Number</label>
			  <textarea class="form-control" placeholder=""></textarea>
			  <p class="annual-p">Optional</p>
		    </div>
			
			<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label mrb-0">Membership Level</label>
					<p class="annual-p mrb-10">Optional</p>
				    <div class="input-inner row">				    					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Standard</label></div>
					  
					  <div class="col-sm-12 input-radio mrb-10"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Plus</label></div>
					  
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span>Master</label></div>
				    </div>
			      </div>
		    </div>
			
			<div class="form-group col-sm-12 text-center">
			  <input class="btn" value="Submit" type="submit">
		    </div>
		  </form>
		  
	    </div><!--/ form-grid -->
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ form-wrap -->
<app-sub-footer></app-sub-footer>