<section class="banner-sub" style="background-image:url(/assets/images/4705174_1240x630_2500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1>ARE YOU READY?? <span>Access your strength, endurance and flexibility</span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</section>
<!--/ banner-sub -->
<section class="about-text about-2 white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <h2> Dive Fitness Overview</h2>
                <p>Even if you’re healthy from a medical standpoint, you’ll still need to consider your physical fitness, which is of utmost importance for safe diving. The level of exertion required for various diving conditions ranges from light to heavy. You should be familiar with both expected and possible conditions at your dive site and consider how your exercise capacity aligns with demand in various situations.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/Simple-Steps-for-a-Safe-Return.png" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black">
    <div class="container">
        <div class="row row-flex">
            <div class="col-sm-12 text-center mrb-30">
                <h1>
                    <b>Are You Physically Fit For Diving?</b>
                </h1>
            </div>
            <div class="col-sm-6 left">
                <h2> Period of Inactivity</h2>
                <p>During the time you weren’t diving, you may have been less physically active in general, you may have gained weight, or you may just be older and have yet to learn your new limits.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4705272_800x500_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 left">
                <h2> Fitness Evaluation</h2>
                <p>DAN can advise you on how to self-evaluate your fitness and when you should seek evaluation by a medical professional. If your fitness needs improvement, make a plan and stick to it. Start as soon as possible to allow enough time to achieve your goals. </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4705315_800x500_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="return-steps return-steps-sub  return-black">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h2>
                        <b>Additional</b>
                        <span>FITNESS RESOURCES</span>
                    </h2>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705354_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Aerobic Exercise Capacity</b>
                    </h3>
                    <p>Your capacity for sustained physical activity depends on the amount of energy your body can produce in a process using oxygen called aerobic capacity.</p>
                    <p class="text-center">
                        <a class="btn" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/DAN-Heart-Reference-Book.pdf">
                            <i class="fa fa-cloud-download fa-lg fa-fw"></i>DOWNLOAD GUIDE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705644_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Fitness For Diving</b>
                    </h3>
                    <p>Diving can be strenuous, and divers must be physically able to <br> both handle themselves and assist their dive buddies if necessary. </p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705678_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Physical Activity</b>
                    </h3>
                    <p>Adults need two types of regular activity to maintain or improve their health — aerobics and strength training.</p>
                    <p class="text-center">
                        <a class="btn" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/DAN-Heart-Reference-Book.pdf">
                            <i class="fa fa-cloud-download fa-lg fa-fw"></i>DOWNLOAD GUIDE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705703_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Finding Your Fitness</b>
                    </h3>
                    <p>Recreational scuba diving is generally categorised as moderate physical activity, but circumstances can make it high intensity.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705768_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>When to Consult a Doctor</b>
                    </h3>
                    <p>Physical activity is beneficial for health, but the transition from a sedentary lifestyle to an active one or a change in the level of activity may be associated with risks, especially in people with preexisting heart disease.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705813_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Physical Activity in Perspective</b>
                    </h3>
                    <p>In general, engaging in regular physical activity reduces a person's risk of death due to heart disease, but in susceptible individuals, vigorous activity can increase the risk of heart attack or sudden cardiac death.</p>
                    <p class="text-center">
                         <a class="btn" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/DAN-Heart-Reference-Book.pdf">
                            <i class="fa fa-cloud-download fa-lg fa-fw"></i>DOWNLOAD GUIDE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
		</div>
	</div>
</section>
<!--/ return-steps -->
<section class="about-text about-black">
    <div class="container">
        <div class="row row-flex">
            <div class="col-sm-6 left-text">
                <h2>Diving After Bariatric Surgery</h2>
                <p>There are a few factors to consider regarding bariatric surgery and diving. And before returning to the water, clearance for full, unrestricted physical activity is required.</p>
                <p>
                    <a class="btn" href="#">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4705824_500x350_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
    </div>
    <!--/ row -->
</section>
<!--/ about-text  -->
<section class="about-text light-blue text-center about-font">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h1>
                        <b>Age-Related</b>
                        <br>
                        <span>CONSIDERATIONS</span>
                    </h1>
                    <p> There is no age limit for diving, but aging is often associated with chronic diseases and declining <br> physical fitness. Health risks associated with diving vary with age, as do health and fitness <br>maintenance requirements. It takes more time for sedentary older people to improve their physical <br> fitness, but the effort is worth it to improve quality of life. </p>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705870_500x350_500.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Venous Bubbles</b>
                    </h3>
                    <p>Older divers are more prone to developing venous gas bubbles after diving. If they get decompression sickness, healing may take longer and be incomplete. That being said, we see proportionally fewer older divers getting DCS because most older divers dive more conservatively..</p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705910_500x350_500.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>The Eyes</b>
                    </h3>
                    <p>The eyes tend to age consistently across the population. Cataracts, glaucoma and surgical corrections of vision are quite common and may affect your ability to dive (or may require modifications). Assess your ability to read gauges without glasses in dim light.</p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705899_500x350_500.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Prostate Health</b>
                    </h3>
                    <p>Older male divers may have developed prostate issues that require adjustments in diving or lifestyle. You should learn about possible interactions of some common drugs with an enlarged prostate (be aware of some seasickness drugs), and how to regulate frequent urges to urinate.</p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705926_500x350_500.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Medications</b>
                    </h3>
                    <p>If you are taking prescription medications, ask DAN or your physician how these might interact with diving. Even over-the-counter drugs should be considered since some of them may cause complications.</p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
		</div>
	</div>
</section>
<!--/ return-steps -->
<section class="return-steps return-steps-sub  return-black">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h2>
                        <b>Refresher Tips</b>
                        <span>BY AGE GROUP</span>
                        </h2>
                        <p>Getting older doesn’t have to mean giving up on diving, but divers over 50 should be aware of common medical issues that may affect dive safety.</p>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-3 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706033_500x350_500.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>18-35 Years Old</b>
                    </h2>
                    <h4>
                        <b> Health</b>
                    </h4>
                    <p>Consult UHMS RSTC form</p>
                    <h4>
                        <b> Fitness</b>
                    </h4>
                    <p> Personal activity history</p>
                    <h4>
                        <b> Skills</b>
                    </h4>
                    <p> Supervised skill drills</p>
                    <h4>
                        <b> Procedures</b>
                    </h4>
                    <p> N/A</p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-3 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706051_500x350_500.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>36-45 Years Old</b>
                    </h2>
                    <h4>
                        <b> Health</b>
                    </h4>
                    <p>Annual medical </p>
                    <h4>
                        <b> Fitness</b>
                    </h4>
                    <p>Self test </p>
                    <h4>
                        <b>Skills</b>
                    </h4>
                    <p> Supervised skill drills</p>
                    <h4>
                        <b> Procedures</b>
                    </h4>
                    <p> Increase safety deco margin</p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-3 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706066_500x350_500.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>46-65 Years Old</b>
                    </h2>
                    <h4>
                        <b>Health </b>
                    </h4>
                    <p>Annual medical</p>
                    <h4>
                        <b>Fitness </b>
                    </h4>
                    <p>Supervised test </p>
                    <h4>
                        <b> Skills</b>
                    </h4>
                    <p> Refresher course</p>
                    <h4>
                        <b> Procedures </b>
                    </h4>
                    <p>Dive conservatively </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-3 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706079_500x350_500.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>66+ Years Old</b>
                    </h2>
                    <h4>
                        <b>Health </b>
                    </h4>
                    <p> Entry-level medical evaluation</p>
                    <h4>
                        <b>Fitness </b>
                    </h4>
                    <p> Medically supervised test</p>
                    <h4>
                        <b>Skills </b>
                    </h4>
                    <p>Refresher course </p>
                    <h4>
                        <b>Procedures </b>
                    </h4>
                    <p>Avoid decompression dive, dive conservatively </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
		</div>
	</div>
</section>
<!--/ return-steps -->
<section class="return-steps return-steps-sub ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h2>
                        <b>Additional</b>
                        <span>AGE-RELATED RESOURCES</span>
                    </h2>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706695_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Divers Over 50</b>
                    </h3>
                    <p>Getting older doesn’t have to mean give up on diving, but divers over 50 should be aware of common medical issues that may interfere with safe diving.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706760_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Cardiovascular Drugs</b>
                    </h3>
                    <p>Some drugs may have side effects that preclude diving. Divers should be very familiar with the side effects of any drugs they take and should discuss them with their physician.</p>
                    <p class="text-center">
                         <a class="btn" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/DAN-Heart-Reference-Book.pdf">
                            <i class="fa fa-cloud-download fa-lg fa-fw"></i>DOWNLOAD GUIDE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706775_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Seasickness</b>
                    </h3>
                    <p>Unmanaged seasickness will make any boat trip miserable, and if relief cannot be found the effects can pose a serious threat to a diver’s health.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i> READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706796_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Guidelines for Seniors</b>
                    </h3>
                    <p>As divers get older, DAN® recommends getting annual physicals, staying active and fit, diving within physical limits and avoiding difficult or dangerous diving conditions.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706816_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Defensive Diving</b>
                    </h3>
                    <p>Understanding the risks in diving is a critical step in preparedness and early recognition of issues can mitigate risks before they become troublesome.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706821_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Eyes and Diving</b>
                    </h3>
                    <p>Our eyes normally exist in a world where the pressure around them is the result of the combined weight of all of the gases in the earth’s atmosphere.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706867_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Prescription Dive Masks</b>
                    </h3>
                    <p>Being able to see clearly is important in the quality and safety of every dive. For divers who require refractive correction, there are many options for prescription masks that can improve your vision while underwater.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706872_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Over-the-Counter Medications</b>
                    </h3>
                    <p>The fact that these drugs are readily available carries with it a sometimes-faulty assumption that all OTC medications are entirely safe, whether you’re topside or underwater.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4706882_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Joint Replacement Surgery</b>
                    </h3>
                    <p>There are several aspects to consider when returning to diving after a joint replacement, including the risk of damage to the replaced joint, emergency response and the risk of decompression sickness (DCS).</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-12 rs-coll">
                <p class="text-center">
                    <a class="btn btn-blue" [routerLink]="['/return']">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>BACK TO MAIN PAGE </a>
                </p>
            </div>
            <!--/ row -->
		</div>
	</div>
</section>
<!--/ return-steps -->
<app-sub-footer></app-sub-footer>