<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>DAN Services</b></h1>
		  <p class="update-info">DAN has built a reputation that people can trust. This is due, in part, to the consistent efforts made to reinvest in programs for diver training, education and dive-specific medical research. Our reputation has also been forged through the operation of our 24/7 emergency hotline and medical information line. The diving community can depend upon DAN to be there when we are needed most.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>24/7 Medical Services</b></h2>
          <p>DAN’s 24/7 Emergency Hotline and Medical Information Line give you direct access to the experts in dive medicine. Our doctors, nurses and paramedics are standing by 24 hours a day, 365 days a year to provide information, assist in emergencies and coordinate care or evacuations. Your membership supports the experts who support you.</p>
		  <h3 class="content-box"><b>Links</b></h3>
          <p><a [routerLink]="['/find-a-dive-doctor']" rel="" target="_self">Find Dive Doctors</a><br><a [routerLink]="['/malaria']" rel="" target="_self">Malaria Info</a>&nbsp;<br><a [routerLink]="['/physician-network']" rel="" target="_self">Physician Network</a>&nbsp;<br><a [routerLink]="['/chamber-network']" rel="" target="_self">Chamber Network</a>&nbsp;<br><a [routerLink]="['/medical-resources']" rel="" target="_self">Medical Resources</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/Medical-Services.png" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
  
<section class="about-text">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>Training & Education</b></h2>
          <p>Promoting dive safety through education is at the core of DAN’s mission. With the support of our members DAN offers first-class dive safety education and training to divers, dive professionals, dive centre operators, and medical professionals. DAN’s ongoing commitment to diver safety ensures our instructors are the most capable in the industry.</p>
		  <h3 class="content-box"><b>Links</b></h3>
          <p><a [routerLink]="['/provider-courses']" rel="" target="_self">Provider Courses</a>&nbsp;<br><a [routerLink]="['/instructor-courses']" rel="" target="_self">Instructor Courses</a>&nbsp;<br><a [routerLink]="['/find-a-dan-instructor']" rel="" target="_self">Find DAN Instructors</a>&nbsp;<br><a [routerLink]="['/gear-rental']" rel="" target="_self">Gear Rental</a>&nbsp;<br><a [routerLink]="['/test-station-resources']" rel="" target="_self">Oxygen Resources</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/Training-&-Education.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>DAN Research</b></h2>
          <p>DAN’s dedicated team of researchers work tirelessly to improve our understanding of the most relevant dive safety and medical issues. Their ongoing projects and studies shape dive safety guidelines, making the sport safer for all divers.</p>
		  <h3 class="content-box"><b>Links</b></h3>
          <p><a [routerLink]="['/current-projects']" rel="" target="_self">Current Projects</a>&nbsp;<br><a [routerLink]="['/completed-projects']" rel="" target="_self">Completed Projects</a>&nbsp; <br><a [routerLink]="['/online-seminars']" rel="" target="_self">Online Seminars</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/DAN-Research.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
  
<section class="about-text">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>The DAN Shop</b></h2>
          <p>Every day, divers and emergency-response personnel around the world trust DAN’s oxygen units and first-aid kits to perform in an emergency. That’s because DAN’s products have been developed, tested and refined with input from leading doctors and researchers to meet the discriminating requirements of the diving community. Be ready to respond. Explore the DAN Shop to make sure you are prepared with the latest safety equipment to effectively handle any dive emergency.</p>
		  <p><a class="btn" [routerLink]="['/danshop']" target="_blank"><i class="fa fa-check"></i>START SHOPPING</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/The-DAN-Shop.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>