<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Emergency</b><span>HOTLINE</span></h1>
		  <p class="update-info">DAN’s emergency and information hotlines are staffed by medically trained diving professionals, our physicians, medics and emergency medical technicians dedicated to providing assistance to divers in need. Our services include medical information, referrals and evacuation assistance. In addition, members benefit from medical support from international diving and hyperbaric physicians.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="tag-wrap">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <h2>Take Note <span>ONLY MEDICAL CALLS</span></h2>
		<div class="inner">
   		  <p>Please note that our medical information specialists cannot sell memberships. For these services, please call +27 11 266 4900 during our regular business hours or join or renew directly through the DAN website.</p>
	    </div>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ tag-wrap -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>Emergency Hotline</h2>
		<p>DAN's emergency hotline staff members are on call 24 hours a day, 365 days a year, to provide information, assist with care coordination and evacuation assistance. This number should also be used to access the DAN emergency  evacuation benefits and services – even when the emergency is not related to diving.</p>
		<h3>Call +27 828 10 60 10</h3>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3294735_5568x3712_1000.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Medical Information Line</h2>
		<p>If you have a diving medical query that isn’t an emergency, you can call our medical information line during regular business hours and speak directly to one of our medical information specialists. You can also email your request to danmedic@dansa.org.</p>
		<h3>Call +27 828 10 60 10</h3>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3348444_5568x3712_1000.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>Frequently Asked Questions</h2>
		<p>Many divers have the same questions when it comes to medical conditions and concerns. DAN makes online answers to these questions available to you whenever you need them; if the answers don't give you all the information you need, call our medical information line to find out more or obtain a physician referral.</p>
		<p><a href="mailto:danmedic@dansa.org?subject=Dive%20Medical%20Question" class="btn"><i class="fa fa-envelope-o fa-lg fa-fw"></i>Ask a question</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3349974_5568x3712_1000.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Medical Disclaimer</h2>
		<p>Many divers have the same questions when it comes to medical conditions and concerns. DAN makes online answers to these questions available to you whenever you need them; if the answers don't give you all the information you need, call our medical information line to find out more or obtain a physician referral.</p>
		<h3>Call +27 828 10 60 10</h3>
		<p><a href="mailto:danmedic@dansa.org?subject=Dive%20Medical%20Question" class="btn"><i class="fa fa-envelope-o fa-lg fa-fw"></i>Ask a question</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3348665_5568x3712_1000.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>