<section class="info-wrapper contact-map">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text mrb-60">
		  <h1 class="text-show"><b>Find a DAN Instructor</b><br>WITHIN SOUTHERN AFRICA</h1>
		  <p class="mrt-50 update-info">DAN has Instructors around Southern Africa!</p>
		</div>
		
		<div class="map">
			<div class="elfsight-app-c793ae02-a17d-4358-b541-d8454200add8"></div>
		</div><!--/ map -->
	  </div><!--/ col -->
	  
    </div><!--/ row -->
  </div>
</section><!--/ info-wrapper --> 
<app-sub-footer></app-sub-footer>