<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>First Aid Courses </b><span>FOR SCUBA DIVERS</span></h1>
		  <p class="update-info">Whether it is being on the scene of an accident or witnessing a health-related emergency, most people will be involved in a crisis situation at some point in their lives. Are you prepared to help? Do you have the skills to respond quickly?</p>
		  <p class="update-info mrt-30">Developed by medical experts, DAN’s courses are easy to understand and designed to provide you with the skills and confidence you need to respond in emergency situations. DAN first aid courses prepare divers to manage injuries related to scuba diving. All courses meet the 2015 ILCOR and AHA CPR guidelines. The training can also extend to other environments. Isn’t it worth a few hours one evening or weekend to learn the skills that could save a life?</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="tag-wrap">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <h2>Developed by <span>DIVE PHYSICIANS & <br>SCUBA EDUCATORS</span></h2>
	    </div>
	  </div>
          
  </div><!--/ row -->
</section><!--/ tag-wrap -->

<section class="courses-text light-blue">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <figure><img src="/assets/images/286673_967x1028_500.png" alt="image" width="100"></figure>
	    <h2><b>Emergency Oxygen for Scuba Diving Injuries</b></h2>
		<h3>Why take this course?</h3>
		<p>When a diving accident occurs, being able to recognize the problem and respond with the appropriate care can speed the diver's recovery and minimize lasting effects. Oxygen first aid provides needed oxygen to body tissues, enhances the elimination of inert gases such as nitrogen obtained from breathing gases, and helps shrink any gas bubbles that may have developed during ascent — bubbles that contribute to decompression sickness and arterial gas embolism. Supplemental oxygen also can help minimize or eliminate existing symptoms and reduce further injury until medical services are engaged.</p>
		<h3>What will you learn?</h3>
		<p>This course will teach you the techniques of emergency oxygen administration for suspected diving injuries and nonfatal drowning. You will learn the fundamentals of recognizing dive-injuries along with response and management.</p>
		<h3>What will you learn?</h3>
		<ul>
		  <li>Atmospheric gases</li>
		  <li>Respiration and circulation</li>
		  <li>Decompression illness</li>
		  <li>Oxygen and diving injuries</li>
		  <li>Oxygen safety</li>
	    </ul>
		<h3>You will develop the following skills</h3>
		<ul>
		  <li>Oxygen equipment identification, assembly and disassembly</li>
		  <li>Scene safety assessment</li>
		  <li>Initial assessment</li>
		  <li>Use of Demand inhalator valve, Nonrebreather mask,</li>
		  <li>Use of Bag-valve mask, Manually triggered ventilator</li>
		  <li>Creation of an Emergency assistance plan</li>
	    </ul>
	    <p><a class="btn btn-green" href="https://dan-southern-africa.teachable.com/p/emergency-oxygen-for-scuba-diving-injuries/?preview=logged_out" target="_blank"><i class="fa fa-desktop fa-lg fa-fw"></i> Start online course</a></p>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ courses-text  -->

<section class="courses-text">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <figure><img src="/assets/images/286678_976x976_500.jpg" alt="image" width="100"></figure>
	    <h2><b>First Aid for Hazardous Marine Life Injuries</b></h2>
		<h3>Why take this course?</h3>
		<p>Divers may experience unintentional encounters with fire coral, jellyfish and other marine creatures. Any time a person enters the marine environment there is a chance of being stung, bitten or cut. This course will teach you where you can expect to encounter potentially hazardous marine life and how to provide first aid when injuries occur. The more you know about the marine environment, the greater your chances of having safe, memorable dives.</p>
		<h3>What will you learn?</h3>
		<p>This DAN First Aid for Hazardous Marine Life Injuries course teaches divers how to identify and avoid potentially harmful marine life. It also provides first aid skills to minimize these injuries and reduce discomfort.</p>
		<h3>You will learn about</h3>
		<ul>
		  <li>Vertebrate and invertebrate sources of envenomations</li>
		  <li>Traumatic injuries</li>
		  <li>Life-threatening complications</li>
		  <li>Seafood poisonings</li>
		  <li>Avoidance of marine life injuries</li>
	    </ul>
		<h3>You will develop the following skills</h3>
		<ul>
		  <li>Initial assessment</li>
		  <li>Shock management</li>
		  <li>Treatment of stinging and spiny envenomations and injuries</li>
		  <li>Control of external bleeding</li>
		  <li>Pressure immobilisation technique</li>
		  <li>Severe allergic reactions</li>
		  <li>Creation of an emergency assistance plan</li>
	    </ul>
	    <p><a class="btn btn-green" href="https://dan-southern-africa.teachable.com/p/first-aid-for-hazardous-marine-life-injuries" target="_blank"><i class="fa fa-desktop fa-lg fa-fw"></i> Start online course</a></p>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ courses-text  -->

<section class="courses-text light-blue">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <figure><img src="/assets/images/289473_848x848_500.jpg" alt="image" width="100"></figure>
	    <h2><b>Neurological Assessment</b></h2>
		<h3>Why take this course?</h3>
		<p>Stroke is the third-leading cause of death and the leading cause of long-term disability according to the American Heart Association. Decompression illness (DCI) can present as a neurological injury associated with scuba diving. Rapid recognition of and response to a suspected neurological injury, regardless of cause, can help convince the injured person of the need for emergency oxygen and help the responder monitor the injured person's condition and report findings to emergency medical services (EMS).</p>
		<h3>What will you learn?</h3>
		<p>The DAN Neurological Assessment course focuses on how to obtain essential information about an individual involved in a dive emergency or suspected of having a stroke and what information to relay to EMS.</p>
		<h3>You will learn about</h3>
		<ul>
		  <li>Nervous system overview</li>
		  <li>Stroke</li>
		  <li>Decompression illness</li>
		  <li>Neurological assessments</li>
	    </ul>
		<h3>You will develop the following skills</h3>
		<ul>
		  <li>Making a F-A-S-T assessment</li>
		  <li>Taking a history</li>
		  <li>Monitoring vital signs</li>
		  <li>Assessing cranial nerve function</li>
		  <li>Determining mental function</li>
		  <li>Evaluating motor function</li>
		  <li>Assessing coordination and balance</li>
	    </ul>
	    <p><a class="btn btn-green" href="https://dan-southern-africa.teachable.com/p/neurological-assessment/?preview=logged_out" target="_blank"><i class="fa fa-desktop fa-lg fa-fw"></i> Start online course</a></p>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ courses-text  -->

<section class="courses-text">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <figure><img src="/assets/images/289478_1537x1537_500.jpg" alt="image" width="100"></figure>
	    <h2><b>Basic Life Support: CPR & First Aid</b></h2>
		<h3>Why take this course?</h3>
		<p>The American Heart Association states that cardiopulmonary resuscitation (CPR) provided by a bystander immediately after sudden cardiac arrest can double or triple a victim's chance of survival. Brain death starts to occur four to six minutes after someone experiences cardiac arrest if no CPR and defibrillation occurs during that time. This course will help prepare you to handle cardiovascular events and other life-threatening incidents. Meets ILCOR/AHA 2010 Guidelines.</p>
		<h3>What will you learn?</h3>
		<p>You will learn how to perform CPR, use an automated external defibrillator (AED) and become familiar with the signs and symptoms associated with heart attacks and respiratory arrest. Managing shock and controlling external bleeding are other skills covered that can help save lives.</p>
		<h3>You will learn about</h3>
		<ul>
		  <li>Primary & Secondary Assessments</li>
		  <li>Signs & symptoms of common medical emergencies</li>
		  <li>Stroke Assessment</li>
	    </ul>
		<h3>You will develop the following skills</h3>
		<ul>
		  <li>Initial and secondary assessments</li>
		  <li>Recovery position technique</li>
		  <li>CPR techniques</li>
		  <li>Automated external defibrillator (AED) use</li>
		  <li>Obstructed airway management</li>
		  <li>Control of external bleeding</li>
		  <li>Bandaging, wound management and splinting</li>
		  <li>Shock management</li>
	    </ul>
	    <p><a class="btn btn-green" href="https://dan-southern-africa.teachable.com/p/basic-life-support-cpr-first-aid/?preview=logged_out" target="_blank"><i class="fa fa-desktop fa-lg fa-fw"></i> Start online course</a></p>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ courses-text  -->

<section class="courses-text light-blue">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <figure><img src="/assets/images/289483_1260x1251_500.jpg" alt="image" width="100"></figure>
	    <h2><b>Diving Emergency Management Provider</b></h2>
		<h3>Why take this course?</h3>
		<p>When a dive accident occurs, multiple things happen. Separate small problems can compound to create a larger problem. DAN's Diving Emergency Management Provider (DEMP) program prepares you to handle the kinds of multifaceted accidents that may occur. It's an easy and fast way to take four of DAN's core first-aid courses in one program.</p>
		<h3>What will you learn?</h3>
		<p>The DEMP program prepares you to address multiple problems at once and with confidence. It combines the knowledge and skills from the following four courses into a single approach to managing diving emergencies: Basic Life Support: CPR and First Aid, Neurological Assessment, Emergency Oxygen for Scuba Diving Injuries and First Aid for Hazardous Marine Life Injuries.</p>
		<h3>You will learn the content & skills of the four courses</h3>
		<ul>
		  <li>CPR & use of AEDs</li>
		  <li>Neurological assessments</li>
		  <li>Decompression illness and stroke</li>
		  <li>Atmospheric gases</li>
		  <li>Respiration and circulation</li>
		  <li>Oxygen safety</li>
		  <li>Oxygen first aid for scuba diving injuries</li>
		  <li>Envenomations from marine life</li>
		  <li>Traumatic injuries</li>
		  <li>Life-threatening complications</li>
		  <li>Seafood poisonings</li>
		  <li>Avoidance of marine life injuries</li>
	    </ul>
	    <p><a class="btn btn-green" href="https://dan-southern-africa.teachable.com/p/demp/?preview=logged_out" target="_blank"><i class="fa fa-desktop fa-lg fa-fw"></i> Start online course</a></p>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ courses-text  -->

<section class="tag-wrap">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <h2>Professional Divers <span>IS DIVING PART OF JOB</span></h2>
		<div class="inner">
   		  <p>The Diving First Aid for Professional Divers (DFA Pro) course is aimed at commercial, professional, scientific divers and aquarium staff and volunteers and meets the 2010 Guidelines for Resuscitation & OSHA. The course is comprised of information from the Emergency Oxygen for Scuba Diving Injuries, Neurological Assessment, First Aid for Hazardous Marine Life Injuries and CPR HCP plus Bloodborne pathogens.</p>
	    </div>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ tag-wrap -->

<section class="courses-text">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <figure><img src="/assets/images/289488_1376x1376_500.jpg" alt="image" width="100"></figure>
	    <h2><b>Diving First Aid for Professional Divers</b></h2>
		<h3>Why take this course?</h3>
		<p>People who dive as a part of their job or volunteer duties often need first-aid training to manage unique situations that may occur. DAN's Diving First Aid for Professional Divers (DFA Pro) course is designed for commercial, professional, aquarium and scientific divers, providing first-aid knowledge and skills specific to these work environments. It also provides rescue management skills for dive masters and dive instructors.</p>
		<h3>What will you learn?</h3>
		<p>DFA Pro is comprised of information from the Emergency Oxygen for Scuba Diving Injuries, Neurological Assessment, First Aid for Hazardous Marine Life Injuries and CPR HCP courses. It meets U.S. Occupational Safety and Health Administration (OSHA) guidelines for workplace CPR and first aid.</p>
		<h3>You will learn about</h3>
		<ul>
		  <li>Anatomy, physiology, bloodborne pathogens</li>
		  <li>Decompression Illness and Oxygen First Aid</li>
		  <li>Response, assessment, and medical emergency management</li>
	    </ul>
		<h3>You will develop the following skills</h3>
		<ul>
		  <li>Scene safety assessment</li>
		  <li>Initial and secondary assessments</li>
		  <li>One- and two-person CPR for adults, children and infants</li>
		  <li>Automated external defibrillator (AED) use</li>
		  <li>Obstructed airway management</li>
		  <li>Oxygen first aid administration</li>
		  <li>F-A-S-T assessment</li>
		  <li>Wound management and bandage and splint application</li>
		  <li>Control of external bleeding</li>
		  <li>Pressure immobilization technique</li>
		  <li>Severe allergic reaction management</li>
	    </ul>
	    <p><a class="btn btn-green" href="https://dan-southern-africa.teachable.com/p/dfa-pro-provider-course/?preview=logged_out" target="_blank"><i class="fa fa-desktop fa-lg fa-fw"></i> Start online course</a></p>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ courses-text  -->

<section class="tag-wrap">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <h2>Health Care Providers <span>A HIGHER LEVEL</span></h2>
		<div class="inner">
   		  <p>The CPR Health-Care Provider with First Aid course teaches 2-person techniques of basic life support for adults, children and infants. It includes First-Aid and BLS skills applicable to the diving market, resuscitation techniques for the nondiving health-care market and skills to meet the 2010 ILCOR and AHA CPR guidelines.</p>
	    </div>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ tag-wrap -->

<section class="courses-text">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <figure><img src="/assets/images/289493_1537x1537_500.jpg" alt="image" width="100"></figure>
	    <h2><b>CPR Health-Care Provider with First Aid</b></h2>
		<h3>Why take this course?</h3>
		<p>Cardiovascular diseases are the most common cause of death worldwide. As our population ages, the incidence of these diseases will increase, as will the likelihood of needing to manage a cardiovascular event in both your diving and nondiving activities. This course will help prepare you to handle these events as well as other life-threatening incidents.</p>
		<h3>What will you learn?</h3>
		<p>This course will teach you team care CPR and first -aid skills including one- and two-person CPR for adults, children and infants as well as pulse checks. Learn to recognize the signs and symptoms associated with cardiovascular diseases such as heart attack and respiratory arrest and proper methods of shock and wound management. This course meets the current guide-lines issued by the International Liaison Council on Resuscitation, the American Heart Association and the U.S. Occupational Safety and Health Administration (OSHA).</p>
		<h3>You will learn about</h3>
		<ul>
		  <li>Health-Care provider level basic life support</li>
		  <li>First aid assessments</li>
		  <li>Upper Airway Suctioning</li>
		  <li>You will develop the following skills</li>
	    </ul>
		<h3>Scene safety assessment</h3>
		<ul>
		  <li>Initial assessments & positioning for care</li>
		  <li>One- and two-person CPR for adults, children and infants</li>
		  <li>Automated external defibrillator (AED) use</li>
		  <li>Obstructed airway management</li>
		  <li>Suctioning</li>
		  <li>Wound management, bandage and splint application</li>
		  <li>Shock management</li>
	    </ul>
	    <p><a class="btn btn-green" href="https://dan-southern-africa.teachable.com/p/cpr-health-care-provider-with-first-aid/?preview=logged_out" target="_blank"><i class="fa fa-desktop fa-lg fa-fw"></i> Start online course</a></p>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ courses-text  -->
<app-sub-footer></app-sub-footer>