<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>International DAN</b></h1>
		  <p class="update-info">The International DAN (IDAN) is comprised of five independent DAN organisations around the world to provide expert emergency medical and referral services.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>5 Independent DAN Organisations</b></h2>
          <p>These regional networks have pledged to uphold DAN's mission and to operate under protocols agreed by the International DAN. Each IDAN member organisation is a non-profit, independently administered entity. Each regional DAN depends on the support of local divers to provide hotline, emergency, safety and educational services. In addition, each country has its own rules and regulations regarding insurance.</p>
          <ul>
		    <li><a href="https://www.diversalertnetwork.org" rel="noopener noreferrer" target="_blank">DAN America</a></li>
			<li><a href="https://www.daneurope.org" rel="noopener noreferrer" target="_blank">DAN Europe</a></li>
			<li><a href="https://www.danjapan.gr.jp" rel="noopener noreferrer" target="_blank">DAN Japan</a></li><li>DAN Southern Africa</li>
			<li><a href="http://www.danap.org/index.php" rel="noopener noreferrer" target="_blank">DAN Asia Pacific</a></li>
		  </ul>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/Independent-DAN-Organisations.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->
  
<section class="tag-wrap">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <h2 class="mrb-40">International DAN <span>WORLDWIDE NETWORK</span></h2>
		<div class="inner">
   		  <p>Today the International DAN is a worldwide Network of multilingual 24 hours diving emergency Alarm Centres, over 500 hyperbaric facilities and a growing number of diving-hyperbaric specialists to treat diving emergencies and to accept diving medicine referrals. Every year the DAN Hotlines receive more than 15000 diving emergency calls, and the DAN Diving Medical Officers (DMO) answer to thousands of medical and safety questions. Over 500,000 DAN members around the world benefit from insured Emergency Medical Services and Medical and Hyperbaric Teatment worldwide.</p>
	    </div>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ tag-wrap -->