<style>
	.about-text.about-black h1 { color: #ffffff; }
</style>
<section class="banner-sub" style="background-image:url(/assets/images/4944532_1240x630_2500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1>TRAVEL SAFELY <span>Know the health and safety requirements for your destination </span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</section>
<!--/ banner-sub -->
<section class="about-text about-2 white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <h2>
                    <b>The Hazards of Travel</b>
                </h2>
                <p>Public health authorities consider the health hazards and risks in a community, including but not limited to injuries and transmissible diseases. The hazard of transmissible diseases exists all over the world, but the risk of being affected with a specific disease depends on whether the disease is endemic, an isolated outbreak, an epidemic or a pandemic. Authorities such as the CDC provide epidemiological outlooks for specific geographic regions.</p>
                <ul>
                    <li>
                        <i>Travellers are exposed to other hazards, including traffic, activity-related injuries, environmental exposure, and limited access to healthcare.</i>
                    </li>
                    <li>
                        <i>Divers should consider availability of emergency services at their destinations, including recompression chambers that treat divers.</i>
                    </li>
                    <li>
                        <i> Read the <a href="https://sacoronavirus.co.za/" target="_blank">South African COVID-19 Resource Portal</a> and the CDC’s <a href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/index.html" target="_blank">Travel and COVID-19</a> page before you plan any international travel. </i>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/Simple-Steps-for-a-Safe-Return.png" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue about-font">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30 text-center">
                <div class="inner inn-er">
                    <h1>
                        <b>Dive Locations</b>
                        <br>
                        <span> SAFETY REQUIREMENTS</span>
                    </h1>
                    <p>Do your homework before you depart to limit potential issues at your destination.</p>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944595_800x500_1000.jpg" class="fill" alt="">
                </figure>
                <h2>
                    <b>Health and Safety Requirements</b>
                </h2>
                <p>Whether you are traveling domestically or abroad, do your research before you go. Check local health and safety requirements, travel restrictions, quarantines, recommended vaccinations and tests, etc.</p>
                <p> Also identify and evaluate emergency medical care and hospitalisation capabilities at your destination, particularly if you have a pre-existing medical condition.</p>
                <ul>
                    <li>
                        <i> Determine the status of COVID-19 infection in the area, considering whether the spread of the disease is stable, increasing or decreasing. Find out if any quarantine requirements are in place.</i>
                    </li>
                    <li>
                        <i> Learn what documentation is required for entry. Some places may require proof of COVID-19 vaccination, for instance. </i>
                    </li>
                    <li>
                        <i> Research the availability and cost of health care services in the area. It is generally good practice to prepare for eventualities, especially when you are headed to remote locations with limited medical services.</i>
                    </li>
                </ul>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4944600_800x500_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>Local Dive Operators</b>
                    </h2>
                    <p>Learn what steps dive operations are taking to make diving safe and enjoyable while protecting your health. They should be able to provide you with enough information to allow you to make good, informed decisions.</p>
                    <ul>
                        <li>
                            <i> Ask about refresher course offerings.</i>
                        </li>
                        <li>
                            <i> Inquire about safety protocols, emergency action planning and emergency training.</i>
                        </li>
                        <li>
                            <i> Learn about the type of diving in the area and the level of fitness required.</i>
                        </li>
                    </ul>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
        </div>
    </div>
</section>
<!--/ return-steps -->
<section class="about-text about-black text-center about-font">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h1>
                        <b>Dive Accident & Travel</b>
                        <br>
                        <span> INSURANCE COVERAGE</span>
                    </h1>
                    <p> Before you embark on adventure, be prepared for the unexpected. Always dive and travel with the proper coverage in place. </p>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-4 right mrb-50">
                <div class="info">
                    <figure>
                        <img src="/assets/images/4944605_800x500_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>Dive Accident Cover</b>
                    </h2>
                    <p>Before you go on any trip, make sure you have adequate protection against unforeseen events. Divers know the importance of having <a [routerLink]="['/annual']">dive accident coverage</a> to cover the costs of dive emergencies. </p>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-4 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705644_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>What’s Covered</b>
                    </h2>
                    <p>Your primary medical insurance may exclude diving as a hazardous recreational activity and/or may not provide coverage when you are traveling out of your home country. Even if your primary health insurance does provide coverage, it may pay only a minimal amount for chamber treatments.</p>
                    <p class="text-center">
                        <a class="btn" [routerLink]="['/annual']">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>DIVE COVERAGE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4705678_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>Travel Insurance</b>
                    </h2>
                    <p>In addition to dive accident coverage, it is also important to consider purchasing travel insurance for your trips. Some destinations now require proof of travel insurance with medical protection for the duration of your trip to gain entry. Check your destination’s requirements prior to departing for your trip. </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
        </div>
    </div>
</section>
<!--/ return-steps -->
<section class="about-text light-blue text-center about-font">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-50">
                <div class="inner inn-er">
                    <h1>
                        <b>Additional Travel</b>
                        <br>
                        <span>SAFETY RESOURCES</span>
                    </h1>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944615_500x350_1000.jpg" class="fill" alt="">
                </figure>
                <h2>
                    <b>Dive Cover Vs. Travel Insurance</b>
                </h2>
                <p>Travellers often purchase travel insurance that has some level of protection against unexpected costs arising from flight delays, trip cancellation or damage to a rental car.</p>
                <p class="text-center">
                    <a class="btn" href="#">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                </p>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4944620_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>Medical Emergencies Abroad</b>
                    </h2>
                    <p>Divers have the unique opportunity to explore remote areas of our ocean planet. Unfortunately, a dive trip can quickly turn into a misadventure with expensive consequences.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4944625_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>Dive Operations & COVID-19</b>
                    </h2>
                    <p>These FAQs are addressed to dive operators but can be used by divers to assess whether their dive operators are adhering to safety guidelines.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right mrb-50">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4944635_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>When Should I Call My Doctor?</b>
                    </h2>
                    <p>If you start feeling ill soon after a dive, it is likely related to diving, but other, life-threatening conditions may occur coincidentally. While seeking medical evaluation, you should receive first aid surface oxygen.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-12 rs-coll">
                <p class="text-center">
                    <a class="btn btn-blue" [routerLink]="['/return']">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>BACK TO MAIN PAGE </a>
                </p>
            </div>
            <!--/ row -->
        </div>
    </div>
</section>
<!--/ return-steps -->
<app-sub-footer></app-sub-footer>
