<section class="info-wrapper light-blue ">
  <div class="container">
    <div class="row">
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Online</b><span>SEMINARS</span></h1>
		  <p class="update-info mrt-40">For those who wish to continue their education even further, DAN Research offers a selection of online seminars on topics of interest to divers, including decompression illness and ear issues.</p>
        </div>
	  </div>
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">I May Be Bent... Now What?</h2>
		  <p class="mrb-30">This lecture is an overview of decompression injuries, symptoms and treatment methods. The lecture also provides perspective on what role DAN has in a diving injury and what a diver can expect to encounter when being treated. </p>
          <p class="mrb-30"><b>Est. Time: 40 minutes</b></p>
          <p class="yt-btn"><a href="https://www.youtube.com/channel/UCzlOS5H3Hf5hTqaNHfKzxyg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
        </div>
        
        
        <div class="col-sm-6 right">		 
        <iframe src="https://www.youtube.com/embed/dBn9qoAPY1Q?rel=0" frameborder="0" width="100%" height="400px"></iframe>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
            <h2 class="content-box mrb-20">Defining Dive Safety</h2>
            <p class="mrb-30">Dive injuries are usually the result of a chain or sequence of events rather than single factor. This presentation provides key elements of focus that can direct a diver’s decisions to interrupt the chain of events and prevent injury or incident. </p>
            <p class="mrb-30"><b>Est. Time: 54 minutes</b></p>
            <p class="yt-btn"><a href="https://www.youtube.com/channel/UCzlOS5H3Hf5hTqaNHfKzxyg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
          </div>
          
          
          <div class="col-sm-6 right">		 
          <iframe src="https://www.youtube.com/embed/Ig4SLbvJqzc?rel=0" frameborder="0" width="100%" height="400px"></iframe>
          </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">How Good Is Your EAP?</h2>
		  <p class="mrb-30">This presentation by Marty McCafferty, discusses what information is most valuable at the time of an emergency and the rationale for having such information. </p>
          <p class="mrb-30"><b>Est. Time: 41 minutes</b></p>
          <p class="yt-btn"><a href="https://www.youtube.com/channel/UCzlOS5H3Hf5hTqaNHfKzxyg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
        </div>
        
        
        <div class="col-sm-6 right">		 
        <iframe src="https://www.youtube.com/embed/Fs-0xu4agZ0?rel=0" frameborder="0" width="100%" height="400px"></iframe>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
            <h2 class="content-box mrb-20">Dive Accident Management</h2>
            <p class="mrb-30">This lecture provides information about Diver Accident Management presented by Dr Nick Bird.  </p>
            <p class="mrb-30"><b>Est. Time: 44 minutes</b></p>
            <p class="yt-btn"><a href="https://www.youtube.com/channel/UCzlOS5H3Hf5hTqaNHfKzxyg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
          </div>
          
          
          <div class="col-sm-6 right">		 
          <iframe src="https://www.youtube.com/embed/9WRxdx1JJV4?rel=0" frameborder="0" width="100%" height="400px"></iframe>
          </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Diver Fatalities</h2>
		  <p class="mrb-30">This lecture provides information about Diver Fatalities presented by Dan Orr. </p>
          <p class="mrb-30"><b>Est. Time: 45 minutes</b></p>
          <p class="yt-btn"><a href="https://www.youtube.com/channel/UCzlOS5H3Hf5hTqaNHfKzxyg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
        </div>
        
        
        <div class="col-sm-6 right">		 
        <iframe src="https://www.youtube.com/embed/CQ_1UJdK2e8?rel=0" frameborder="0" width="100%" height="400px"></iframe>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
            <h2 class="content-box mrb-20">Medication & Diving</h2>
            <p class="mrb-30">This lecture provides an up-to-date approach to the issue of medications and diving. Emphasized is a systems approach to evaluate medical fitness to dive questions for divers who are either taking or will take medications.</p>
            <p class="mrb-30"><b>Est. Time: 39 minutes</b></p>
            <p class="yt-btn"><a href="https://www.youtube.com/channel/UCzlOS5H3Hf5hTqaNHfKzxyg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
          </div>
          
          
          <div class="col-sm-6 right">		 
          <iframe src="https://www.youtube.com/embed/CQ_1UJdK2e8?rel=0" frameborder="0" width="100%" height="400px"></iframe>
          </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>