<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496218_2598x7087_2500.png" alt="image"></figure>
     <p><a class="btn btn-lightblue" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/Student-Infographic.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
  </section><!--/ about-text  -->

<section class="infographic-text about-2" style="background: #ecf6f9;">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>Student Membership</b></h2>
          <p>DAN's Student Dive Cover is free of charge to entry-level students from the first pool session to the qualifying dive or for a duration of six weeks. Recreational dive, freediving and spear fisherman entry-level students are all eligible.</p>
          <a class="btn" routerLink="/student" ><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a>
         
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="assets/images/3300359_1920x1280_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section>
<app-sub-footer></app-sub-footer>