<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Travel Statement</b></h1>
	      <div class="p-left">
		    <p>One of the joys of diving is that it provides an opportunity to travel. However, all travel introduces an element of risk, particularly when the destination or countries of passage are experiencing civil unrest, war or terrorism. As such we strongly encourage DAN members to actively seek out and heed any travel warnings prior to undertaking a trip into foreign countries.</p>
		    <p>Travel warnings are never popular. They discourage tourism. As such there is frequently a conflict of interest between protecting visitors and discouraging them from travel when conditions become unsafe. Declared states of emergency are obvious disincentives to travel. However, travellers generally seek earlier warnings. In this regard, foreign embassies are often more helpful than the resident government may be. We therefore encourage DAN members to review their own government’s or other foreign embassy’s websites for appropriate information, restrictions or advisories on the countries they intend visiting.</p>
		    <p>Wherever possible, DAN alerts its members to overtly hazardous situations. However, whether or not DAN is aware of them, the following important considerations apply when DAN members decide to travel to countries affected by mass violence:</p>
		    <p>DAN will honour its commitments to active members who are already in a foreign country prior to the appearance of civil unrest. However, DAN is dependent on local services and infrastructure and these may be disrupted. As such, DAN cannot guarantee nor accept responsibility for the delivery of assistance when the means of providing it has been disabled or has become unavailable due to local hostilities.</p>
		    <p>DAN’s assistance and advisory services are always at the disposal of DAN members who are planning trips to or through countries with volatile conditions. However, DAN and the insurance companies extending cover to DAN cannot make the decision to travel on behalf of the member, as they may not always have all the information. As such, the decision is ultimately the members’ to make.</p>
		    <p>As a general guideline, DAN advises all members already travelling, or with travel plans to visit countries affected by civil unrest, to discuss this with their travel operators and to take note of their government’s advisories.</p>
		    <p>DAN confirms that the annual policy cover is, and remains fully operative within the confines of the policy wording. In the case of civil unrest, war or terrorism, there are general policy exclusions and restrictions that apply: Specifically any accidents or injuries caused directly as a result of civil strife, unrest, war and other hostile actions are excluded from cover.  Financial assistance will be assessed on a case-by-case basis, but remain subject to policy terms and conditions until a final determination is made at the time a service is needed.</p>
		    <p>DAN confirms that the short-period cover will likewise remain valid, subject to similar terms and conditions as above, unless the insurers give notice of cancellation.</p>
		    <p>DAN and the insurance companies extending cover to DAN do not issue statements on the safety of travel to countries affected by civil unrest or hostilities.</p>
		    <p>DAN cannot accept responsibility if civil unrest or hostilities break out, conditions deteriorate and / or if they disrupt DAN’s ability to offer assistance to its members.</p>
		    <p>All members who are planning to travel are advised to consult with a travel medicine clinic. Please note that DAN cannot be held liable for payment of any loss, claim, indemnity or benefit amount due to a tropical disease where the member has not had the vaccinations or taken the medication recommended or required by the authorities in the country being visited, unless they have written confirmation from a Qualified Medical Practitioner that they should not be vaccinated or take the medication, on medical grounds; in order to consult with a travel medicine practitioner, please visit www.sastm.org.za, where you can find a list of providers.</p>
          </div>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="about-text about-black about-3">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>How to plan your dive trip</h2>
		<p>Whether you’re taking a 24-hour flight to Fiji or a 23-minute drive to the shore, all diving involves some form of travel. For this reason, DAN-SA recognises travel safety as a key aspect of our mission. This Smart Guide is a quick and easy reference tool to help you prepare for your dive travel to local and international destinations.</p>
		<p><a href="https://storage.snappages.site/eupr0m0685/assets/files/Travel-Guide-V1.2.pdf" target="__blank" class="btn"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Download Guide</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/155893_1241x1754_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>