<section class="info-wrapper light-blue">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Malaria</b>
            <span>& DIVING</span></h1>
		  <p class="update-info mrt-40">Watch the video to learn more on how to Malaria prevention and prophylaxis.</p>
		  <div class="iframe-grid mrt-30">
		    <iframe src="https://www.youtube.com/embed/0vLVWgqYAx0?rel=0" allowfullscreen="" frameborder="0" width="100%" height="450px"></iframe>
          </div><!-- iframe-grid -->
          <p class="update-info mrt-40">Malaria is a perennial concern to travellers in Africa. Of all the questions DAN receives, malarial prophylaxis is one of the most common. Safety of medication while diving and drug resistance considerations are the most pressing issues. Use the link below to download the article!</p>
          <p><a class="btn" target="_blank" href="/assets/images/Malaria-Prevention-Prophylaxis-Article-33.pdf">Download Article</a></p>
        </div>
	  </div>
    </div>
  </div>
</section><!--/ info-wrapper -->
<app-sub-footer></app-sub-footer>