<section class="mid-inner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 full-wrap">
        <div class="order-confirmation" *ngIf="orderByCode">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <h2 class="text-center">Thank you for your order!</h2>
              <p class="text-center">Order code: {{orderByCode.code}}</p>
              <p class="text-center">Placed: {{ orderByCode.updatedAt | date: 'full' }}</p>
            </div>
            <div class="col-sm-12 text-center" style="margin-bottom: 25px;">
              <h4>Order Summary</h4>
            </div>
            <!--/ checkout-coll -->
            <div class="cart-totals">
              <table class="table table-bordered">
                <tbody>
                  <tr class="woocommerce-cart-form__cart-item cart_item" *ngFor="let item of orderByCode.lines; let index = index">
                    <td class="product-thumbnail">
                      <img src="{{item.featuredAsset.preview}}" alt="" class="rounded" style="max-width:80px">
                    </td>
                    <td class="product-name" data-title="Product">
                      {{item.productVariant.name}}
                      <br>Qty: {{item.quantity}}
                    </td>
                    <td class="product-price" data-title="Price">
                      <span class="woocommerce-Price-amount amount">
                        <bdi>{{orderByCode.currencyCode}} {{ item.unitPriceWithTax / 100 | number:'1.2-2' }}</bdi>
                      </span>
                    </td>
                    <td class="product-subtotal" data-title="Subtotal">
                      <span class="woocommerce-Price-amount amount">
                        <bdi>{{orderByCode.currencyCode}} {{ (item.unitPriceWithTax * item.quantity) / 100 | number:'1.2-2' }}</bdi>
                      </span>
                    </td>
                  </tr>
                  <tr *ngFor="let promotion of orderByCode.promotions; let index = index">
                    <td colspan="3" class="text-right">
                      <strong>Discount Code</strong>
                    </td>
                    <td>
                      <span class="coupon-tag">{{promotion.couponCode}}</span>
                    </td>
                  </tr>
                  <tr *ngFor="let discount of orderByCode.discounts; let index = index">
                    <td colspan="3" class="text-right">
                      <strong>Discount Amount</strong>
                    </td>
                    <td>{{orderByCode.currencyCode}} {{discount.amountWithTax / 100  | number:'1.2-2'}}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right">
                      <strong>Sub-Total:</strong>
                    </td>
                    <td>{{orderByCode.currencyCode}} {{orderByCode.subTotalWithTax / 100 | number:'1.2-2'}}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right">
                      <strong>Shipping ( <span class="" *ngFor="let line of orderByCode.shippingLines">{{ line.shippingMethod.name }}</span>): </strong>
                    </td>
                    <td>{{orderByCode.currencyCode}} {{orderByCode.shippingWithTax / 100 | number:'1.2-2'}}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right">
                      <strong>Total:</strong>
                    </td>
                    <td>{{orderByCode.currencyCode}} {{orderByCode.totalWithTax / 100 | number:'1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-12 text-center">
              <a routerLink="/danshop" type="submit" name="continue-as-guest" class="btn mt-4 mb-5">Continue Shopping</a>
            </div>
          </div>
          <!--/ row -->
        </div>
        <!--/ checkout-coll -->
      </div>
    </div>
    <!--/ row -->
  </div>
</section>
<!--/ mid-inner -->