<section class="info-wrapper light-blue">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Medical</b><span>RESOURCES</span></h1>
		  <p class="update-info mrt-40">As a DAN member, you have a host of resources available to you! All you have to do is know what they are and how you can use them.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">DAN Emergency Hotline</h2>
		  <p>Whenever you need help, DAN is here for you. DAN's responders are on call 24 hours a day, 365 days a year to address any diving emergency such as decompression sickness, arterial gas embolism, pulmonary barotrauma or any other serious diving-related injuries. Specialised diving physician referrals means that you will be put in contact with appropriately licensed medical professionals. We will communicate with those professionals by providing any information that might be needed.</p>
          <p>The DAN emergency hotline also serves as the access point to the DAN emergency medical membership benefits. When you are travelling more than 100 km from home and need to access the DAN emergency medical benefits, including medical evacuation and prescription assistance, all you need to do is call the DAN emergency hotline, and we'll help facilitate the help you need.</p>
            <p>If your emergency is life-threatening, call the local EMS (or the local equivalent), or get the individual to the nearest medical facility. Medical professionals will be better able to stabilise the person and assess his or her condition. Once the local EMS is activated, call DAN for additional assistance or to consult with the local medical provider.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3349974_5568x3712_1000.png" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">The Reason</h2>
		  <ul>
            <li>Most hyperbaric facilities are not open during the nights or weekends because they have regular daytime business hours. Actually, some chamber facilities choose not to staff their unit after hours and do not wish to treat divers.</li>
            <li>Most divers who may have DCI go to facilities to be evaluated when the business has closed for the day.</li>
            <li>If you think a diver has a dive-related injury and needs to be evaluated, you should do the following:</li>
            <li>Monitor his/her airway, breathing and circulation. Give him/her 100% oxygen if you are a trained oxygen provider.</li>
            <li>Call the local EMS for transport or assistance in getting the injured diver to the nearest medical care.</li>
            <li>Call the 24-hour DAN Emergency Hotline at +27 828 10 60 10 (International) or at 0800 020 111 (from inside South Africa) for consultation (emergencies may call collect).</li>
            <li>If you are not sure about symptoms that only happen hours or days after you dived and there is no emergency or if you want to ask questions about medical issues or diving injuries, contact the DAN Medical Information Line at +27 828 10 60 (International) or at 0800 020 111 (from inside South Africa) 8 a.m. to 5 p.m. Monday through Friday.</li>
          </ul>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3350045_5568x3712_1000.png" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>