<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Dive Medical</b><span>FORMS</span></h1>
		  <p class="update-info">After countless hours of research, discussion & collaboration between the world’s leading diving and hyperbaric medical experts, several new dive medical forms are now available.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>Downloads for Divers & Instructors</h2>
		<p>Are you a candidate enrolling in dive training of any level or a dive instructor teaching courses? You’ll want to check out the new Diver Medical Participant Questionnaire.</p>
		<p>Are you a physician? Think you might be evaluating someone’s fitness to dive? Take a look at the Diver Medical Physician’s Evaluation Form (to be completed by the physician evaluating the diving candidate for diving suitability when a physician’s approval to dive is necessary) or the Diving Medical Guidance forms (a peer-referenced guide for physicians seeking additional information regarding how specific conditions relate to diving).</p>
		<p><a target="__blank" href="https://www.uhms.org/images/Recreational-Diving-Medical-Screening-System/forms/Diver_Medical_Participant_Questionnaire_10346_EN_English_2022-02-01.pdf" class="btn"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Diver Medical Participant Questionnaire</a></p>
		<p><a target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/Declaration_form_COVID_EN.pdf" class="btn"><i class="fa fa-cloud-download fa-lg fa-fw"></i>COVID-19 Health & Diving Declaration Form</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3332671_1920x1280_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Downloads for Physicians</h2>
		<p>The forms are all part of the new Recreational Diving Medical Screening System, which was designed to allow all who can safely scuba dive to do so, but also to encourage those with possible health risks to be medically evaluated for their fitness to dive before getting into trouble. The system is endorsed by UHMS, WRSTC, DAN, dive training agencies, and many other organisations.</p>
		<p><a target="__blank" href="https://www.uhms.org/resources/recreational-diving-medical-screening-system.html" class="btn btn-blue"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
		<p><a target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/DMAC33.pdf" class="btn"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Return to Diving after COVID-19</a></p>
		<p><a target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/DMAC34.pdf" class="btn"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Guidance for Medical Examiners During COVID-19</a></p>
		<p><a target="__blank" href="https://www.uhms.org/images/Recreational-Diving-Medical-Screening-System/forms/Diving_Medical_Guidance_EN_English_2021-09-16.pdf" class="btn"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Diving Medical Guidance for Physician for Recreational Diving</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3348444_5568x3712_1000.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>