<section class="banner-sub" style="background-image:url(/assets/images/4691944_2000x1334_2500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1>HOW LONG HAS IT BEEN? <span>Divers' health, fitness and skills can change over time</span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</section>
<!--/ banner-sub -->
<section class="about-text about-2 light-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <h2>Period of Inactivity</h2>
                <p>Personal obligations and commitments, illnesses and injuries, global health and travel hazards, and many other reasons and circumstances may keep divers out of the water. The main steps for returning to diving will be the same regardless of the reasons for not diving, but the focus may vary.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/Simple-Steps-for-a-Safe-Return.png" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black">
    <div class="container">
        <div class="row row-flex">
            <div class="col-sm-6 left">
                <h2>Did illness or injury keep you away?</h2>
                <p>While acute illnesses are not compatible with diving and even the common cold could keep you out of the water temporarily, some illnesses may affect your physical activity for a prolonged period or even permanently. If you were severely ill, had COVID-19 or have a chronic illness, consult your physician about your plan to return to diving. DAN is available to consult with your physician about the health requirements of diving, or we can refer you to a doctor trained in diving medicine.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4691975_800x500_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 left">
                <h2>How does inactivity affect your return to diving?</h2>
                <p>Diving requires special skills learned during training and maintained through practice. “Use it or lose it” is especially true in diving. While skills will degrade somewhat with as little six months of inactivity, most dive educators and instructors consider inactivity of one to two years sufficient to warrant refresher training.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4691996_800x500_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black">
    <div class="container">
        <div class="row row-flex ">
            <div class="col-sm-6 left">
                <h2>Return-To-Diving Tips For Specific Periods Of Inactivity</h2>
                <p>If you have not been diving in a long time, consider how much you may have changed and what changes may have occurred in the diving world. You may need to take action in multiple areas and should thus devise a personalised return-to-diving plan. Even if you are an experienced diver , you should not skip these steps. And keep in mind there’s more to this than just diving skills; you may need to refresh your first aid skills, too.</p>
                <b>* If your physical fitness is not optimal, you should devise a plan and begin exercising to achieve adequate fitness for diving.</b>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4692033_1024x427_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="return-steps return-steps-sub">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h2>
                        <b>Additional</b>
                        <span>RESOURCES</span>
                        </h2>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699740_500x350_2500.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Prepared Diver Course</b>
                    </h3>
                    <p>DAN’s Prepared Diver course is available to everyone at no cost. This informative and engaging video-based course, which reinforces proper diving behaviours and safe diving practices, is suitable for divers of all levels.</p>
                    <p class="text-center">
                        <a class="btn" target="_blank" href="https://dan-southern-africa.teachable.com/p/prepared-diver-program">
                            <i class="fa fa-check fa-lg fa-fw"></i>START COURSE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699745_500x350_2500.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Experience and Risk</b>
                    </h3>
                    <p>DAN’s Prepared Diver course is available to everyone at no cost. This informative and engaging video-based course, which reinforces proper diving behaviours and safe diving practices, is suitable for divers of all levels.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699750_500x350_2500.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Fitness Myth or Fitness Fact?</b>
                    </h3>
                    <p>When planning an effective fitness program, it is important to separate fact from fiction. Fitness folklore spreads quickly because many people are drawn to promises of magical quick fixes.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-12 rs-coll">
                <p class="text-center">
                    <a class="btn btn-blue" [routerLink]="['/return']">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>BACK TO MAIN PAGE </a>
                </p>
            </div>
            <!--/ row -->
        </div>
	</div>
</section>
<!--/ return-steps -->
<app-sub-footer></app-sub-footer>
