<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 footer-left">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="wg-1">
                            <h4>Divers Alert Network</h4>
                            <p>DAN is Divers Alert Network, the diving industry’s largest association dedicated to scuba diving safety. Serving scuba divers for 20 years, DAN provides emergency assistance, medical information resources, educational opportunities and more. Whether you are just learning how to scuba dive or are a veteran of the sport, DAN has a great deal to offer you.</p>
                        </div>
                        <!--/ wg-1 -->
                    </div>
                    <!--/ col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="wg-1">
                            <h4>Your Adventure! Your Safety!</h4>
                            <p>DAN has always been about the partnership between our organisation and the scuba divers who support it. DAN Members enjoy great benefits, including Travel Assistance, Alert Diver magazine, and access to industry-leading dive cover products. But the best benefit is being a part of and supporting the largest association of scuba divers dedicated to diving safety.</p>
                        </div>
                        <!--/ wg-1 -->
                    </div>
                    <!--/ col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="wg-1">
                            <h4>Dive Cover</h4>
                            <p>DAN is supported by membership dues and dive accident cover. Through its non-profit efforts DAN first recognised the need for scuba divers to have cover to help cover the cost of treatment for scuba diving injuries. DAN fulfilled that need by developing diving’s first dive accident cover program, still the industry leader 20 years later.</p>
                        </div>
                        <!--/ wg-1 -->
                    </div>
                    <!--/ col-sm-4 -->
                </div>
                <!-- row -->
            </div>
            <!-- footer-left -->
            <div class="col-sm-3 footer-right">
                <div class="wg-1">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <a href="http://157.245.36.128:3000/admin">Admin</a>
                        </li>
                        <li>
                            <a [routerLink]="['/copyright']">Copyright</a>
                        </li>
                        <li>
                            <a [routerLink]="['/logo-policy']">Logo Policy</a>
                        </li>
                        <li>
                            <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
                        </li>
                        <li>
                            <a [routerLink]="['/intern-packages']">Intern Packages</a>
                        </li>
                        <li>
                            <a [routerLink]="['/cancellation-request']">Cancellation Request</a>
                        </li>
                    </ul>
                </div>
                <!--/ wg-1 -->
            </div>
            <!--/ col-sm-3 -->
        </div>
        <!-- row -->
    </div>
    <!--/ container -->
    <div class="ft-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="icon-ft">
                        <a target="_blank" href="https://www.facebook.com/DANSA.org/">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a target="_blank" href="https://twitter.com/divesafety">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.pinterest.com/dansa_org/">
                            <i class="fa-brands fa-pinterest"></i>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/dansouthernafrica/">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/c/DANSouthernAfrica">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company/divers-alert-network-southern-africa">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                    <p class="copyright">© 2024 Copyright by DAN | All rights reserved.</p>
                </div>
            </div>
            <!--/ row -->
        </div>
    </div>
    <!--/ ft-bottom -->
</footer>

<div class="FloatingButtonContainer d-none">
    <button buttontextcoloronhover="rgb(17, 17, 17)" buttoncoloronhover="rgb(255, 235, 0)" buttontype="filled" class="ButtonBase__ButtonContainer" type="button" tabindex="0">
        <span class="ButtonBase__Overlay">
            <div class="Icon__IconContainer byBvB ButtonBase__ButtonIcon ButtonBase__LeftIcon duQUcc dAeKQu">
                <div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="injected-svg" data-src="https://static.elfsight.com/icons/floating-button-conversation.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill-rule="evenodd" d="M7 10a8 8 0 0 1 8-8h1a8 8 0 0 1 4.665 14.5c-2.09 1.502-3.665 2.5-6.34 4.24a.2.2 0 0 1-.325-.156v-2.646A8.001 8.001 0 0 1 7 10Zm6 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm2.5 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm4.5-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd"></path>
                            <path d="M6.132 9a8.5 8.5 0 0 0 4.536 9.09A5.503 5.503 0 0 1 8 19.792v2.79a.2.2 0 0 1-.325.157C6 21.5 4.5 20.5 2.611 19.181A5.5 5.5 0 0 1 5.5 9h.632Z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <span class="ButtonBase__Ellipsis">
                <div class="ButtonInner__ButtonLabel">Dive Trip Notification</div>
            </span>
        </span>
    </button>
</div>