<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496153_1559x7122_2500.jpg" alt="image"></figure>
     <p><a class="btn btn-lightblue" target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/Propellers-Can-Kill.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
  </section><!--/ about-text  -->

  <section class="infographic-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12">
          <div class="col-grid">
		    <h1><b>Watch Out Propellers Can Kill! </b></h1>
		    <p>Of all the various types of diving injuries, those involving propellers are the most frightening. Sadly, several divers have been killed or seriously injured by propellers. We believe that many of these accidents can easily be prevented by raising awareness, exercising good seamanship and respecting some basic rules as a diver. This campaign focuses on the concept of risk management from two points of view, the boaters’ and the divers’.</p>
            <p><a class="btn btn-lightblue" target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/Propeller-Can-Kill.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD SMART GUIDE</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="infographic-text light-blue">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12 ">
			<h2 class="content-box"><b> Safety Rules</b></h2>
            <p>The following are some basic Safety Rules that should be followed in order to prevent propeller accidents</p>

            <p><b>FOR BOATERS:</b> Preventing Propeller Accidents While on the Boat</p>
            <ul>
            <li>Stay at least 100 metres away from diver-down / alpha flags, unless conducting SCUBA, snorkel or free diving activities. Bear in mind that divers often have difficulty estimating distance underwater and could drift away from the flag.</li>
            <li>Don’t let anyone onto the swim platform while the engine is in gear. Swim platforms tend to be slippery and divers could fall into the propeller.</li>
            <li>If you are leading a group of divers, make sure that divers entering the water do not come close to the propeller: they are sharp and dangerous, even when they’re not moving.</li>
            <li>Allow easy and safe re-boarding.</li>
            <li>Before starting the engine, make sure no diver is in the vicinity or under the boat.</li>
            </ul>
            <p><b>FOR DIVERS: </b>Preventing Propeller Accidents While Diving</p>
            <ul>
            <li>Always place the diver-down / alpha flag before diving. The flag can be attached to a float or mounted on a vessel and clearly visible from all directions.</li>
            <li>Always surface within 50 mt. of your dive flag, or close to the reef, if there's one.</li>
            <li>Use a surface marker buoy if an emergency surfacing far from the diver-down flag is needed.Watch your buoyancy and avoid uncontrolled ascents.</li>
            <li>While ascending, look around and pay utmost attention.</li>
            </ul>
            <p>The diver down flag, or scuba flag, or Alpha flag, is a protection and warning signal, used on the water to indicate that there is a diver below, and vessels (ships, boats, surfers, etc.) should keep well clear at slow speed. It can be either a blue and white pennant which is divided vertically in the middle, or a red flag with a white diagonal stripe.</p>
            <h3>Get involved</h3>
            <p><b>4 Easy steps to get involved</b><p>
            <ul><li>
            <a href="https://storage.snappages.site/eupr0m0685/assets/files/Watch%20Out%20Banner.pdf" target="__blank">Download</a> the FREE campaign posters.</li>
            <li>Share the above mentioned campaign guidelines and tips.</li>
            <li>Help us promote our campaign on the social media.</li>
            <li>Involve your dive buddies and encourage them to do the same!</li>
            </ul>
            <h3 class="mrb-30">Registration & witness report</h3>
            <div class="form-wrap infographic-form">
                <div class="form-grid">
                                
                  <form>
                    <div class="form-group col-sm-6">
                      <label>First Name</label>
                      <input class="form-control" placeholder=" " value="">
                    </div>
                    
                    <div class="form-group col-sm-6">
                      <label>Last Name </label>
                      <input class="form-control" placeholder="" value="">
                    </div>
                    
                                    
                    <div class="form-group col-sm-12">
                      <label>Email </label>
                      <input class="form-control" placeholder="" type="text" value="">
                    </div>
                    
                        <div class="form-group col-sm-12">
                      <label>message </label>
                      <textarea class="form-control" placeholder=""></textarea>
                    </div>
                    
                    <div class="form-group col-sm-12 text-center">
                      <input class="btn" value="Submit" type="submit">
                    </div>
                  </form>
                  
                </div><!--/ form-grid -->
              </div>
        
          
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
 </section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>
