<section class="banner-sub travel-notification-thank-you">
  <div class="container">
    <div class="row">
	  <div class="col-sm-12">
	  
	    <div class="banner-text">
		  <h1>THANK YOU<span>Your submission was successful</span></h1>
		  <p><a routerLink="/travel-statement" class="btn">DAN TRAVEL STATEMENT</a>
		</div>
		
	  </div>
    </div><!-- row -->
  </div>
</section><!--/ banner-sub -->

<section class="about-text about-2 white-bg">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>Take DAN With You</h2>
		<p>DAN’s new Travelers Medical Guide was created to help divers, boaters, and adventure travelers recognize and manage travel-related illnesses and injuries. Drawing on DAN’s decades of experience managing emergencies, this digital guide explains common symptoms, illnesses, and treatments in an easy-to-understand manner.</p>
		<p><a target="_blank" href="https://issuu.com/dansouthernafrica/docs/dan-travel-medical-guide-2022?fr=sYWU2NjUxNTg5NTQ" class="btn">Download Guide</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="assets/images/8153039_450x454_500.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Dive Trip Planning</h2>
		<p>Whether you’re taking a 24-hour flight to Fiji or a 23-minute drive to the shore, all diving involves some form of travel. Submitting a travel notification ensures that the DAN hotline team knows when you travel and notes this on our system. This information helps us to assist you with fast and speedy service when you need it. With the information provided, we are able to plan potential evacuation procedures and advise you on the availability of appropriate facilities at your dive destination.</p>
		<p><a roterLink="/travel-notification" class="btn">SUMBIT TRAVEL NOTIFICATION</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="assets/images/8159216_5568x3712_2500.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>Travel Clinic</h2>
		<p>All members who are planning to travel are advised to consult with a travel medicine clinic. Please note that DAN-SA cannot be held liable for payment of any loss, claim, indemnity or benefit amount due to a tropical disease where the member has not had the vaccinations or taken the medication recommended or required by the authorities in the country being visited, unless they have written confirmation from a Qualified Medical Practitioner that they should not be vaccinated or take the medication, on medical grounds in order to consult with a travel medicine practitioner, please visit South African Society of Travel Medicine (SASTM) website where you can find a list of providers.</p>
		<p><a target="_blank" href="http://www.sastm.org.za/" class="btn">SASTM Website</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="assets/images/8152737_5568x3712_2500.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>DAN’s Medical Assistance Services</h2>
		<p>DAN’s medical assistance services are available to divers, dive professionals, and health care providers. We offer an emergency hotline, medical information, physician consultations, continuing medical education, and a worldwide referral network of doctors who evaluate and treat divers. We provide real-time assistance during dive emergencies and work to prevent injuries and promote dive safety.</p>
		<p><a target="_blank" href="https://youtu.be/ON2DVx50bio" class="btn">Watch video</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><iframe width="100%" height="400" src="https://www.youtube.com/embed/ON2DVx50bio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>DAN Dive Safety Gear</h2>
		<p>Every day, divers and emergency-response personnel around the world trust DAN’s oxygen units and first-aid kits to perform in an emergency. That’s because DAN’s products have been developed, tested and refined with input from leading doctors and researchers to meet the discriminating requirements of the diving community. Be ready to respond. Explore the DAN Shop to make sure you are prepared with the latest safety equipment to effectively handle any dive emergency.</p>
		<p><a routerLink="/danshop" class="btn">SHOP NOW</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="assets/images/6720800_1200x800_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>