<section class="info-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1 class="text-show">
                        <b>Hazard Identification </b>
                        <span>RISK ASSESSMENT PROGRAM</span>
                    </h1>
                    <p class="update-info">As the leader in dive safety DAN’s mission is to not only respond to dive injuries, but to work closely with dive business owners, operators and professionals to minimize or prevent injuries before they occur. To further improve the safety of the diving community DAN has developed a multi-faceted approach, fostering a pervasive culture of safety throughout global diving communities.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ info-wrapper -->
<section class="about-text about-black">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left-text">
                <h2 class="content-box">
                    <b>Mitigating Risk: HIRA Program</b>
                </h2>
                <p>If a diving business is well prepared and equipped, it can reduce the frequency of occurrences and deal with emergencies in a way that reassures its staff members, as well as its customers, while mitigating potential outcomes. </p>
                <p>The DAN Hazard Identification and Risk Assessment (HIRA) program was created to assist dive operators and professionals to do just that. A fundamental element of DAN’s ongoing work to cultivate a culture of safety in the diving community, the program is backed by the strength of DAN resources worldwide. </p>
                <p>Based upon well-established HIRA practices in other industries and many community-safety agencies worldwide, including OSHA and FEMA, DAN has adapted the HIRA program to address the real world concerns of dive operators and professionals. The DAN HIRA program is already live and improving diver and operator safety in the DAN Europe and Southern Africa regions.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/hira-img.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 left-text text-center">
                <h1 class="content-box title-black">
                    <b>Areas of Focus</b>
                </h1>
                <p>Hazard Identification and Risk Assessment</p>
            </div>
            <div class="col-sm-5 right">
                <div class="hira-plus">
                    <figure>
                        <img src="/assets/images/hira-plus-icon.png" alt="image">
                    </figure>
                    <ul>
                        <li>Staff Health & Safety</li>
                        <li>Customer Health & Safety</li>
                        <li>Staff Training & Certification </li>
                        <li>Training Pool Area</li>
                    </ul>
                </div>
                <div class="hira-plus">
                    <figure>
                        <img src="/assets/images/hira-plus-icon.png" alt="image">
                    </figure>
                    <ul>
                        <li>Rental Equipment & Storage Area</li>
                        <li>Equipment Repair</li>
                        <li>Vehicle Safety</li>
                        <li>Travel Advice for Customers</li>
                    </ul>
                </div>
            </div>
            <!--/ right -->
            <div class="col-sm-2 center"></div>
            <div class="col-sm-5 right">
                <div class="hira-plus">
                    <figure>
                        <img src="/assets/images/hira-plus-icon.png" alt="image">
                    </figure>
                    <ul>
                        <li>Training Room n Retail Shop</li>
                        <li>Dive & Boat Operations</li>
                        <li>Compressor & Cylinder Operation</li>
                    </ul>
                </div>
                <div class="hira-plus">
                    <figure>
                        <img src="/assets/images/hira-info-icon.png" alt="image">
                    </figure>
                    <ul>
                        <p>
                            <b>HIRA PROGRAM PARTICIPANTS</b>
                        </p>
                        <li>Dive Businesses</li>
                        <li>Dive Operators</li>
                        <li>Dive Instructors</li>
                        <li>Level 1 & 2 Only</li>
                    </ul>
                </div>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="tag-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mrb-50">Preventing Risk <span>ACROSS PEOPLE & BUSINESS </span>
                </h2>
                <div class="inner">
                    <p>DAN’s HIRA program helps owners, operators, staff and dive professionals identify hazards before they lead to injuries or losses. Focusing on realistic and pragmatic assessments of risks that could lead to serious outcomes, the program provides tools and strategies to proactively mitigate these incidents.</p>
                </div>
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ tag-wrap -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 left-text text-center">
                <h1 class="content-box title-black">
                    <b>Why HIRA?</b>
                </h1>
                <p>The DAN HIRA program is the most effective tool to reduce the likelihood, severity, and <br>impact of incidents, but risk mitigation isn’t the only benefit. </p>
            </div>
            <div class="col-sm-5 right">
                <div class="hira-plus">
                    <figure>
                        <img src="/assets/images/hira-plus-icon.png" alt="image">
                    </figure>
                    <ul>
                        <li>Minimise the severity of incidents and their impact on your business.</li>
                        <li>Remain in compliance with local and national safety codes.</li>
                        <li>Keep your customers and employees safer.</li>
                    </ul>
                </div>
                <div class="hira-plus">
                    <figure>
                        <img src="/assets/images/hira-plus-icon.png" alt="image">
                    </figure>
                    <ul>
                        <li>Inspire confidence in your staff and your divers.</li>
                        <li>Reduce the long-term costs of injury and liability.</li>
                        <li>Improve staff training and retention.</li>
                    </ul>
                </div>
            </div>
            <!--/ right -->
            <div class="col-sm-2 center"></div>
            <div class="col-sm-5 right">
                <div class="hira-plus">
                    <figure>
                        <img src="/assets/images/hira-plus-icon.png" alt="image">
                    </figure>
                    <ul>
                        <li>Reduce injuries to your customers and your employees.</li>
                        <li>Improve the management and organisation of your dive operation.</li>
                        <li>Engage with DAN and have a direct line of support via our data, tools, and service offerings.</li>
                    </ul>
                </div>
                <div class="hira-plus">
                    <figure>
                        <img src="/assets/images/hira-info-icon.png" alt="image">
                    </figure>
                    <ul>
                        <li>Leverage DAN’s marketing efforts; DAN will promote your operation and HIRA achievements.</li>
                        <li>Establish and maintain a culture of safety within your organisation.</li>
                    </ul>
                </div>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="info-wrapper bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1 class="text-show">
                        <b>HIRA Level 1</b>
                    </h1>
                    <p class="update-info">HIRA Level 1 requires a dive operator or professional to have the fundamental training and equipment to manage injuries and plans and procedures to address emergencies. Level 1 is a self-assessment and completed online.</p>
                    <p>
                        <a class="btn" href="https://dan-southern-africa.teachable.com/p/hira-level-1-dive-professionals" target="_blank">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>ENROL AS A DIVE PRO 
						</a>
                        <a class="btn" href="https://dan-southern-africa.teachable.com/p/hira-level-1-dive-operators" target="_blank">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>ENROL AS A DIVE BUSINESS
						</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ info-wrapper -->
<section class="about-text info-white hira-requirment light-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 left-text">
                <h1 class="content-box text-dark">
                    <b>Requirements</b>
                </h1>
                <div class="hira-plus-sec">
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon3.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">TRAINING</h5>
                            <p> Staff trained in first aid (BLS), CPR, and oxygen administration.</p>
                        </div>
                    </div>
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon4.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">EQUIPMENT</h5>
                            <p> Staff trained in first aid (BLS), CPR, and oxygen administration.</p>
                        </div>
                    </div>
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon1.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">STANDARD OPERATING PROCEDURES</h5>
                            <ul>
                                <li>Pre-dive safety briefings (for pool and dive site). </li>
                                <li>Boat safety briefings. </li>
                                <li>Post-dive briefings and post-dive head count using physical checklist</li>
                            </ul>
                        </div>
                    </div>
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon2.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">EMERGENCY ACTION PLANS</h5>
                            <p>EAPs created for lost divers, dive injuries and medical emergencies.</p>
                        </div>
                    </div>
                </div>
                <!--/ hira-plus-sec -->
            </div>
            <!--/ col -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="tag-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>HIRA Program Participants</h2>
                <h3>Dive Businesses ・Dive Operators ・Dive Instructors</h3>
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ tag-wrap -->
<section class="info-wrapper bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1 class="text-show">
                        <b>HIRA Level 2</b>
                    </h1>
                    <p class="update-info">HIRA Level 2 requires additional training as well as the implementation and practice of a wider range of operating procedures and emergency action plans. Like HIRA Level 1, Level 2 is a self-assessment and completed online.</p>
                    <p>
                        <a class="btn" href="https://dan-southern-africa.teachable.com/p/hira-level-2-dive-professionals" target="_blank">
                            <i class="fa fa-sign-in fa-lg fa-fw" aria-hidden="true"></i>ENROL AS A DIVE PRO </a>
                        <a class="btn" href="https://dan-southern-africa.teachable.com/p/hira-level-2-dive-operators" target="_blank">
                            <i class="fa fa-sign-in fa-lg fa-fw" aria-hidden="true"></i>ENROL AS A DIVE BUSINESS </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ info-wrapper -->
<section class="about-text info-white hira-requirment light-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 left-text">
                <h1 class="content-box text-dark">
                    <b>Requirements</b>
                </h1>
                <div class="hira-plus-sec">
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon3.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">TRAINING</h5>
                            <ul>
                                <li>Additional training that includes hazardous marine life injuries (as applicable), neurological examination and AED if not already included in previous course</li>
                                <li>Minimum of one first-aid instructor (businesses only).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon4.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">EQUIPMENT</h5>
                            <p> Automated external defibrillator (AED).</p>
                        </div>
                    </div>
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon1.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">STANDARD OPERATING PROCEDURES</h5>
                            <ul>
                                <li>Maintenance of first-aid kits and oxygen units. </li>
                                <li>Provision for denial of service based on inadequate fitness-to-dive. </li>
                                <li>Regular emergency simulations and drills.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon2.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">EMERGENCY ACTION PLANS</h5>
                            <p>Additional EAPs based on scope of activities – checklist provided.</p>
                        </div>
                    </div>
                    <div class="hira-plus">
                        <figure class="col-sm-6">
                            <img src="/assets/images/hira-req-icon5.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5>ENVIRONMENTAL SUSTAINABILITY PLAN</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!--/ hira-plus-sec -->
            </div>
            <!--/ col -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="tag-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mrb-50"><span>Our Pledge To you </span>
                </h2>
                <div class="inner">
                    <p>DAN is committed to advancing a culture of safety by engaging with all stakeholders in the recreational scuba, freediving, sport, technical and professional dive communities worldwide to emphasize best diving practices and diver health and safety. We pledge to work with community leaders, medical service providers, chamber technicians, business owners and operators, dive professionals and divers to provide the resources necessary to build and sustain that culture.</p>
                </div>
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ tag-wrap -->
<section class="info-wrapper bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1 class="text-show">
                        <b>HIRA Level 3</b>
                    </h1>
                    <p class="update-info">HIRA Level 3 is a comprehensive assessment and detailed evaluation of hazards. At this level, nearly every facet of business and dive operations are addressed, and additional EAPs are required based on the scope of activities. This level can be completed online or conducted on site by request.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ info-wrapper -->
<section class="about-text info-white hira-requirment light-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 left-text">
                <h1 class="content-box text-dark mrb-20">
                    <b>Requirements</b>
                </h1>
                <p>In addition to the Level 1 & 2 requirements</p>
                <div class="hira-plus-sec">
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon3.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">FULL HIRA ASSESSMENT</h5>
                            <p>Thorough and detailed evaluation of hazards following DAN’s comprehensive Risk Assessment Guide for Diving Businesses and Professionals (due for publication later this year).</p>
                        </div>
                    </div>
                    <div class="hira-plus">
                        <figure>
                            <img src="/assets/images/hira-req-icon1.png" alt="image">
                        </figure>
                        <div class="hira-info">
                            <h5 class="mrb-20">STANDARD OPERATING PROCEDURES</h5>
                            <p>Additional EAPs based on scope of activities – checklist provided.</p>
                        </div>
                    </div>
                </div>
                <!--/ hira-plus -->
            </div>
            <!--/ col -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<app-sub-footer></app-sub-footer>