<section class="info-wrapper info-white">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>About Us</b></h1>
		  <p class="update-info">Divers Alert Network (DAN) is the world’s most recognised and respected dive safety organization comprised of dive professionals and medical experts dedicated to supporting divers. Through research, medical services, educational programs and global response initiatives, DAN has created an extensive network capable of providing divers around the world with vital services. Every day, divers around the globe look to DAN as their dive safety organisation. Be part of the community and dive safe with DAN. Become a DAN member today.</p>
		  <p><a class="btn" [routerLink]="['/annual']"><i class="fa fa-check fa-lg fa-fw"></i>Join DAN Today</a></p>
		  <div class="iframe-grid">
		    <iframe src="https://www.youtube.com/embed/u1-p2cJXGcs?rel=0" allowfullscreen="" frameborder="0" width="100%" height="450px"></iframe>
          </div><!-- iframe-grid -->
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>DAN Vision</b></h2>
		  <p>Striving to make every dive accident- and injury-free. DAN's vision is to be the most recognized and trusted organization worldwide in the fields of dive safety and emergency services, health, research and education by its members, instructors, supporters and the recreational diving community at large.</p>
		  <p><a class="btn" [routerLink]="['/annual']"><i class="fa fa-check fa-lg fa-fw"></i>Join DAN Today</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/DAN-Vision.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>DAN Mission</b></h2>
		  <p>DAN helps divers in need of medical emergency assistance and promotes dive safety through research, education, products and services. DAN exists to provide expert medical information for the benefit of the diving public. DAN's historical and primary function is to provide timely information and assistance for underwater diving injuries, to work to prevent injuries and to promote dive safety. DAN also promotes and supports underwater dive research and education, particularly as it relates to the improvement of dive safety, medical treatment and first aid. Finally, DAN strives to provide the most accurate, up-to-date and unbiased information on issues of common concern to the diving public, primarily — but not exclusively — for dive safety.</p>
		  <p><a class="btn" [routerLink]="['/annual']"><i class="fa fa-check fa-lg fa-fw"></i>Join DAN Today</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/DAN-Mission.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>