<section class="info-wrapper light-blue">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Hyperbaric Chamber</b>
            <span>NETWORK</span></h1>
		  <p class="update-info mrt-40">If you are a diver and have studied the treatment of diving injuries, you will know the role hyperbaric chambers play in them. DAN frequently consults on the care transport and hyperbaric treatment of injured divers, but we do not provide chamber location information. This is our way to try to get divers with suspected decompression illness (DCI) to a hospital for medical care.</p>
		  <p class="update-info mrt-40">Divers often pass legitimate healthcare facilities while on their way to a recompression chamber. The preferred treatment is the local emergency medical service (EMS) and hospital, even if you surface with clear symptoms of an arterial gas embolism. You should use existing emergency services when you are injured, because this is your best option. </p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">The Reason</h2>
		  <ul>
            <li>Hospitals and urgent care facilities have an unlimited supply of oxygen, intravenous fluids and medications.</li>
            <li>Your physician/emergency care provider needs to rule out other illness which may appear to be DCI such as pneumothorax (collapsed lung), a myocardial infarction (heart attack) and neurological and musculoskeletal injuries.</li>
            <li>When you are injured, you need to be stabilised before and while you are being transported and you should be transferred under medical supervision.</li>
            <li>If you transport a diver without a proper evaluation, you may adversely affect his/her health and treatment outcome.</li>
            <li>A chamber's operational status can change.</li>
            <li>Chambers may close for scheduled maintenance, staff being away on holiday or a limited staff because of a high daytime patient treatment load.</li>
            <li>The chamber you are trying to reach may be unavailable.</li>
            <li>Normally you should get notification beforehand from an evaluating facility to begin the call-in procedure to staff a hyperbaric treatment.</li>
          </ul>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367390_3888x2592_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">The Reason</h2>
		  <ul>
            <li>Most hyperbaric facilities are not open during the nights or weekends because they have regular daytime business hours. Actually, some chamber facilities choose not to staff their unit after hours and do not wish to treat divers.</li>
            <li>Most divers who may have DCI go to facilities to be evaluated when the business has closed for the day.</li>
            <li>If you think a diver has a dive-related injury and needs to be evaluated, you should do the following:</li>
            <li>Monitor his/her airway, breathing and circulation. Give him/her 100% oxygen if you are a trained oxygen provider.</li>
            <li>Call the local EMS for transport or assistance in getting the injured diver to the nearest medical care.</li>
            <li>Call the 24-hour DAN Emergency Hotline at +27 828 10 60 10 (International) or at 0800 020 111 (from inside South Africa) for consultation (emergencies may call collect).</li>
            <li>If you are not sure about symptoms that only happen hours or days after you dived and there is no emergency or if you want to ask questions about medical issues or diving injuries, contact the DAN Medical Information Line at +27 828 10 60 (International) or at 0800 020 111 (from inside South Africa) 8 a.m. to 5 p.m. Monday through Friday.</li>
          </ul>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367395_3888x2592_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Chamber Facility Referral Application</h2>
		 <p>DAN does not provide hyperbaric chamber location information to the general public. However we do keep up a database of chamber facilities as part of our emergency medical consultation service. If you are affiliated with a hyperbaric chamber facility and you wish us to include you on our chamber referral network, look at the criteria below and DAN us at danmedic@dansa.org. We appreciate your interest in giving recreational divers dive medicine services.</p>
         <p><a class="btn" href="mailto:danmedic@dansa.org?subject=Chamber%20Facility%20Referral%20Application"><i class="fa fa-check fa-lg fa-fw"></i> Apply Now</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367405_3888x2592_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Facility</h2>
		  <ul>
            <li>The chamber must be operational at present.</li>
            <li>Your chamber staff must have the appropriate training in how to use the chamber.</li>
            <li>A technician or director should have the responsibility of supervising safety in the chamber.</li>
            <li>A trained physician must be involved in treating divers.</li>
            <li>Divers should be able to reach the staff and the facility on a 24-hour on-call basis.</li>
          </ul>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367420_3888x2592_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Chamber </h2>
            <ul>
                <li>You must perform routine chamber maintenance and services and keep proper record of it.</li>
                <li>You must keep patient treatment logs.</li>
                <li>Sufficient oxygen capacity is required for multiple treatments.</li>
                <li>You must comply with fire safety standards.</li>
                <li>You must complete the SAUHMA survey and it is preferred that you have accreditation.</li>
                <li>You must comply with a Risk Assessment Guide to apply to all remote chamber facilities outside of South Africa.</li>
            </ul>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367390_3888x2592_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Treatment</h2>
		  <ul>
            <li>You must use standard treatment tables of their monoplace equivalents for treating recreational divers for DCI.</li>
            <li>You must use oxygen for all treatment tables used when treating divers.</li>
            <li>You should be capable of have enough space to observe and monitor divers when not in the chamber either before the treatment starts or after.</li>
            <li>When you are treating divers in multiplace chambers, you should make oxygen available for the chamber attendants in accordance with recognised decompression procedures (for example the U.S. Navy).</li>
            <li>You must make surface oxygen available.</li>
          </ul>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367440_1000x667_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>