<section class="info-wrapper light-blue ">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Projects</b><span>& STUDIES</span></h1>
		  <p class="update-info mrt-40">While we have completed quite a few projects over the last few years, many new ones have also been started up (we frequently have members and partners participate, such as in the lung function and research study). But we don’t want to make you wait until their completion, so you can read up about our completed and our current projects and studies right here.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Flying After Recompression Treatment Study</h2>
		  <p class="mrb-30">DAN conducted an online survey of divers who were recompressed for decompression illness (DCI) within the past five years and then flew in an airplane. The study was published in the Management of Mild or Marginal Decompression Illness in Remote Locations Workshop Proceedings.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf">
            <a href="/assets/images/Flying-After-Recomp-Treatment-Study.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> Flying-After-Recomp-Treatment-Study.pdf</a></div>
          </div>
        </div>
        
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367981_3865x2576_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Diabetes & Diving</h2>
		  <p class="mrb-30">DAN completed two studies on recreational diving by persons with diabetes. The first study followed adults with diabetes who were previously certified to dive. The second studied teenagers with diabetes immediately following their certification training. All participants had to demonstrate good general blood glucose control prior to entry to the study. The divers were shown to be able to effectively control blood glucose levels during multiday diving under relatively benign subtropical conditions, producing relatively few cases of hypoglycemia and no significant untoward events.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn"><a href="/assets/images/Diabetes-and-Diving.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>Diabetes-and-Diving.pdf</a></div>
          </div>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3368001_5568x3712_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">US Navy Survey</h2>
		  <p class="mrb-30">DAN conducted an online survey of divers who were recompressed for decompression illness (DCI) within the past five years and then flew in an airplane. The study was published in the Management of Mild or Marginal Decompression Illness in Remote Locations Workshop Proceedings.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn">
            <a href="/assets/images/US-Navy-Survey.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>US-Navy-Survey.pdf</a></div>
          </div>
        </div>
        
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3368023_5568x3712_1000.png" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Live-Aboard Doppler</h2>
		  <p class="mrb-30">DAN researchers assessed the effects of age, gender and dive profiles on participants through the use of Doppler monitoring devices.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn">
            <a href="/assets/images/Live-aboard-Doppler.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>Live-aboard-Doppler.pdf</a></div>
          </div>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3368038_5568x3712_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Aging Diver Study</h2>
		  <p class="mrb-30">The objective of the Aging Diver Study was to evaluate the effects of age and associated medical conditions on dive style and dive outcome using PDE methodology.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf mrb-30">
            <a href="/assets/images/Aging-Diver-Study.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>Aging-Diver-Study.pdf</a></div>
          </div>
        </div>
        
        <div class="col-sm-6 right">		 
          <!-- <figure><img src="/assets/images/3367861_1920x1280_1000.jpg" alt="image"></figure> -->
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Breath-Hold Study </h2>
		  <p class="mrb-30">The breath-hold project studied the effects of hyperventilation, work, breathing mixture and dive depth on immersed breath-hold duration. The primary objective of this study was to increase breath-hold time to a maximal safe level without danger of loss of consciousness or functional incapacity due to hypocapnia, hypoxia or hypercapnia. The study was published as a report to the Navy.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn">
            <a href="/assets/images/Breath-Hold-Study.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>Breath-Hold-Study.pdf</a></div>       
          </div>       
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367966_3785x2500_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Flying After Diving</h2>
		  <p class="mrb-30">Past guidelines for how long to wait after diving before flying for recreational divers were unclear and often contradictory. DAN conducted human trials to investigate this question with support from the US Navy. The study was documented in two publications and a workshop.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn">
            <a href="/assets/images/Flying-After-Diving.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>Flying-After-Diving.pdf</a></div> 
          </div> 
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3368063_5568x3712_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">First Aid Oxygen Rebreather</h2>
		  <p class="mrb-30">The first- and second-generation closed-circuit oxygen rebreathing circuits developed for remote duty first aid applications were studied to confirm effective performance. The second-generation device was able to deliver an extremely high fraction of oxygen (~0.95 with aggressive mask management) at an average oxygen flow rate of 1.1 L•min-1.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn">
            <a href="/assets/images/First-Aid-Oxygen-Rebreather.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> First-Aid-Oxygen-Rebreather.pdf</a></div>
          </div>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3295274_5954x3784_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Cialis™/Viagra™ & The Risk Of Oxygen Toxicity</h2>
		  <p>Reports to DAN suggested that oxygen toxicity risk might be increased by these drugs. This was found to be true in a rat model.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3368068_5568x3712_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>