<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496158_2598x9449_2500.png" alt="image"></figure>
     <p><a class="btn btn-lightblue" target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/More-water-less-bubbles.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
  </section><!--/ about-text  -->

  <section class="infographic-text about-2"  style="background: #ecf6f9;">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
			<h2 class="content-box"><b> Watch this video</b></h2>
          <p>Dehydration occurs when your body loses more fluid than is taken in, and this can lead to medical problems that should be avoided. For you as a diver there is another concern: dehydration is a contributing risk factor for decompression sickness (DCS). Why? Dehydration reduces the volume of blood plasma and perfusion of tissues, so it thickens the blood and reduces blood flow. Since blood is partially responsible for the transportation of nutrients and for gas exchange, thickened blood will affect the off-gassing of nitrogen and increase the risk of developing DCS.</p>
          <p><a class="btn btn-lightblue" target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/More-Water-Less-Bubbles.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD SMART GUIDE</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><iframe width="100%" height="400" src="https://www.youtube.com/embed/lVDoHDNR868" title="Claim your FREE  &quot;More Water Less Bubbles&quot; eBook" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></figure>
          
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>
