<section class="banner-inner" style="background-image: url(/assets/danshop/images/14304860_5568x3712_2500.png);">
  <div class="container">
    <div class="row">      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1>Forgot Password</h1>
		  <h3>Reset your password</h3>
        </div>
	  </div>	
    </div>
  </div>
</section><!--/ banner --> 
<section class="login-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 full-wrap">
                <div class="danshop-forgot-password">
                    <div class="row">
                        <div class="col-sm-4 offset-md-4 checkout-coll">                            
                            <!--/ Forgot Password -->
                            <div id="sign-in">
                                <h2 class="mrb-20">Forgot Password</h2>
								<!--/  (ngSubmit)="signIn()" -->
                                <form [formGroup]="forgotForm" (ngSubmit)="requestPassword()" #resetForm="ngForm">
                                    <div class="form-row row">
                                        <div class="form-group col-sm-12 mb-3">
                                            <label class="label">Email Address</label>
                                            <input class="form-control" type="email" id="emailAddress" name="emailAddress" formControlName="emailAddress">	
											<div *ngIf="submitted && f['emailAddress'].errors" class="error-message">
												<div *ngIf="submitted && forgotForm.get('emailAddress')?.hasError('required')">Email Address is invalid</div>
												<div *ngIf="submitted && forgotForm.get('emailAddress')?.hasError('email')">Email Address is invalid</div>
											</div>
                                        </div>                                        									
										<div class="form-group col-sm-12 mb-3">
											<button type="submit" name="reset-password" class="btn">Reset Password</button>
										</div>
										<div class="form-group col-sm-12 mb-3"><a [routerLink]="['../sign-in']">Go back to login.</a></div>
										<div class="form-group col-sm-12" *ngIf="successMessage">
                                        	<div class="alert alert-success text-success checkout-submit-msg">{{ successMessage }}</div>
										</div>
										<div class="form-group col-sm-12" *ngIf="errorMessage">
											<div class="alert alert-danger text-danger checkout-submit-msg">{{ errorMessage }}</div>
										</div>
                                    </div>
                                    <!--/ form-row -->
                                </form>
                            </div>
                            <!--/ Forgot Password -->
                        </div>
                    </div>
                    <!--/ row -->
                </div>
                <!--/ coll -->
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ mid-inner -->