<section class="banner-sub" style="background-image:url(/assets/images/4693703_1240x630_2500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1>HOW'S YOUR HEALTH? <span>Consider talking to your doctor before returning to diving</span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</section>
<!--/ banner-sub -->
<section class="about-text about-2 white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <h2>Health Status Overview</h2>
                <p>As you know, having an acute illness is not compatible with safe diving. Even the common cold will keep you out of the water temporarily — not only does it affect your ability to equalise the pressure in your ears and sinuses, it also affects your ability to exercise.</p>
                <p>Gastrointestinal distress can cause dehydration and electrolyte imbalance, which may be life-threatening underwater. Some illnesses can affect your ability to exercise even after the acute phase. Illness and prolonged bed rest cause decline in cardiovascular fitness and loss of muscle mass. Even with a complete recovery, return to your pre-illness level of physical activity gradually, and understand that it may take weeks or longer.</p>
                <p>COVID-19 is an illness that in severe cases requires a prolonged convalescent period and may significantly affect one’s ability to exercise.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/Simple-Steps-for-a-Safe-Return.png" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black">
    <div class="container">
        <div class="row row-flex">
            <div class="col-sm-12 text-center mrb-30">
                <h1>
                    <b>Health Status and Medical Evaluation</b>
                </h1>
            </div>
            <div class="col-sm-6 left">
                <h2>Follow the DAN Guidelines for Lifelong Fitness To Dive</h2>
                <p>Whether you were inactive for weeks or years, when planning your next trip, consult the one-page <a target="_blank" href="https://www.dansa.org/blog/2021/04/14/guidelines-for-lifelong-medical-fitness-to-dive">DAN Guidelines for Lifelong Medical Fitness to Dive</a>, which will help you make the safest decision for yourself. If you are healthy and have recently been evaluated by a doctor, you may be directed to simply fill out the Diver Medical Participant Questionnaire (formerly known as the RSTC medical screening form). However, if you have been kept away by illness, have certain risk factors, or are over age 65, the self-evaluation will not be enough. </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4693993_1024x520_2500.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 left">
                <h2>Follow the Diver Medical Participant Questionnaire</h2>
                <p>The standard medical screening form used in diving was recently updated by the Undersea and Hyperbaric Medical Society (UHMS) with contributions from DAN and other organisations and endorsements by many World Recreational Scuba Training Council (WRSTC) members. The new <a href="https://www.uhms.org//assets/images/Recreational-Diving-Medical-Screening-System/forms/Diver_Medical_Participant_Questionnaire_10346_EN_English_2021-01-29.pdf" target="_blank">Diver Medical Participant Questionnaire</a> is a part of <a href="https://www.uhms.org/resources/recreational-diving-medical-screening-system.html" target="_blank">The Recreational Diving Medical Screening System</a>, which also includes the Diver Medical Physician’s Evaluation Form and the Diving Medical Guidance to the Physician. </p>
                <p>TheThe Diver Medical Participant Questionnaire inquires about major health issues that may affect your fitness to dive. It is in your best interest to answer all questions honestly, as this is a tool that helps with your self-evaluation and is designed to keep you safe. Healthy divers and divers with well-controlled chronic illnesses may get a quick pass. Divers with other conditions may require evaluation by a medical professional. The questionnaire will help you identify those conditions and take the necessary next steps. The Diver Medical Participant Questionnaire is available in 26 languages.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4694060_1024x520_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black">
    <div class="container">
        <div class="row row-flex ">
            <div class="col-sm-6 left">
                <h2>See Your Physician When Indicated</h2>
                <p>If the Diver Medical Participant Questionnaire indicates that you need to consult a physician (or if you simply wish to), do so. If your physician is not sure about how your health status or medical condition might affect your fitness to dive, check with DAN. We can offer advice, a consultation, or a referral to a dive medicine expert in your area.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4694125_1024x520_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="return-steps return-steps-sub">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h2>
                        <b>When In Doubt</b>
                        <span>CONTACT DAN</span>
                    </h2>
                    <p> When you or your physician is in doubt, contact DAN. The DAN website has an extensive library of <br> medical information related to diving. You can also speak to a DAN medic for advice or a referral to a <br> dive medicine specialist. </p>
                    <p class="text-center">
                        <a class="btn" [routerLink]="['/contact']">
                            <i class="fa fa-phone fa-lg fa-fw"></i>CONTACT DAN </a>
                    </p>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h2>
                        <b>Additional</b>
                        <span>HEALTH RESOURCES</span>
                        </h2>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699930_800x500_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Defibrillators & Diving</b>
                    </h3>
                    <p>Current recommendations for patients with implantable cardioverter-defibrillators (ICDs) advise against participating in sports requiring any more exertion than than bowling or golf.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699935_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>The Heart & Diving</b>
                    </h3>
                    <p>Cardiovascular health is an essential element of safe diving. But heart health can deteriorate gradually as divers age, and this can put divers at risk.</p>
                    <p class="text-center">
                        <a class="btn" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/DAN-Heart-Reference-Book.pdf">
                            <i class="fa fa-cloud-download fa-lg fa-fw"></i>DOWNLOAD GUIDE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699940_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Physician Referral Network</b>
                    </h3>
                    <p>DAN maintains a worldwide network of doctors trained in dive medicine. Upon request, DAN can provide you with contact information for these doctors for consultations about health issues and diving.</p>
                    <p class="text-center">
                        <a class="btn" [routerLink]="['/medicine']">
                            <i class="fa fa-phone fa-lg fa-fw"></i>CONTACT A DOCTOR </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699945_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Cardiovascular Health & Diving</b>
                    </h3>
                    <p>Having a healthy heart is of the utmost importance to your safety while scuba diving. It's also an important factor in your ability to exercise in general — and your life span.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699950_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>The Lungs & Diving</b>
                    </h3>
                    <p>Diving imposes significant challenges to the respiratory system. Lung conditions are among most common reasons people fail diving medical examinations — and of course, we depend on our lungs for survival.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4699955_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h3>
                        <b>Scuba Diving & Diabetes</b>
                    </h3>
                    <p>For years the medical community discouraged people with diabetes from scuba diving. A DAN survey in 1996, however, revealed that nearly 200 of its members were divers with some form of diabetes.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
		</div>
	</div>	
</section>
<!--/ return-steps -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row row-flex">
            <div class="col-sm-6 left-text">
                <h2>Diving After COVID-19</h2>
                <p>Determination of your fitness to return to diving after a COVID-19 infection will require assessment by your physician team confirming your full recovery and ability to safely perform unrestricted vigorous activity.</p>
                <p>
                    <a class="btn" href="#">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4699960_500x350_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
            <div class="col-sm-12 rs-coll">
                <p class="text-center">
                    <a class="btn btn-blue" [routerLink]="['/return']">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>BACK TO MAIN PAGE </a>
                </p>
            </div>
            <!--/ row -->
        </div>
    </div>
</section>
<!--/ about-text  -->
<app-sub-footer></app-sub-footer>