<section class="banner-sub">
  <div class="container">
    <div class="row">
	  <div class="col-sm-12">
	  
	    <div class="banner-text">
		  <h1>RETURN TO DIVING SAFELY<span>Your guide to getting back in the water</span></h1>
		</div>
		
	  </div>
    </div><!-- row -->
  </div>
</section><!--/ banner-sub -->

<section class="about-text">
  <div class="container">
    <div class="row align-items-center">
      
	  <div class="col-sm-8 left">
	    <h2>Simple Steps for a Safe Return</h2>
		<p>If you’ve been out of the water for a while, take time to assess your health and fitness, refresh your skills and equipment, and review your travel plans before your next dives. DAN has created this practical guide to help you get back to diving safely. So take a few minutes, read over these recommendations, and be prepared for your next dives.</p>
		<p><a target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/return-to-diving-handout.pdf" class="btn"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Download Guide</a></p>
		<p><a [routerLink]="['/period-of-inactivity']" class="btn btn-blue"><i class="fa fa-info-circle fa-lg fa-fw"></i>Get Started</a></p>
	  </div>
	  
	  <div class="col-sm-4 right">		 
		<figure><img src="/assets/images/Simple-Steps-for-a-Safe-Return.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="return-steps">			
  <div class="container">
    <div class="row">           
	  
	  <div class="col-sm-12 title mrb-30">
	    <div class="inner">
	      <h2>Return To Diving Safely, Step by Step</h2>
	      <div class="p-text">
		    <p>Review the whole plan or jump to the section that most interests you. <br>We’ve made it easy to prepare at your own pace.</p>
	      </div> 	  
	    </div> 	  
	  </div><!--/ coll --> 
	  
	  <div class="col-sm-4 rs-coll">
	    <div class="info">
		  <figure><img src="/assets/images/4691684_63x63.svg" class="fill" alt=""></figure>
		  <h3>INACTIVITY</h3>
		  <p>There are many reasons divers may not dive for a while; the important thing is to address potential issues before you get back to it.</p>
		  <p class="text-center"><a class="btn" [routerLink]="['/period-of-inactivity']"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	    </div><!--/ coll --> 	
	  </div><!--/ coll -->
	  
	  <div class="col-sm-4 rs-coll">
	    <div class="info">
		  <figure><img src="/assets/images/4691690_63x63.svg" class="fill" alt=""></figure>
		  <h3>HEALTH STATUS</h3>
		  <p>If you’ve been ill or absent from diving for an extended period, consult your physician before you return to diving.</p>
		  <p class="text-center"><a class="btn" [routerLink]="['/health-status']"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	    </div><!--/ coll --> 	
	  </div><!--/ coll --> 	

	  <div class="col-sm-4 rs-coll">
	    <div class="info">
		  <figure><img src="/assets/images/4691696_63x63.svg" class="fill" alt=""></figure>
		  <h3>FITNESS</h3>
		  <ul>
		    <li>Take steps to get in shape.</li>
		    <li>Follow <a href="#">DAN’s Guidelines for Lifelong Medical Fitness to Dive</a>.</li>
		  </ul>
		  <p class="text-center"><a class="btn" [routerLink]="['/fitness']"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	    </div><!--/ coll --> 	
	  </div><!--/ coll -->	

	  <div class="col-sm-4 rs-coll">
	    <div class="info">
		  <figure><img src="/assets/images/4691717_63x63.svg" class="fill" alt=""></figure>
		  <h3>EQUIPMENT</h3>
		  <ul>
		    <li>Have equipment professionally serviced according to the manufacturers’ specifications.</li>
			<li>Inspect your gear for signs of wear and tear.</li>
			<li>Familiarise yourself with new equipment before using it.</li>
		  </ul>
		  <p class="text-center"><a class="btn" [routerLink]="['/equipment']"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	    </div><!--/ coll --> 	
	  </div><!--/ coll --> 	
	  
	  <div class="col-sm-4 rs-coll">
	    <div class="info">
		  <figure><img src="/assets/images/4691758_63x63.svg" class="fill" alt=""></figure>
		  <h3>DIVING SKILLS</h3>
		  <ul>
		    <li>All training agencies offer refresher courses, which provide excellent opportunities to shore up knowledge and skills.</li>
			<li>Contact your local dive store or dive professional about continuing education or refresher training.</li>
		  </ul>
		  <p class="text-center"><a class="btn" [routerLink]="['/refresh-you-skills']"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	    </div><!--/ coll --> 	
	  </div><!--/ coll -->
	  
	  <div class="col-sm-4 rs-coll">
	    <div class="info">
		  <figure><img src="/assets/images/4691759_63x63.svg" class="fill" alt=""></figure>
		  <h3>TRAVEL PLANS</h3>
		  <ul>
		    <li>Research health, safety, and testing requirements at your destination.</li>
			<li>Learn what steps your dive operator is taking to protect you.</li>
			<li>Ensure you have adequate and current dive accident and travel insurance.</li>
		  </ul>
		  <p class="text-center"><a class="btn" [routerLink]="['/travel-safely']"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	    </div><!--/ coll --> 	
	  </div><!--/ coll --> 	 	
     
    </div><!--/ row --> 
  </div>
</section><!--/ return-steps -->

<section class="info-wrapper info-white">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Return To Diving</b><span>DAN's GUIDE</span></h1>
		  <p class="update-info">Download DAN’s Return to Diving Guide, and take it with you on your next dive adventure.</p>
		  <figure><img src="/assets/images/DAN's-GUIDE.jpg" alt="image"></figure>
		  <div class="inner">
		    <p><a target="__blank" class="btn" href="https://storage.snappages.site/eupr0m0685/assets/files/return-to-diving-handout.pdf"><i class="fa fa-cloud-download fa-lg fa-fw"></i>download</a></p>
	      </div>
        </div>
	  </div>
	
    </div>
  </div>
</section>