<section class="banner-sub" style="background-image:url(/assets/images/5132120_1200x800_2500.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="banner-text">
          <h1>SAFETY ASSESSMENT <span>Training, technical and safety advice for chamber facilities</span>
          </h1>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
</section>
<!--/ banner-sub -->
<section class="about-information">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="mrb-20">
          <b>Safety Resources: Chamber Operators</b>
        </h2>
        <p>Our safety resources include a range of free, downloadable publications, advisories, checklists and other useful documents.</p>
        <h2 class="mrb-20">
          <b>RCN Bulletin</b>
        </h2>
        <p>A Newsletter of the DAN Recompression Chamber Network</p>
        <div class="chamber-pdf">
          <a href="/assets/files/RCN-8-ENGLISH-Mar-2023.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> RCN-8-ENGLISH-Mar-2023.pdf </a>
        </div>
        <div class="chamber-pdf">
          <a href="/assets/files/RCN-Bulletin-Issue-7-March-2022.pdf">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> RCN-Bulletin-Issue-7-March-2022.pdf </a>
        </div>
        <div class="chamber-pdf">
          <a href="/assets/files/RCN-Bukketin-Issue-6-August-2021.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> RCN-Bukketin-Issue-6-August-2021.pdf </a>
        </div>
        <div class="chamber-pdf">
          <a href="/assets/files/RCN-Bulletin-Issue-5-February-2021.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> RCN-Bulletin-Issue-5-February-2021.pdf </a>
        </div>
        <div class="chamber-pdf">
          <a href="/assets/files/RCN-Bulletin-Issue-4-August-2020.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> RCN-Bulletin-Issue-4-August-2020.pdf </a>
        </div>
        <div class="chamber-pdf">
          <a href="#" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> RCN-Bulletin-Issue-3-March-2020.pdf </a>
        </div>
        <div class="chamber-pdf">
          <a href="/assets/files/RCN-Bulletin-Issue-2-August-2019.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> RCN-Bulletin-Issue-2-August-2019.pdf </a>
        </div>
        <div class="chamber-pdf mrb-20">
          <a href="/assets/files/RCN-Bulletin-Issue-1-April-2019.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> RCN-Bulletin-Issue-1-April-2019.pdf </a>
        </div>
        <h2 class="mrb-20">
          <b>Risk Mitigation Publications</b>
        </h2>
        <div class="chamber-pdf">
          <a href="/assets/files/Recompression-Chamber-Safety.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>
            <span>Recompression-Chamber-Safety.pdf</span> </a>
        </div>
        <div class="chamber-pdf mrb-20">
          <a href="/assets/files/DAN’s-Risk-Assessment-Guide-for-Recomp-96.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>DAN’s-Risk-Assessment-Guide-for-Recomp-96.pdf </a>
        </div>
        <h2 class="mrb-20">
          <b>Tools</b>
        </h2>
        <div class="chamber-pdf">
          <a href="/assets/files/Depth-Gauge-Calibration-Record.xls" target="_blank">
            <i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> Depth-Gauge-Calibration-Record.xls </a>
        </div>
        <div class="chamber-pdf">
          <a href="/assets/files/Chamber-Maintenance-Schedule.pdf" target="_blank">
            <i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> Chamber-Maintenance-Schedule.pdf </a>
        </div>
      </div>
    </div>
    <!--/ row -->
  </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>
          <b>Recompression Chamber FAQs </b>
        </h2>
        <h3>
          <b>Q. What should we do when an injured diver presents for treatment at our facility, who has in implantable cardiac device in place? Can we treat them?</b>
        </h3>
        <p>The primary answer to this question does not lie with the device, but rather with the health of the diver.</p>
        <p>The important question to ask is whether the diver was cleared to dive, by their cardiac specialist after the device was installed. If declared fit-to-dive with an implantable cardiac device (ICD) in place, then there is no reason not to treat this diver inside the chamber.</p>
        <p>The secondary answers lie in the safety of the device and hence of the chamber.</p>
        <p>There are no reports of any ICD having failed inside of any recompression that we are aware of. Most ICD manufactures have issued letter of confirmation that their devices are in fact safe to be used in a pressurised environment; this included devices powered by lithium-type batteries.</p>
        <p>The concern that the device will be subjected to elevated oxygen levels is addressed in that being implanted, it is not exposed to the chamber operating environment.</p>
        <p>Lastly, in most cases, an ICD is sterilised before leaving the factory using an autoclave. Saturated, hot steam at up to 3 ATA (20 MSW, 60 FSW, 29 psi) and typically 135°C (275°F) for between 4 to 60 minutes is used to destroy any microbes. This environment is much harsher than what is expected inside a recompression chamber.</p>
      </div>
    </div>
    <!--/ row -->
  </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black">
  <div class="container">
    <div class="row row-flex">
      <div class="col-sm-12 left">
        <h3>
          <b> Q. Does our chamber need both internal and external hull isolation valves?</b>
        </h3>
        <p>Piping which passes through the chamber hull must have isolation (shutoff) valves to prevent uncontrolled pressurization or depressurization of the chamber, or leaks in any of the other gas lines that might affect control of the chamber environment should a malfunction occur. It is preferable to have isolation valves both on the exterior and interior sides of the hull.</p>
        <p>This requirement is typically set for commercial and military diving systems. However, many clinical chambers are not fitted with this capability — this is especially true for monoplace chambers.</p>
        <p>Recompression chambers used for treating injured scuba divers fall into a unique category — they treat neither fit and healthy commercial or military divers, nor sick patients who may be infirm and difficult to manage.</p>
        <p>The key to meeting this requirement is thus the assessment of real risk.</p>
        <p>The primary concern is loss of control if a system fails — say rapid, run-away pressurisation or depressurisation, a safety valve opening well below set-pressure, a bilge valve leaking, or a leak in a pressure gauge line. Without being able to isolate the line, control of the chamber and thus the safety of the occupants would be severely compromised.</p>
        <p>Secondarily, there is the concern of an inattentive or even an absent operator on the outside. How would the inside attendant deal with such loss of control?</p>
        <p>This means that a lack of control on the outside or the inability to control on the inside, without dual shell valves, would be very difficult to achieve.</p>
        <p>ASME PVHO-1, the design code that most chambers are designed to, requires a minimum of an external shell valve on all gas lines into or out of the chamber. A recompression chamber must at least meet this requirement. The unlikely event of an absent, disabled or inattentive operator should be evaluated on a case by case basis, and either a policy put in place for minimum of two people to attend the outside of the chamber, or a fail-safe or dead-man’s switch should be installed that will bring the chamber to the surface safely and shut off all pressurisation lines.</p>
        <p>Dual shell valves would, however, be good practice for all remote chambers with limited staffing.</p>
      </div>
    </div>
    <!--/ row -->
  </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 left">
        <h3>
          <b>Q. What is the correct pressure for our chamber safety valve to be set at?</b>
        </h3>
        <p>
          <b>There are a few things to consider here.</b>
        </p>
        <ul>
          <li>Some hyperbaric chambers are designed for depths allowing some degree of commercial diving to be done &ndash; say up to 225 psi (&plusmn; 16 ATA), and many are produced to provide up to a 165 FSW (50 MSW) for a US Navy treatment table 6A.</li>
          <li>The most common treatment table for a scuba diver suffering from DCS is the US Navy TT6, requiring only 29 psi (2.8 ATA). Remember also that oxygen as a therapeutic gas becomes increasingly toxic when one exceeds this pressure.</li>
          <li>Occasionally a facility might also use a mixed-gas treatment table, using heliox or nitrox at 100 FSW (30 MSW).</li>
          <li>The safety of the chamber as a pressure vessel is affected by the maximum air supply pressure that could potentially take the chamber pressure to a level above the design pressure.</li>
          <li>The codes require the safety valve to be set to be fully open at no greater than design pressure.</li>
          <li>Finally, one needs to be able to test the safety valve; preferably while still fitted to the chamber.</li>
        </ul>
        <p>
          <b>Based on the typical requirements for an injured diver recompression chamber, safe practice would thus be a combination of the following:</b>
        </p>
        <ul>
          <li> Install a safety valve that would be fully open at no more than 10 percent above the maximum, actual treatment pressure. This would prevent taking the patient to below the deepest, safe pressure, or to exceed the safe level for oxygen toxicity. </li>
          <li>Consider an additional safety valve, fitted with an external isolating valve, set to protect against depths exceeding oxygen toxicity levels &mdash; typically for the US Navy TT6 table. The isolating valve will allow for deeper treatments to be performed. This is easy to install using a T-piece before the existing safety valve.</li>
          <li>If the compressed air system can exceed the chamber design pressure if either of the two above safety valves have been isolated, then fit an additional safety valve to prevent exceeding the chamber design pressure.</li>
        </ul>
        <p>
          <b>Typical safety valves settings might be:</b>
        </p>
        <ul>
          <li>US Navy TT6 or equivalent oxygen table, set to 72 FSW (22 MSW or 32 psi)</li>
          <li>Comex 30 or equivalent heliox/nitrox table, set to 108 FSW (33 MSW or 48 psi)</li>
          <li>US Navy TT6A or equivalent deep air table, set to 180 FSW (55 MSW or 80 psi)</li>
        </ul>
      </div>
      <!--/ right -->
    </div>
    <!--/ row -->
  </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black">
  <div class="container">
    <div class="row row-flex">
      <div class="col-sm-12 left">
        <h3>
          <b>Q. How often do we need to oxygen clean our hyperbaric system?</b>
        </h3>
        <p>To answer this question, we first need to understand what is considered as the oxygen-enrichment level at which oxygen cleaning is require from a safety aspect.</p>
        <p> There are many different points of view in this respect. However, the generally accepted 'consensus' or 'ASTM' limit is 25 percent - not to be confused with the safe operating limit in an air-filled chamber of 23.5 percent. </p>
        <p> The important aspect here is that the pressure of gases in the compression and gas delivery systems may well exceed 125 psi (0.86 MPa), which is the limit at which one may use ball valves in oxygen systems. This points to a clear message: we need systems free of any form of fuel in order to prevent catastrophic fires.</p>
        <p>All gas systems that convey an oxygen-enriched mixture with more than 25 percent enrichment, per volume, should therefore be regarded as oxygen systems. This means that no hydrocarbons (oil especially), dust, particles or any other potential sources of fuel should be present in the complete system.</p>
        <p> So, what then is the cleaning frequency of an oxygen system? Here good practice states that oxygen cleaning should be done on any oxygen-enriched gas system:</p>
        <ol>
          <li>Before the system is put into service for the first time;</li>
          <li>When-ever any contamination occurs or is suspected (such as when disallowed fluids or lubricants or even oil-lubricated compressor air is used);</li>
          <li>When-ever a line (pipe, hose or component) is opened without being handled in an oxygen-clean manner;</li>
          <li>When-ever a replacement part or new item of equipment is installed that is not certified as oxygen-clean;</li>
          <li>When-ever a system is disassembled, serviced or overhauled;</li>
          <li>When-ever any brazing or welding is done on any pipe; or</li>
          <li>When-ever any unauthorised work is done on any part of the system;</li>
        </ol>
        <p>If none of these activities occurs, then the system should be left intact and periodic cleaning is not required. In fact, as a piping system can be complex, if all the parts are properly cleaning before initial use, we are more likely to contaminate it than to clean it effectively.</p>
        <p>If repairs, servicing, modifications, component replacement and/or system disruptions are required, remember to work cleanly to maintain oxygen-cleanliness integrity at all times.</p>
        <p>There is one remaining concern:</p>
        <p>What happens when we switch from oxygen to air on our breathing systems, and then back to oxygen from air: oil-lubricated compressor air will not be free of oil unless specifically filtered for this flammable impurity. The air purity limit for oil is ≤ 0.1 mg/m3.</p>
        <p>If you are unsure of your air quality, then take a sample immediately after use and preferably before oxygen is put back into the system. This may contaminate your piping system from where the air enters the oxygen lines until the breathing apparatus. </p>
      </div>
      <!--/ right -->
    </div>
    <!--/ row -->
  </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 left">
        <h3>
          <b>Q. Is it safe to use a lithium-ion battery powered device inside the hyperbaric chamber?</b>
        </h3>
        <p>Lithium-ion batteries have become the standard for most battery powered devices. In a hyperbaric chamber, we might find them in a diving light for emergencies, an otoscope, or internal analyzer units, but mostly in patient-support medical equipment, including implantable devices glucometer sensor units and pain pumps.</p>
        <p>While we all hear the stories of lithium-ion battery fires, the truth is that these are almost all as a result of either recharging issues or mechanical damage. We have not yet heard of an implantable device (such as a pacemaker) burning or exploding. </p>
        <p>The biggest risk occurs during recharging and for this reason, one should never recharge any batteries inside the chamber. The best advice is to limit the use of any batteries inside the chamber, but where you need to use them, then consider the following additional recommendations:</p>
        <ul>
          <li>Only use original equipment battery chargers for charging batteries (outside the chamber) and only use the manufacturers specific batteries: care is taken by the device manufacturer to manage recharging loads and to optimize the charge levels in the battery.</li>
          <li>Do not leave batteries on charge overnight, for extended periods or when unattended, and do not keep lithium-ion batteries at full charge levels unless you know you will need them.</li>
          <li>Inspect lithium-ion batteries regularly for any sides of damage, deformation (bulging) or leakage.</li>
          <li>Never tamper with parts of the battery, especially not the casing</li>
          <li>Ensure that the battery leads, contacts and housings are always secure.</li>
          <li>Develop, implement and practice an emergency action plan for any form of lithium-ion battery fire: water will not extinguish a lithium-ion fire; these fires will need foam, carbon dioxide or dry chemical extinguishers to extinguish them, so the best course of action is to lock the device out immediately you detect any abnormal heat, smoke, smell or suspected failure.But most of all...</li>
          <li>Never take high energy devices (those that consume more power) into the chamber, such as cell phones, iPads, laptop computers or personal medical devices that use rechargeable lithium-ion batteries.</li>
        </ul>
        <p>Disposable coin-size batteries are not regarded as unsafe, but where possible, these should be checked before each treatment, to ensure there has been no damage and that the batteries are secure. You may wish to read the full article "Use of Lithium-Ion Batteries in Hyperbaric Chambers", either for free or for a one-hour CHT or nurse CE credit, on the <a href="https://learn.hyperbaricmedicine.com/activities/use-of-li-ion-batteries-in-hyperbaric-chambers-1-0-hour/" target="_blank">International ATMO site</a>. </p>
      </div>
      <!--/ right -->
    </div>
    <!--/ row -->
  </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black">
  <div class="container">
    <div class="row row-flex">
      <div class="col-sm-12 left">
        <h3>
          <b>Q: How often do I need to calibrate my chamber depth gauges?</b>
        </h3>
        <p>This question is asked frequently, and some confusion exists with how it needs to be done. There is more to just 'calibration' though, so let us break this down into a few respective parts.</p>
        <ol>
          <li>We all use the term 'calibration' but in reality, all we can really do to test the gauge accuracy is zero the gauge and then compare the readings with some form of master, or pre-calibrated gauge. Let us therefore accept the word 'checking' rather than 'calibration', which will indicate if the gauge works and reads correctly.</li>
          <li>Accuracy is a relative term. For deep diving, which decompression must be done very carefully, the standard requirement is ±0.25% of full scale. For a 0 - 450 fsw (0 - 130 msw) gauge, this would imply that each reading needs to be within ±1 fsw (±0.3 msw). However, for the treatment of injured divers to typically no more than 100 fsw (30 msw), this degree of accuracy is not required to ensure the best outcome. Here an accuracy of &plusmn;0.5% of full scale is accepted practice.</li>
          <li>The frequency of testing depends on a variety of factors, such as the actual location and situation. Here are the guidelines: <ul>
              <li>In the event of any visible discrepancy between different gauges reading the same pressurized compartment (say the Caisson and main lock gauges); or</li>
              <li>In the event of any gauge malfunction, such as not returning to zero, sticking, hunting around the expected pressure level; or</li>
              <li>In the event of any mechanical damage, such as the gauge being dropped or something striking the gauge; or</li>
              <li>Where regulatory requirements dictate (some countries and some operating standards have specified requirements; or</li>
              <li>The original manufacturer's instructions; or failing any of these</li>
              <li>At least once a year. This is the general international standard; the ASME PVHO-2 standard for example requires annual testing.</li>
            </ul>
          </li>
          <li>The final consideration is how to check the gauges. Here we have a few options. <ul>
              <li>Comparing all the gauges fitted to the chamber: at least the treatment (main) lock and the transfer (entry) lock gauges; the Caisson gauge if fitted; or</li>
              <li>Using a master, calibrated gauge to check each depth gauge at a pre-selected set of pressures going up and down in pressure; or</li>
              <li>Removing the gauge and sending it to an accredited laboratory. However, unless this is required by the inspection authority, this is not the best way to do this as the transporting and then re-installing of the gauge can lead to changes in the readings. The ASME-PVHO-2 standard accepts the first option, as long as it is done thoroughly and recorded.</li>
            </ul>
          </li>
        </ol>
      </div>
      <!--/ right -->
    </div>
    <!--/ row -->
  </div>
</section>
<!--/ about-text  -->
<app-sub-footer></app-sub-footer>
