<section class="team-sec">

    <div class="team-bg">
      <div class="container">
        <div class="row">
        
          <div class="col-sm-12">
            <h2>Meet The DAN Team <span>These people work on making DAN better.</span></h2>
            <figure><img src="/assets/images/team-01.png"></figure>
            <h3>Get to know me.</h3>
            <p>Morné Christou is the Chief Executive Officer of DAN Southern Africa. He has a solid background in dive resort management and diving instruction. He also has extensive experience within the diving industry and has a particular interest in diving safety. He continuously promotes dive safety education; support, servicing and training of remote recompression facilities; public relations; marketing, and various dive safety projects. His responsive, ‘can do’ and ‘hands-on’ approach goes a long way towards ensuring that DAN members continue receiving the best quality service possible.</p>
          </div>
      
        </div>
      </div>
    </div><!--/ team-bg -->
    
    <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-02.png"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Jack Meintjes is the Medical Director of DAN Southern Africa. He is an occupational medicine specialist and diving medicine expert. He has served as the medical director for DAN since 2007. Dr Meintjes has extensive training and many years of experience in hyperbaric medicine and commercial diving. He is the Course Director for the prestigious Diving and Hyperbaric Medicine programme at the University of Stellenbosch.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-03.png"></figure>
              <h3>Get to know me.</h3>
              <p>Ann Schwaeble is the Chief Financial Officer of DAN Southern Africa. She joined DAN in 2013 as company director. Her role is to ensure that DAN handles its financial affairs diligently and she keeps tight control over DAN’s budget. Together with Morné Christou, Ann is committed towards building up DAN staff as a team to achieve the highest level of service excellence to its members.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-04.png"></figure>
              <h3>Get to know me.</h3>
              <p>Michael Partridge is the Operations Director of DAN Southern Africa. He is a qualified Electrical Engineer and has a Naval background as a Submariner, and that is where his love for diving started. Michael is a qualified Scuba Diver, Technical Diver, CCR Diver, Scuba and Technical Instructor Trainer, DAN Instructor Trainer, DAN Examiner, and DAN Research Co-Ordinator. He is the DAN systems developer that includes the e-commerce platform, members and administration portals, accounting integration, electronic DAN safety tag, and the DAN incident and dive profile database.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-05.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Michelle Littlewood has been DAN’s accounting officer working behind the scenes for more than 15-years. All great organisations rely on competent staff who can take care of all the daily financial administration tasks.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-06.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Laurel is an Emergency Medical Technologist and is responsible for supporting the DAN medical information and emergency hotline during office hours. She has many years’ experience working at Netcare’s call centre and continues to works closely with Netcare when further assistance or evacuation is required. She ensures that DAN members have a uniquely personal experience when accessing DAN’s emergency and medical services. She provides important quality assurance and continuity of care.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-07.png"></figure>
              <h3>Get to know me.</h3>
              <p>Sel-Marie is in charge of DAN membership services administration. She is the go-to person for membership enquiries. Her pledge is to ensure that DAN membership applications are processed within 48 hours, but her goal is to beat that whenever she and her team can do so.. Sel-Marie’s strength is in her ability to multi-task and to balance workloads with a positive attitude and team approach.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-08.png"></figure>
              <h3>Get to know me.</h3>
              <p>Nicky is a qualified scuba diver and instructor. She worked at several scuba operations in Mozambique, Malawi and South Africa. She qualified as an instructor in 1999 and is currently a certified NAUI instruct. She was also employed in the national and daily media industry as a photojournalist and feature writer. She is DAN Southern Africa’s marketing and social media person.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-09.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Hermie Britz is a highly trained and experienced emergency physician. After a hiatus following maternity she rejoined the DAN medical team as assistant medical director in 2011. Her vast experience in emergency medicine, expertise in PFO screening and deep technical diving support make her a prized member of the team.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-010.png"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Frans Cronjé is the founder of DAN Southern Africa. Following his maxim that “success without succession is failure” he passed on the baton of managing director to Francois Burman in 2011. It remains a source of great joy to him to see how DAN continues to grow. He is happy to offer ongoing support wherever his 20 years plus of diving and hyperbaric expertise may be of value.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-011.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Mike Marshall is the medical director for the St Augustine’s Hyperbaric Medicine Centre. He has supported the DAN hotline as a diving medical doctor since 2002.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-012.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Lourens de Kock is one of the partners in a busy diving, aviation and maritime medical practice in Cape Town.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-013.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Gary Morris is a general medical practitioner from Scottburgh, KwaZulu-Natal.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-014.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Ajit Daya currently work in a Cape Town based group private practice covering aviation, diving, occupational health, immigration and travel medicine.  He previously worked in SAMHS for the SA Navy in Underwater and Occupational Health, holding post graduate qualifications in both fields.  He has experience in both military and commercial diving as well as hyperbaric medicine.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-015.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Blanche Andrews completed her BSc (Hons) degree in underwater medicine and previously worked as a submarine and diving doctor for the SA Navy/SAMHS. She currently specialises in occupational medicine at Stellenbosch University.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-016.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr LaDonna Rae Davids became involved in diving medicine several years ago when joining the Institute for Maritime Medicine. She is currently the Senior Diving Medical Officer at the SA Navy, involved with both the diving and submarine branches. She has qualified in a number of DAN courses and serves to date as a diving medical doctor for DAN hotline.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-017.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Evert Bouwer has completed his MBChB degree, dive medicine and level 2 operational support qualifications. He is a travel health practitioner and a general practitioner in Durbanville, Cape Town.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-018.png"></figure>
              <h3>Get to know me.</h3>
              <p>Hey, I’m  Dr Nick Park-Ross and I’m from Durban. I’m excited to be a part of the DAN team! I enjoy the outdoor life and you can sign me up for any water sport especially if it’s in the ocean.  I particularly enjoy paddle boarding,  surfing and freediving. Professionally, I focus on occupational health, in particular the maritime and diving industries.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
    
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-019.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Louis van Heerden is qualified in Diving Medicine and has a keen interest in Emergency and Sports Medicine. He is currently working in Remote Medicine and also has experience in Cruise Ship Medicine.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-020.jpg"></figure>
              <h3>Get to know me.</h3>
              <p>Dr Rob Schneider is qualified in Diving Medicine and has a keen interest in Emergency and Sports Medicine. He is currently working in Remote Medicine and also has experience in Cruise Ship Medicine.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-021.png"></figure>
              <h3>Get to know me.</h3>
              <p>Monique Joubert is one of the DAN emergency hotline agents!</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-022.png"></figure>
              <h3>Get to know me.</h3>
              <p>Nikita Werthmann is a qualified Emergency Care Practitioner, currently based in Cape Town as a Flight Paramedic. She is also part of the National Sea Rescue Institute and is one of our DAN emergency hotline agents.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-023.png"></figure>
              <h3>Get to know me.</h3>
              <p>Monique Joubert is one of the DAN emergency hotline agents!</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
	  
	  <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-024.png"></figure>
              <h3>Get to know me.</h3>
              <p>Nikita Werthmann is a qualified Emergency Care Practitioner, currently based in Cape Town as a Flight Paramedic. She is also part of the National Sea Rescue Institute and is one of our DAN emergency hotline agents.</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
      <div class="team-bg">
        <div class="container">
          <div class="row">
          
            <div class="col-sm-12">
              <figure><img src="/assets/images/team-025.png"></figure>
              <h3>Get to know me.</h3>
              <p>Mariette Mertz is one of the DAN emergency hotline agents!</p>
            </div>
        
          </div>
        </div>
      </div><!--/ team-bg -->
      
  </section><!--/ team-sec -->   
<app-sub-footer></app-sub-footer>
