.industry-partner-app input[type=checkbox] {
    width: 18px;
    height: 18px;
    background: rgba(17, 17, 17, 0.1);
    border: 1px solid rgba(17, 17, 17, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 0 10px 0 0;
}
.heading-caption{
	color: rgba(17, 17, 17, 0.6);
    font-size: 15px;
    margin: 10px 0;	
}