<section class="form-wrap">
  <div class="container industry-partner-app">
    <div class="row">

      <div class="col-sm-12">
        <div class="form-grid">
          <div class="title">
            <h2>Industry Partner Application Form</h2>
            <p>Your application will be processed within 24 hours</p>
          </div><!--/ title -->
         
          <form>			
			<div class="form-steps form-group col-sm-12" id="step_1">
			  <div class="row">
			    
				<div class="form-group col-sm-12">
				  <div class="step-no">Step 1 of 3</div>
				  <h3>Package Selection</h3>
				  <p class="heading_caption">Please complete required fields</p>
				  <div class="form-bar">
					<div class="form-clearbar"></div>
					<div class="form-fillbar"></div>
				  </div><!--/ form-bar -->
				</div>
			
		        <div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">Select Your Package</label>
				    <div class="input-inner row">
				      <div class="col-sm-12 input-radio"><label class="radio-container mrb-r"><input type="radio" name="ld0am71e" value="Free includes use of DAN logo, discounted DAN product pricing & listing on DAN website"><span class="checkmark"></span> Free includes use of DAN logo, discounted DAN product pricing & listing on DAN website</label></div>
				    
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="ld0am71e" VALUE="R897 includes DAN promo pack, the use of DAN logo, discounted DAN product pricing & listing on DAN website. Excludes international shipping."><span class="checkmark"></span> R897 includes DAN promo pack, the use of DAN logo, discounted DAN product pricing & listing on DAN website. Excludes international shipping.</label></div>
				    </div>
			      </div>
		        </div>
			
			    <div class="form-group col-sm-12 steps-btn">
			      <a href="#" class="btn next-btn" data-id="1">Next</a>
		        </div>
			
		      </div><!--/ row -->
		    </div><!--/ form-steps -->
			
			<div class="form-steps form-group col-sm-12" id="step_2">
			  <div class="row">
			    
				<div class="form-group col-sm-12">
				  <div class="step-no">Step 2 of 3</div>
				  <h3>Business Details Details</h3>
				  <p class="heading_caption">Please complete required fields</p>
				  <div class="form-bar">
					<div class="form-clearbar"></div>
					<div class="form-fillbar"></div>
				  </div><!--/ form-bar -->
				</div>
			
		        <div class="form-group col-sm-6">
			      <label>Dive Business Name</label>
			      <input class="form-control" placeholder="Octopus Dive Center" value="">
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Contact Person Name & Surname</label>
			      <input class="form-control" placeholder="Jon Doe" value="">
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Contact Person DAN Number</label>
			      <input class="form-control" placeholder="DANM 000000" type="text" value="">
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Business Phone Number</label>
			      <input class="form-control" placeholder="+27-00-000-0000" type="text" value="">
		        </div>
				
				<div class="form-group col-sm-6">
			      <label>Business Email Address</label>
			      <input class="form-control" placeholder="example@domain.com" type="text" value="">
		        </div>
				
				<div class="form-group col-sm-6">
			      <label>Business Website</label>
			      <input class="form-control" placeholder="" type="text" value="">
		        </div>
				
				<div class="form-group col-sm-6">
			      <label>Business Google Maps Link</label>
			      <input class="form-control" placeholder="" type="text" value="">
		        </div>
				
				<div class="form-group col-sm-12">
			     <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="agree">
			        <label class="custom-control-label ml-2" for="remember">I’ve read and agree with the <a routerLink="/industry-partners" rel="noopener noreferrer" target="_blank">Industry Partner Benefits</a> and <a routerLink="/privacy-policy" rel="noopener noreferrer" target="_blank"><span>DAN  Privacy Policy</span> </a></label>
			      </div>
		        </div>
				
			    <div class="form-group col-sm-12 steps-btn">
			      <div class="row">
				    <div class="col-sm-6"><a href="#" class="btn btn-red back-btn" data-id="2">Back</a></div>
					<div class="col-sm-6"><a href="#" class="btn next-btn" data-id="2">Next</a></div>
		          </div>
		        </div>
			
		      </div><!--/ row -->
		    </div><!--/ form-steps -->
			
			<div class="form-steps form-group col-sm-12" id="step_3">
			  <div class="row">
			    
				<div class="form-group col-sm-12">
				  <div class="step-no">Step 3 of 3</div>
				  <h3>Staff Details</h3>
				  <p class="heading_caption">Please complete required fields</p>
				  <div class="form-bar">
					<div class="form-clearbar"></div>
					<div class="form-fillbar"></div>
				  </div><!--/ form-bar -->
				</div>
				<h3>1. Staff Member</h3>
				<div class="form-group col-sm-6">
			      <label>Staff Member First Name</label>
			      <input class="form-control" placeholder="Jon" value="">
		        </div>
				<div class="form-group col-sm-6">
			      <label>Last Name</label>
			      <input class="form-control" placeholder="Doe" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Member DAN Number</label>
			      <input class="form-control" placeholder="DANM 000000" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Qualification</label>
			      <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Instructor">
			        <label class="custom-control-label ml-2" for="Instructor"> Instructor</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Divemaster">
			        <label class="custom-control-label ml-2" for="Divemaster"> Divemaster</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Skipper">
			        <label class="custom-control-label ml-2" for="Skipper"> Skipper</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Other">
			        <label class="custom-control-label ml-2" for="Other"> Other</label>
			      </div>
		        </div>
				
				<h3>2. Staff Member</h3>
				<div class="form-group col-sm-6">
			      <label>Staff Member First Name</label>
			      <input class="form-control" placeholder="Jon" value="">
		        </div>
				<div class="form-group col-sm-6">
			      <label>Last Name</label>
			      <input class="form-control" placeholder="Doe" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Member DAN Number</label>
			      <input class="form-control" placeholder="DANM 000000" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Qualification</label>
			      <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Instructor">
			        <label class="custom-control-label ml-2" for="Instructor"> Instructor</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Divemaster">
			        <label class="custom-control-label ml-2" for="Divemaster"> Divemaster</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Skipper">
			        <label class="custom-control-label ml-2" for="Skipper"> Skipper</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Other">
			        <label class="custom-control-label ml-2" for="Other"> Other</label>
			      </div>
		        </div>
				
				<h3>3. Staff Member</h3>
				<div class="form-group col-sm-6">
			      <label>Staff Member First Name</label>
			      <input class="form-control" placeholder="Jon" value="">
		        </div>
				<div class="form-group col-sm-6">
			      <label>Last Name</label>
			      <input class="form-control" placeholder="Doe" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Member DAN Number</label>
			      <input class="form-control" placeholder="DANM 000000" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Qualification</label>
			      <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Instructor">
			        <label class="custom-control-label ml-2" for="Instructor"> Instructor</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Divemaster">
			        <label class="custom-control-label ml-2" for="Divemaster"> Divemaster</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Skipper">
			        <label class="custom-control-label ml-2" for="Skipper"> Skipper</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Other">
			        <label class="custom-control-label ml-2" for="Other"> Other</label>
			      </div>
		        </div>
				
				<h3>4. Staff Member</h3>
				<div class="form-group col-sm-6">
			      <label>Staff Member First Name</label>
			      <input class="form-control" placeholder="Jon" value="">
		        </div>
				<div class="form-group col-sm-6">
			      <label>Last Name</label>
			      <input class="form-control" placeholder="Doe" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Member DAN Number</label>
			      <input class="form-control" placeholder="DANM 000000" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Qualification</label>
			      <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Instructor">
			        <label class="custom-control-label ml-2" for="Instructor"> Instructor</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Divemaster">
			        <label class="custom-control-label ml-2" for="Divemaster"> Divemaster</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Skipper">
			        <label class="custom-control-label ml-2" for="Skipper"> Skipper</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Other">
			        <label class="custom-control-label ml-2" for="Other"> Other</label>
			      </div>
		        </div>
				
				<h3>5. Staff Member</h3>
				<div class="form-group col-sm-6">
			      <label>Staff Member First Name</label>
			      <input class="form-control" placeholder="Jon" value="">
		        </div>
				<div class="form-group col-sm-6">
			      <label>Last Name</label>
			      <input class="form-control" placeholder="Doe" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Member DAN Number</label>
			      <input class="form-control" placeholder="DANM 000000" value="">
		        </div>
				<div class="form-group col-sm-12">
			      <label>Staff Qualification</label>
			      <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Instructor">
			        <label class="custom-control-label ml-2" for="Instructor"> Instructor</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Divemaster">
			        <label class="custom-control-label ml-2" for="Divemaster"> Divemaster</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Skipper">
			        <label class="custom-control-label ml-2" for="Skipper"> Skipper</label>
			      </div>
				  <div class="custom-control custom-checkbox">
			        <input type="checkbox" class="custom-control-input" id="Other">
			        <label class="custom-control-label ml-2" for="Other"> Other</label>
			      </div>
		        </div>
			    <div class="form-group col-sm-12 steps-btn">
			      <div class="row">
				    <div class="col-sm-6"><a href="#" class="btn btn-red back-btn" data-id="3">Back</a></div>
					<div class="col-sm-6"><input type="submit" class="btn" value="Submit"></div>
		          </div>
		        </div>
			
		      </div><!--/ row -->
		    </div><!--/ form-steps -->
		  </form>
        </div><!--/ form-grid -->
      </div>

    </div><!--/ row -->
  </div>
</section><!--/ form-wrap -->