<section class="banner-sub" style="background-image:url(/assets/images/4749076_2011x1334_2500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1>REFRESH YOUR EQUIPMENT <span>Inspect your gear for degradation and proper function</span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</section>
<!--/ banner-sub -->
<section class="about-text about-2 white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <h2>
                    <b> Diving Equipment</b>
                </h2>
                <p>It is not always obvious when your equipment needs maintenance or replacement, especially after a long break from diving. Some less obvious problems can easily slip under your radar. We all know that equipment failures can and do happen, but theses failures still catch divers off guard.</p>
                <p> Some gear you can assess yourself; others will need to be serviced by a qualified technician.</p>
                <p>If you have purchased any new gear during the time you were not diving, be sure to thoroughly familiarise yourself with it before you get back in the water.</p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/Simple-Steps-for-a-Safe-Return.png" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black text-center about-equipment">
    <div class="container">
        <div class="row return-carousel">
            <div class="col-sm-12 title mrb-30">
                <div class="inner inn-er">
                    <h1 class="text-show">
                        <b>Inspect Your Gear Before Your Dive Trip</b>
                    </h1>
                    <p class="p-after">Take care of your gear, and your gear will take care of you. This is especially important if you have <br> been away from diving for an extended period and your gear was unused. </p>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-12  title mrb-30">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                            <img src="/assets/images/4751004_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                            <img src="/assets/images/4751009_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
                            <img src="/assets/images/4751024_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4">
                            <img src="/assets/images/4751029_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5">
                            <img src="/assets/images/4751039_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6">
                            <img src="/assets/images/4751044_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7">
                            <img src="/assets/images/4751049_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8">
                            <img src="/assets/images/4751055_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9">
                            <img src="/assets/images/4751060_5568x3712_1000.png">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10">
                            <img src="/assets/images/4751065_5568x3712_1000.png">
                        </button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/assets/images/4751004_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751009_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751024_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751029_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751039_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751044_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751049_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751055_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751060_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/4751065_5568x3712_1000.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev slide-button prev-left" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next slide-button prev-right" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ return-steps -->
<section class="return-steps return-steps-sub">
    <div class="container">
        <div class="row equipment-resources">
            <div class="col-sm-12 title mrb-30 ">
                <div class="inner inn-er">
                    <h1>
                        <b>Additional</b>
                        <br>
                        <span>EQUIPMENT RESOURCES</span>
                    </h1>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4751787_800x500_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>How Old Is To Old</h2>
                    <p>Dive gear such as dive computers and buoyancy compensator devices (BCDs) get old, too. When should we consider replacing them?</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4751835_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>Clean Your Scuba Equipment</h2>
                    <p>Dive gear can be contaminated when stored, mold can form, and dust can enter into openings. Cleaning is not just about infection control and is an essential part of maintaining your equipment.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4751874_1200x800_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>New Gear Orientation</h2>
                    <p>Take time to become familiar with your new equipment before returning to diving. Whether you are a new diver buying your <br> first set of gear or an experienced diver purchasing an updated piece of equipment, it is important to learn about that new gear. </p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4818284_800x550_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>Cylinder Safety</h2>
                    <p>Ensuring the safety of your dive cylinder is just as much your responsibility as that of the filling station.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4818299_800x500_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>Are 6351-T6 Alloy Scuba Cylinders Safe to Use?</h2>
                    <p>Cylinders made from this grade of aluminium have been known to rupture during filling and use. There are safety requirements in place to prevent this from happening, but you need to know and follow these.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4818349_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>Invisible Crystals</h2>
                    <p>Reports of regulator failure due to blockage by degraded breathing hoses initiated an investigation into why this happens. Divers need to read this article and follow the guidelines carefully when using braided hoses.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4818432_800x500_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>Air Hoses: A Closer Look</h2>
                    <p>This article summarised the reasons for the degradation of certain brands of braided breathing hoses.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4818400_1200x600_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>Hose Failure</h2>
                    <p>Hose degradation is potentially an unseen hazard that you should consider during your predive check.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 rs-coll">
                <div class="info text-center">
                    <figure class="img-full">
                        <img src="/assets/images/4818389_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>Gear Maintenance</h2>
                    <p>Protect your investment and prevent dive accidents. Scuba gear is life-support equipment and is just as important to maintain as one’s physical health or personal vehicle. </p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-12 rs-coll">
                <p class="text-center">
                    <a class="btn btn-blue" [routerLink]="['/return']">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>BACK TO MAIN PAGE </a>
                </p>
            </div>
            <!--/ row -->
        </div>
    </div>
</section>
<!--/ return-steps -->
<app-sub-footer></app-sub-footer>