<section class="banner">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/danshop/images/slider-01.jpg" class="slider-img d-block w-100" alt="...">
                <div class="slide-text">
                    <div class="inner">
                        <h1>DAN Members</h1>
                        <h3>Please register to receive your member discounts.</h3>
                        <p>
                            <sup>ZAR</sup> 749 <sup>99</sup>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default">Start Buying</a>
                        </p>
                    </div>
                </div>
                <!--/ slide-text -->
            </div>
            <div class="carousel-item">
                <img src="/assets/danshop/images/slider-02.jpg" class="slider-img d-block w-100" alt="...">
                <div class="slide-text">
                    <div class="inner">
                        <h1>AWESOME GIFTS</h1>
                        <h3>Looking for the perfect American candy present.</h3>
                        <p>
                            <sup>ZAR</sup> 749 <sup>99</sup>
                        </p>
                        <p>
                            <a href="#" class="btn btn-default">Start Buying</a>
                        </p>
                    </div>
                </div>
                <!--/ slide-text -->
            </div>
        </div>
        <!--/ carousel-inner -->
        <button class="carousel-control-prev carousel-control left" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-control right" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!--/ banner -->

<section class="products-home pad-b15">
  <div class="container">
    <div class="row">

	  <div class="col-sm-12 mrb-35">
	    <div class="info-tag">
		  <h2>Oxygen & First Aid For Divers</h2>
		  <p>DAN’s oxygen and first aid products have been developed, tested, and refined with input from leading doctors and researchers to meet the unique needs of the dive community.</p>
        </div>	  
      </div>
	  
	  <div class="col-sm-4 product-col mrb-30">
	    <div class="info">
		  <figure><img src="/assets/danshop/images/products-01.jpg" alt="image"></figure>
		  <h3>Oxygen Units</h3>
		  <p>Emergency oxygen is the preferred treatment for most scuba diving injuries, and early administration can improve the outcome for an injured diver.</p>
		  <p><a [routerLink]="['/danshop/category/oxygen-units']" class="btn"><i class="fa fa-check-circle" aria-hidden="true"></i> Shop Now</a></p>
        </div>	  
      </div>	
	  
	  <div class="col-sm-4 product-col mrb-30">
	    <div class="info">
		  <figure><img src="/assets/danshop/images/products-02.jpg" alt="image"></figure>
		  <h3>First Aid Kits</h3>
		  <p>DAN’s first aid kits enable divers to be prepared in the event of an emergency on the boat, on the beach, or in the dive shop.</p>
		  <p><a [routerLink]="['/danshop/category/first-aid-kits']" class="btn"><i class="fa fa-check-circle" aria-hidden="true"></i> Shop Now</a></p>
        </div>	  
      </div>
	  
	  <div class="col-sm-4 product-col mrb-30">
	    <div class="info">
		  <figure><img src="/assets/danshop/images/products-03.jpg" alt="image"></figure>
		  <h3>Training</h3>
		  <p>DAN educates divers, dive operators, and medical professionals how to care for injured divers to maximize the potential for full recovery.</p>
		  <p><a [routerLink]="['/danshop/category/training']" class="btn"><i class="fa fa-check-circle" aria-hidden="true"></i> Shop Now</a></p>
        </div>	  
      </div>	  
	  
	  <div class="col-sm-6 product-col mrb-30">
	    <div class="info">
		  <figure><img src="/assets/danshop/images/products-04.jpg" alt="image"></figure>
		  <h3>Safety</h3>
		  <p>DAN’s first aid and safety accessories are the ideal complement to your emergency response gear. Add these items to any kit and be prepared for whatever happens during your dive adventure.</p>
		  <p><a [routerLink]="['/danshop/category/safety-gear']" class="btn"><i class="fa fa-check-circle" aria-hidden="true"></i> Shop Now</a></p>
        </div>	  
      </div> 
	  
	  <div class="col-sm-6 product-col mrb-30">
	    <div class="info">
		  <figure><img src="/assets/danshop/images/products-05.jpg" alt="image"></figure>
		  <h3>Lifestyle</h3>
		  <p>Show your commitment to dive safety with DAN gear. Our apparel and accessories are top quality to provide style and performance while showing off your DAN pride.</p>
		  <p><a [routerLink]="['/danshop/category/clothing']" class="btn"><i class="fa fa-check-circle" aria-hidden="true"></i> Shop Now</a></p>
        </div>	  
      </div>	  
          
    </div><!--/ row -->	
  </div>
</section><!--/ products-home --> 
<app-products></app-products>
<app-danshop-sub-footer></app-danshop-sub-footer>
  
