<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Dive Cover</b><span>PACKAGES</span></h1>
		  <p class="update-info">DAN offers comprehensive plans that provide protection and peace-of-mind in the event of a dive accident for far less than the cost of an unplanned event.</p>
		  
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>Dive Pro Intern Package</h2>
		<p>If you intend to join a dive instructor, divemaster or other diving-related internship programs, then the DAN Dive Pro Intern package is for you. The membership package is available to international divers outside the DAN Southern Africa region. With DAN, you have a reliable organisation supporting you while working hard to keep safety standards high.</p>
		<p><a [routerLink]="['/annual']" class="btn"><i class="fa fa-hand-o-right fa-lg fa-fw"></i>Choose Your package</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="assets/images/10745376_5568x3712_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Tech Diver Intern Package</h2>
		<p>If you intend to join a technical diving internship program, then the DAN Dive Tech Intern package is for you. During your training, you will use specialised equipment, dive longer and deeper and be taught the right skills, knowledge and experience to safely undertake tech diving. The membership package is available to international divers outside the DAN Southern Africa region. All you need is extra peace of mind, choosing a personal dive cover package from the most reliable organisation.</p>
		<p><a [routerLink]="['/annual']" class="btn"><i class="fa fa-hand-o-right fa-lg fa-fw"></i>Choose Your package</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="assets/images/10745391_5568x3712_1000.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>