<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Partner</b><span>PROGRAMS</span></h1>
		  <p class="update-info">Choose a DAN Partner Program that suits you dive needs.</p>
		  <p class="update-info mrt-0"><a class="btn" [routerLink]="['/dansadansaorg']" style="">Dive Business Listing</a></p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>DAN Industry Partner</h2>
		<p>DAN offers dive businesses the opportunity to join us in the move to a more dive safety-conscious industry. Enroll as a DAN Industry Partner today!</p>
		<p><a [routerLink]="['/industry-partners']" class="btn"><i class="fa fa-check fa-lg fa-fw"></i>Enroll today</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3284918_1920x1280_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Diving Safety Partners</h2>
		<p>Being a DAN Diving Safety Partner means that in a diving medical emergency, you and your staff are 100% ready and fully equipped to handle the situation.</p>
		<p><a [routerLink]="['/hira-program']" class="btn"><i class="fa fa-check fa-lg fa-fw"></i>Enroll today</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3301437_1920x1280_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>Technical Dive Expeditions</h2>
		<p>If you are planning a dive expedition and will be diving deeper than 100 meters please follow guidelines before submitting your application for approval.</p>
		<p><a [routerLink]="['/technical-diving']" class="btn"><i class="fa fa-hand-o-right fa-lg fa-fw"></i>submit your plan today</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3300374_1920x1280_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Safety Resources: Dive Operators</h2>
		<p>Our safety resources, free to all, include a range of downloadable publications, advisories, checklists and other useful documents.</p>
		<p><a [routerLink]="['/operational-safety-resources']" class="btn"><i class="fa fa-info-circle fa-lg fa-fw"></i>learn more</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/5125289_5568x3712_1000.png" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>