<section class="banner-sub chamber-safety">
  <div class="container">
    <div class="row">
	  <div class="col-sm-12">
	  
	    <div class="banner-text">
		  <h1>CHAMBER SAFETY<span>Training, technical and safety advice for chamber facilities</span></h1>
		</div>
		
	  </div>
    </div><!-- row -->
  </div>
</section><!--/ banner-sub -->

<section class="about-information">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
		<h2>Chamber Safety</h2>
		<p>DAN’s initial response to any diving injury or illness is to ensure that the diver receives appropriate first aid, and is evaluated by a medical professional, followed by the initiation of any required treatment which may include a hyperbaric chamber. The standard of care for many diving illnesses is recompression. It is therefore essential that DAN not only knows where suitable recompression facilities are located, but also that they are able to be used to treat injured divers. To address this, DAN has three programs to support and collaborate with hyperbaric facilities.</p>
		
		<h2>Recompression Chamber Network</h2>
		<p>The recompression chamber network (RCN) is a global database of hyperbaric chambers that are available for treatment of DCI. The network is updated often to add new chambers and reflect changes in chamber availability. To join, <a href="https://storage.snappages.site/eupr0m0685/assets/files/rcn-application-2019.pdf" target="_blank">click here</a> to access the application or email us at <a href="mailto:danmedic@dansa.org?subject=Recompression%20Chamber%20Network" rel="" target="">danmedic@dansa.org</a>. Please include your name and telephone number.</p>
				
		<h2>Recompression Chamber Assistance Program</h2>
		<p>The recompression chamber assistance program (RCAP) provides support to chambers in need primarily through donations and grants. On-site training and safety risk assessments, scholarships, advice and even essential equipment are all available to qualifying recompression chamber facilities.</p>
		
		<h2>Recompression Chamber Assistance Program</h2>
		<p>The recompression chamber preferred provider network (PPN) is intended to ensure prompt treatment, support and assured reimbursement to chambers in need of financial resources. It is available by invitation.</p>
	  </div> 
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Safety Assessment: Chamber Operations</h2>
		<p>DAN’s hyperbaric technology team has over 75 years’ experience in working with recompression chamber facilities around the world. Included in this are design and manufacturing, inspection and maintenance, operating and facilities management, and the full scope of medical treatment procedures. All of this ensures that we can provide you with guidance and support relating to operational, technical and safety-related issues. Through the RCAP, site safety assessments can be undertaken upon request by deserving facilities.</p>
		<p><a [routerLink]="['/safety-assessment-chamber-operations']" class="btn"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/5132105_1200x800_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text">
  <div class="container">
    <div class="row align-items-center">
      
	  <div class="col-sm-6 left">
	    <h2>Safety Training: Chamber Operations</h2>
		<p>Chamber operators, tenders and technicians all require specialised training in order to operate and maintain recompression treatment facilities in a safe and reliable state, ensuring optimal availability to divers in distress. Education and awareness play a significant role in ensuring appropriate operational knowledge and competence. DAN is able to provide a range of educational opportunities, including online and on-site courses, together with scholarships to additional safety training courses.</p>
		<p><a [routerLink]="['/safety-training-chamber-operations']" class="btn"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/5132115_1200x800_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<section class="about-text about-black">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Safety Resources: Chamber Operators</h2>
		<p>Available free safety resources include a range of downloadable publications, advisories, checklists and other useful documents.</p>
		<p><a [routerLink]="['/safety-resources-chamber-operators']" class="btn"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/5132120_1200x800_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>