<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Legal</b><span>NETWORK</span></h1>
		  <p class="update-info">Previously, DAN only offered medical advice to its members, but has recently decided to extend the services it offers to its members by introducing a network of legal professionals to advise members on diving related legal matters when needed.</p>
		  <p class="update-info mrt-30">Divers and Diving Professionals in particular may find themselves in need of specific diving related legal advice and support from time to time. In response to this need, and following proposals by several DAN members who are also members of the legal profession, DAN has established an amazing worldwide network of legal experts and lawyers who are both experienced and knowledgeable in diving practices (being divers themselves) and diving law, in order to assist our members.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>How Does It Work?</h2>
		<p>DAN now has access to a network comprised of legal professionals with an interest in diving and who are experienced in local and international law.  This team is thus well suited to deal with all legal issues related to diving activities and events, and to provide members with the highest level of legal assistance.</p>
		<p>DAN Southern Africa members who are in need of diving related legal assistance can contact DAN via email danlegal@dansa.org.  The DAN legal team will consider all requests and will respond to the member with their initial advice. If required by the circumstances of the enquiry, DAN will refer the member to an appropriate legal expert within the network. The legal expert will then make appropriate suggestions to the enquiring member on how best to represent or defend their interests.</p>
		<p>In the event that a matter is referred by DAN to a legal expert, any further costs including the costs of those legal services is not covered by DAN membership benefits. As such, the legal expert will advise members in advance of any fees that are payable and what anticipated costs may be.  There is, however, no cost to submitting an enquiry to the DAN Legal Network (using the online request form) to obtain the initial advice from the DAN Legal Team.</p>
		<p><a [routerLink]="['/request-legal-advice']" class="btn"><i class="fa fa-envelope-o fa-lg fa-fw"></i>Request legal advice</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images//3368190_5568x3712_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>
