<!-- <section class="breadcrumb"> -->
  <!-- <div class="container">   -->
    <!-- <ul> -->
		<!-- <li><a [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li> -->
		<!-- <li>Terms and Conditions</li> -->
	<!-- </ul>	 -->
  <!-- </div> -->
<!-- </section> -->
<section class="mid-inner cms-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 full-wrap">
				<div id="content" class="col-sm-12">
					<h1 class="page-heading">Terms and Conditions</h1>
					<h3>Exchange Rates and Billing</h3>
					<p>South African Rands (ZAR) is the default currency of the DAN Shop.</p>
					<p>The exchange rates of ZAR - USD and ZAR - Euro are updated once per day.</p>
					<p>The DAN Shop cannot be held accountable for a discrepancy that might appear on your bank or credit card statement due to a difference in exchange rates at the time of your purchase or applicable charges that your bank or debit / credit card provider may levy against your purchase.</p>					
					<h3>Shipping</h3>	
					<p>Please see the DAN Shop's policy on shipping, delivery and returns</p>
					<h3>Usage Limitations of Equipment</h3>	
					<p>Oxygen equipment and accessories, First Aid kits and accessories sold by the DAN Shop require proficiency and training to use correctly.</p>
					<p>The DAN Shop, Divers Alert Network Southern Africa cannot be held liable for incorrect usage of the equipment by an untrained and uncertified person.</p>
					<h3>Terms</h3>
					<p>By accessing the DAN Shop, you are agreeing to be bound by these Terms and Conditions, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.  If you do not agree with any of these terms, please do not use the DAN Shop.  The materials contained in the DAN Shop are protected by applicable copyright and trademark law.</p>
					<p>
					  <br>
					  <br>
					</p>
				</div>
				</div>	
		</div><!--/ row -->	
	</div>
</section><!--/ mid-inner --> 