<section class="dive-center-banner banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1>Dive Centre Cover <span>THE FIRST STEP TO <br> OPERATING A SAFER BUSINESS </span>
                    </h1>
                    <p>DAN offers dive resorts, dive centres and dive charter services the opportunity to cover their dive clients and staff when joining the Dive Centre Partner programme. DAN Dive Centre Partners have access to a wide range of risk mitigation and safety resources to better protect dive clients, dive students and staff professionals from accidents and injury.</p>
                    <p>
                        <a class="btn" [routerLink]="['/dive-centre-partner-application']">
                            <i class="fa fa-check fa-lg fa-fw"></i>SIGN UP TODAY </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ banner -->
<section class="about-text">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 left">
                <h2>Dive Centre Partner</h2>
                <p>The Dive Centre Partner programme recognises those within the diving industry who commit to promoting diving safety by achieving high emergency preparedness for the direct benefit of divers travelling within the DAN Southern Africa region. DAN offers dive resorts, dive centres and dive charter services the opportunity to cover their dive clients and staff when they join as a Dive Centre Partner. This dive cover package will fit your local and international clients' needs. The cover package provides dive medical cover up to R300,000. </p>
                <p>
                    <a [routerLink]="['/dive-centre-partner-application']" class="btn">
                        <i class="fa fa-check fa-lg fa-fw"></i>SIGN UP TODAY </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/dive-about-text.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row row-flex">
            <div class="col-sm-6 left">
                <h2>Eligibility Requirements</h2>
                <p>To become a Dive Centre Partner, your dive operation must demonstrate staff emergency preparedness and meet planning, equipment and procedures requirements. The online application will guide you in making sure your operation meets these requirements. Applicants must meet and maintain a high degree of preparedness to be eligible for participation.</p>
                <p>Staff Emergency Preparedness: The applicant has an Emergency Assistance Plan (EAP) and a Diving Injury and Lost Diver Prevention Plan in place, and all staff have signed an agreement that they are familiar with both.</p>
                <p>Diver Emergency Preparedness: Implement safe diving practices and advise divers to perform safety stops during their briefing. Inform divers of the lost diver procedures and diver recall procedures.</p>
                <p>Proper Emergency Safety Equipment: Appropriate emergency medical oxygen units and first aid kits are available on dive boats for emergency medical assistance.</p>
                <p>
                    <a [routerLink]="['/dive-centre-partner-application']" class="btn">
                        <i class="fa fa-check fa-lg fa-fw"></i>SIGN UP </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/dive-about-text-1.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<section class="about-text">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 left">
                <h2>Why Join?</h2>
                <ul>
                    <li>As a Dive Centre Partner, you have additional visibility and recognition within the recreational diving community. DAN will promote Dive Centre Partners in the Alert Diver magazine and DAN Social Media platforms.</li>
                    <li>Add to the online Dive Centre Partner listing on the DAN website.</li>
                    <li>Partners can include the Dive Centre Partner logo in their promotional material and advertising.</li>
                    <li>Dive emergency cover for your clients and students.</li>
                    <li>Discount on annual membership packages for diving staff.</li>
                </ul>
                <p>
                    <a [routerLink]="['/dive-centre-partner-application']" class="btn">
                        <i class="fa fa-check fa-lg fa-fw"></i>join dan today </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/dive-about-text-2.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row row-flex">
            <div class="col-sm-6 left">
                <h2>Cover Benefits</h2>
                <p>Membership benefits are restricted to diving-related emergencies and exclude evacuation. Membership benefits for medical expenses and assistance services to a total limit of R300 000 is available for divers who suffer a diving emergency, involving one of the following:</p>
                <ul>
                    <li>A diving-related injury.</li>
                    <li>A diving-related illness, specifically decompression sickness (DCS) and/or an arterial gas embolism.</li>
                    <li>Any diving-related injury or illness not necessarily caused by pressure or pressure changes, including, but not limited to, traumatic injuries.</li>
                    <li>Cover is not applicable for divers over 74 years of age.</li>
                    <li>Cover is not applicable for divers younger than 10 years of age.</li>
                    <li>Divers must be either a certified scuba diver or a diving student on a recognised, entry-level certification course accompanied by a certified scuba instructor.</li>
                    <li>A depth limit of 40 m applies (18 m for entry-level students).</li>
                </ul>
                <p>
                    <a [routerLink]="['/dive-centre-partner-application']" class="btn">
                        <i class="fa fa-check fa-lg fa-fw"></i>SIGN UP </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/dive-about-text-3.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<section class="about-text">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 left">
                <h2>Safety Tips for Dive Operators</h2>
                <p>DAN’s new Safety Tips for Dive Operators guide identifies some of the risks involved with running a dive operation and what can be done to mitigate them. It outlines minimum safety standards for various aspects of dive operations and provides a foundation for refining safety protocols by offering dive safety officers and other dive pros a tested approach for assessing safety and modifying practices to prevent incidents and limit liability.</p>
                <p>
                    <a [routerLink]="['/operational-safety-resources']" class="btn">
                        <i class="fa fa-cloud-download fa-lg fa-fw"></i>Download </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/dive-about-text-4.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<app-sub-footer></app-sub-footer>