<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Why Become</b><span>A DAN INSTRUCTOR</span></h1>
		  <p class="update-info">Prepare divers to prevent and manage dive incidents. Expand your course offerings so you can teach year-round and earn additional income. Enhance your teaching portfolio with additional credentials. Become a leader in dive safety, and help save lives.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="tag-wrap">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <h2 class="mrb-30">Developed By <span>DIVE PHYSICIANS & <br>SCUBA EDUCATORS</span></h2>
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ tag-wrap -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>How To Become a DAN Instructor?</h2>
		<p>The DAN Instructor Qualification Course (IQC) is the pathway to becoming a DAN Instructor. Active diving professionals who are DAN Members are eligible to enroll in this program. A CPR instruction credential is also required but can be obtained as part of the IQC.Most instructor candidates begin with the Diving Emergency Management Provider (DEMP) program, which instructs candidates how to teach the four component courses shown here individually. It also covers how to teach the courses as the comprehensive DEMP program.DAN Instructors who work with individuals who dive as part of their job or volunteer duties will want to consider adding the DFA PRO module as part of their IQC.</p>
		<p><b>Step 1:</b> Be a DAN member. <br><b>Step 2:</b> Be a current status scuba diving leader with your training agency. (dive master, dive controller, dive instructor) <br><b>Step 3:</b> Participate in an Instructor Qualification Course (IQC) with a DAN Instructor Trainer. <br><b>Step 4:</b> Start teaching when you receive confirmation from DAN.</p>
		<p>Do any or all of the IQC modules, selecting the courses that work best to meet the needs in your market area. Request them from your Instructor Trainer. The program takes approximately 1-2 days to complete depending on your course selections.</p>
		<p>Instructors must maintain active teaching status with DAN to conduct DAN training programs. To maintain active teaching status, DAN Instructors must teach or assist with teaching each course in which they are certified once within a 24-month period.</p>
		<p><a class="btn" routerLink="/find-a-dan-instructor"><i class="fa fa-globe fa-lg fa-fw"></i>Find a dan instructor</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3367576_2120x1414_2500.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>How To Become a DAN Instructor Trainer?</h2>
		<p>DAN Instructor Trainers are experienced DAN instructors who are dedicated to dive safety education. DAN Instructor Trainers are the only individuals certified to train DAN Instructors as part of the DAN Instructor Qualification Course (IQC). After completing a DAN Instructor Trainer Workshop (ITW), DAN Instructor Trainers can present the knowledge and skills development sessions of the core module and the various course modules of the IQC.</p>
		<p><b>Step 1:</b> Be a current DAN instructor who has already conducted DAN First Aid classes. <br><b>Step 2:</b> Be an Instructor Trainer with your scuba training agency. <br><b>Step 3:</b> Participate in an Instructor Trainer Workshop (ITW). <br><b>Step 4:</b> Start training when you receive confirmation from DAN.</p>
		<p>To attend a DAN ITW, attendees must be an active scuba instructor trainer with a recognised training agency. Other options for participation in the ITW are available. Contact DAN Education for more information: +27 11 2664900 or <a href="mailto:training@dansa.org">training@dansa.org.</a></p>
		<p><a class="btn" routerLink="/find-a-dan-instructor"><i class="fa fa-globe fa-lg fa-fw"></i>Find a dan instructor</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images/3367607_1255x836_2500.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<app-sub-footer></app-sub-footer>
