<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496213_2598x6850_2500.png" alt="image"></figure>
     <p><a class="btn btn-lightblue" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/Temporary-membership.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
</section><!--/ about-text  -->

<section class="infographic-text about-2" style="background: #ecf6f9;">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>Temporary Membership</b></h2>
          <p>The temporary dive cover package is intended for divers going on diving vacations at short notice and not yet convinced of the need for an annual DAN-SA dive cover package.</p>
          <a class="btn" routerLink="/temporary" target="_blank"><i class="fa fa-check fa-lg fa-fw"></i>Sign up today!</a>
         
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="assets/images/3293033_5472x3648_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section>
<app-sub-footer></app-sub-footer>