<section class="tag-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Dive Emergency Hotline <span>CALL FOR ASSISTANCE</span>
                </h2>
                <h4>+27 828 10 60 10</h4>
                <div class="inner">
                    <p>DAN's Emergency Hotline staff members are on call 24 hours a day, 365 days a year, to provide information, assist with care coordination and evacuation assistance.</p>
                </div>
                <p>
                    <a class="btn" routerLink="/dan-resources"><i class="fa fa-medkit fa-lg fa-fw"></i>SAFETY Resources </a>
                    <a class="btn" routerLink="/find-a-dive-doctor"><i class="fa fa-user-md fa-lg fa-fw"></i>Find a dive doctor </a>
                </p>
            </div>
        </div>
    </div>
    <!--/ row -->
</section>
<!--/ tag-wrap -->