<section class="info-wrapper contact-map">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text mrb-60">
		  <h1 class="text-show"><b>Find A Dive Business</b><span>WITHIN SOUTHERN AFRICA</span></h1>
		  <p class="mrt-50 update-info">DAN has Industry Partners around Southern Africa!</p>
        </div>
		
		<div class="dan-marquee mrb-40">
			<div class="elfsight-app-5d565a35-5996-49d8-968c-6d8ef9747368"></div>
		</div><!--/ dan-marquee -->
		
		<div class="map">
		   	<div class="elfsight-app-447afbbb-8afa-4c2d-b6d0-7bffa3154089"></div>	  
		 </div><!--/ map -->
	  </div><!--/ col -->
	  
    </div><!--/ row -->
  </div>
</section><!--/ info-wrapper -->  
<app-sub-footer></app-sub-footer>