<section class="breadcrumb">
	<div class="container">  
		<ul>
			<li><a [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
			<li>Affiliate</li>
		</ul>	
	</div>
</section>
<section class="mid-inner cms-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 full-wrap">
				<div id="content" class="col-sm-12">					
					<p style=" font-size: 22px; font-weight: 600; text-align: center; min-height: 150px; margin-top: 40px; ">Content coming soon...</p>					
				</div>
			</div>	
		</div><!--/ row -->	
	</div>
</section><!--/ mid-inner -->

