<section class="banner-sub" style="background-image:url(/assets/images/5132125_1200x800_2500.jpg)">
  <div class="container">
    <div class="row">
	  <div class="col-sm-12">
	  
	    <div class="banner-text">
		  <h1>SAFETY ASSESSMENT<span>Training, technical and safety advice for chamber facilities</span></h1>
		</div>
		
	  </div>
    </div><!-- row -->
  </div>
</section><!--/ banner-sub -->

<section class="about-information">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
		<h2><b>Safety Assessment: Chamber Operations</b></h2>
		<p>DAN’s hyperbaric technology team has over 75 years’ experience in working with recompression chamber facilities around the world. Included in this are design and manufacturing, inspection and maintenance, operating and facilities management, and the full scope of medical treatment procedures.</p>
		<p>All of this ensures that we can provide you with guidance and support relating to operational, technical and safety-related issues. Through the RCAP, site safety assessments can be undertaken upon request by deserving facilities.</p>
	 
		<p>To inquire about on-site safety assessments, please contact us at<a href="mailto:danmedic@dansa.org" rel="" target=""> danmedic@dansa.org</a>.</p>
				
	  </div> 
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>