<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1>Dive Accident Cover <span>PROVEN PLANS AT <br>LOW ANNUAL RATES </span></h1>
                    <p>DAN dive accident cover plans are an affordable way for divers to obtain coverage against the costs of dive injuries that are often left uncovered by typical health insurance.</p>
                    <p>
                        <a class="btn" [routerLink]="['/annual']"><i class="fa fa-check fa-lg fa-fw"></i>join dan now </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ banner -->
<section class="step-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 st-coll">
                <div class="info">
                    <h2>Access To Diving <span>MEDICAL EXPERTS</span>
                    </h2>
                </div>
                <!--/ info -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 st-coll">
                <div class="info">
                    <h2>Receive Lifesaving <span>COVER BENEFITS</span>
                    </h2>
                </div>
                <!--/ info -->
            </div>
            <!--/ coll -->
            <div class="col-sm-4 st-coll">
                <div class="info">
                    <h2>Diving Resources <span>TO KEEP YOU SAFE</span>
                    </h2>
                </div>
                <!--/ info -->
            </div>
            <!--/ coll -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ step-text  -->
<section class="about-text">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 left">
                <h2>Become a DAN Member Today <span>MEMBERSHIP</span>
                </h2>
                <p>Divers Alert Network (DAN) is the world’s most recognised and respected dive safety organisation comprised of dive professionals and medical experts dedicated to supporting divers. Through research, medical services, educational programs and global response initiatives, DAN has created an extensive network capable of providing divers around the world with vital services. Every day, divers around the globe look to DAN as their dive safety organisation. Be part of the community and dive safe with DAN. Become a DAN member today.</p>
                <p>
                    <a [routerLink]="['/annual']" class="btn">
                        <i class="fa fa-check fa-lg fa-fw"></i>join dan today </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/img-01.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-benefits">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner">
                    <h2>Benefits of DAN Membership</h2>
                    <div class="p-text">
                        <p>Dive confidently knowing that you have the world’s leading dive safety organisation watching out for you. As a DAN Member, you not only receive valuable benefits, your membership helps support vital DAN health and safety initiatives.</p>
                    </div>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-6 ab-coll">
                <div class="info">
                    <figure>
                        <i class="fa fa-ambulance fa-fw"></i>
                    </figure>
                    <div class="info-padd">
                        <h3>EMERGENCY EVACUATION ASSISTANCE</h3>
                        <p>DAN Members enjoy up to R900,000 of evacuation assistance coverage for diving and non-diving medical emergencies anytime you travel more than 100km from home.</p>
                    </div>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 ab-coll">
                <div class="info">
                    <figure>
                        <i class="fa fa-fax fa-fw"></i>
                    </figure>
                    <div class="info-padd">
                        <h3>24/7 EMERGENCY HOTLINE</h3>
                        <p>Supporting divers worldwide, our staff is on call 24 hours a day, 365 days a year, to assist you with with the coordination of emergency care and evacuation <b>+27 82 810 6010</b>
                        </p>
                    </div>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 ab-coll">
                <div class="info">
                    <figure>
                        <i class="fa fa-calendar fa-fw"></i>
                    </figure>
                    <div class="info-padd">
                        <h3>WORLD CUE PLANNER</h3>
                        <p>Your real-time resource offering information about vaccinations, travel document requirements, foreign exchange rates and travel advisories. <a href="#">Click here</a> to notify DAN of you dive trip now! </p>
                    </div>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 ab-coll">
                <div class="info">
                    <figure>
                        <i class="fa fa-book fa-fw"></i>
                    </figure>
                    <div class="info-padd">
                        <h3>ALERT DIVER MAGAZINE</h3>
                        <p>Alert Diver is the widest-circulated dive magazine in the world. The quarterly, coffee table style, print edition is an exclusive benefit of DAN membership.</p>
                    </div>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-benefits -->
<section class="about-text">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 left">
                <h2>DAN Helps You Stay Safe</h2>
                <p>At DAN, we believe a smarter diver is a safer diver. And when you’re 18 meters underwater, you want to be certain that you have the knowledge needed to explore safely. That’s why, for over 20 years, we have made it our mission to deliver extensive educational and dive safety resources to help you stay safe - both in and out of the water.</p>
                <p>
                    <a [routerLink]="['/annual']" class="btn">
                        <i class="fa fa-check fa-lg fa-fw"></i>join dan today </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/img-02.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-benefits">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="inner">
                    <h2>DAN Benefits Tailored for You</h2>
                    <div class="p-text">
                        <p>We deliver a deep level of information tailored to the way you learn.</p>
                    </div>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-6 ab-coll">
                <div class="info">
                    <figure>
                        <i class="fa fa-heartbeat fa-fw"></i>
                    </figure>
                    <div class="info-padd">
                        <h3>HEALTH & DIVING REFERENCE LIBRARY</h3>
                        <p>Developed from decades of DAN research and experience, this comprehensive collection of free resource materials provides vital insights into topics critical to diver health and safety.</p>
                    </div>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 ab-coll">
                <div class="info">
                    <figure>
                        <i class="fa fa-book fa-fw"></i>
                    </figure>
                    <div class="info-padd">
                        <h3>SMART GUIDES TO SAFE DIVING</h3>
                        <p>Each guide delivers relevant diver health and safety information in a concise, easy-to-read format.</p>
                    </div>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 ab-coll">
                <div class="info">
                    <figure>
                        <i class="fa fa-newspaper-o fa-fw"></i>
                    </figure>
                    <div class="info-padd">
                        <h3>INCIDENT REPORT SUMMARIES</h3>
                        <p>Divers may report incidents online, which DAN uses to develop case summaries to serve as educational tools to prevent similar accidents from reoccurring.</p>
                    </div>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 ab-coll">
                <div class="info">
                    <figure>
                        <i class="fa fa-mobile fa-fw"></i>
                    </figure>
                    <div class="info-padd">
                        <h3>SOCIAL MEDIA RESOURCES</h3>
                        <p>In addition to DAN’s dive blog, active social media accounts on Facebook, Instagram and YouTube provide another medium for us to engage with our network of divers.</p>
                    </div>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-benefits -->
<section class="smart-divers">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Smart Divers Benefit <span>FROM DAN MEMBERSHIP</span>
                </h2>
                <div class="inner">
                    <p>The cost of a dive accident can exceed R500,000 — a cost that isn’t always covered by primary health insurance. But don’t worry, as a DAN member, you have access to the industry’s leading dive accident cover benefits as a DAN member. DAN offers comprehensive plans that provide protection and peace-of-mind in the event of a dive accident for far less than the cost of an unplanned event. DAN’s dive accident cover plans are recognised worldwide providing secondary coverage of up to R900,000 and paying 100% of eligible expenses.</p>
                    <p>
                        <a [routerLink]="['/annual']" class="btn">
                            <i class="fa fa-check fa-lg fa-fw"></i>join dan today </a>
                    </p>
                </div>
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ smart-divers -->
<app-sub-footer></app-sub-footer>