<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496143_2598x8622_2500.png" alt="image"></figure>
     <p><a target="_blank" class="btn btn-lightblue" href="https://storage.snappages.site/eupr0m0685/assets/files/13-ways-to-run-out-of-air.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
  </section><!--/ about-text  -->

<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>13 Ways To Run Out Of Air </b><br>& HOW NOT!</h1>
		  <p class="update-info">How much air do you really need?<br>
            Safety tips to prevent emergencies.<br>
            The most common ways to run out of air.</p>
		  <p><a target="_blank" class="btn btn-lightblue" href="https://storage.snappages.site/eupr0m0685/assets/files/13-Ways-Guide.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD SMART GUIDE</a></p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper --> 
<app-sub-footer></app-sub-footer>
