<section class="password-protected">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="password-info mrb-30">
		  <p>This page is password protected</p>
		  <form>
		    <div class="form-group"><input type="password" class="form-control" placeholder="Enter your password" name="password"></div>
		    <div class="form-group"><input type="submit" class="btn" value="Log In"></div>
		  </form>
	    </div><!--/ password-info -->
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ password protected -->
<app-sub-footer></app-sub-footer>
