<!--<form>
	<div class="collapse" id="search-input">
		<div class="card card-body">
			<div class="input-group">
				<input name="s" id="s" class="form-control" placeholder="Search..." required="" type="text" [formControl]="searchTerm" (keydown.enter)="doSearch(searchTerm.value)" #searchInput>
				<button type="submit" class="search_btn" (click)="doSearch(searchInput.value)">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</form>-->
<form>
	<div class="collapse" id="search-input">
		<div class="card card-body">
			<div class="input-group">
				<input name="s" id="s" class="form-control" placeholder="Search..." required="" type="text" [formControl]="searchTerm" #searchInput>
				<button type="submit" class="search_btn" (click)="doSearch()">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</form>
<button class="click-btn" type="button" data-bs-toggle="collapse" data-bs-target="#search-input" aria-expanded="false" aria-controls="search-input">
	<span class="fa fa-fw fa-search" title="search" aria-hidden="true"></span>
	<span class="sr-only">Search</span>
</button>

