<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
            <h1 class="text-show"><b>Infographics</b></h1>
		  <p class="update-info">We know that reading website content can be boring! Therefore we created a bunch of infographics to help you quickly get to know what we offer. The power of infographics can change the way you learn about DAN Southern Africa. Discover a range of useful resources on membership, diver health and safety information.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="dive-safety-tips">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12 title mrb-20">
	    <h2><b>Dive Safety Tips</b></h2>
	  </div>
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
          <div class="inner">
		    <figure><img src="/assets/images/291226_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>How to avoid</h3>
		    <h4>Running out of air</h4>
		  </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-13-ways-to-run-out-of-air']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
          <div class="inner">
		    <figure><img src="/assets/images/291231_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>More Water</h3>
		    <h4>Less bubbles</h4>
		  </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-more-water-less-bubbles']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
          <div class="inner">
		    <figure><img src="/assets/images/291236_787x787_1000.jpg" alt="image"></figure>
		    <h3>Watch Out</h3>
		    <h4>Propellers can kill</h4>
		  </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-propellers-can-kill']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col --> 
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/291241_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>7 Mistakes Divers Make</h3>
		    <h4>How to avoid them</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-7-mistakes']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/291246_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>Release the Pressure</h3>
		    <h4>Equalise like a pro</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-release-the-pressure']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/291251_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>Air Quality</h3>
		    <h4>Safety in the air</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-safety-in-the-air']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/291256_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>Ageing Divers</h3>
		    <h4>Diving medical considerations</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-aging-diver']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/291261_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>Don't Get</h3>
		    <h4>Lost at sea</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-lost-at-sea']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col --> 
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/infographic-diabetes']" class="full-link"></a>
            <figure><img src="/assets/images/496253_827x827_1000.jpg" alt="image"></figure>
		    <h3>Diabetes & Diving</h3>
		    <h4>Guidlines</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-diabetes']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/496258_827x827_1000.jpg" alt="image"></figure>
		    <h3>Diving Fatalities</h3>
		    <h4>Causes</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-fatalities']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/496268_827x827_1000.jpg" alt="image"></figure>
		    <h3>Flying After Diving</h3>
		    <h4>Recommendations</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-flying']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/496263_827x827_1000.jpg" alt="image"></figure>
		    <h3>PFO &amp; Fitness</h3>
		    <h4>DCI Factors</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-pfo']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
            
    </div><!--/ row -->	
  </div>
</section><!--/ dive-safety-tips -->

<section class="dive-safety-tips dst-blue">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12 title mrb-20">
	    <h2><b>First Aid Courses</b></h2>
	  </div> 
	  
	  <div class="col-sm-6 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
            <figure><img src="/assets/images/291266_827x827_1000.jpg" alt="image"></figure>
		    <h3>Oxygen Course</h3>
		    <h4>First aid training </h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-oxygen-course']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-6 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
            <figure><img src="/assets/images/291271_827x827_1000.jpg" alt="image"></figure>
		    <h3>Basic Life Support</h3>
		    <h4>First aid training</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-basic-life-support']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col --> 
	  
    </div><!--/ row -->	
  </div>
</section><!--/ dive-safety-tips -->

<section class="dive-safety-tips">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12 title mrb-20">
	    <h2><b>Dive Cover</b></h2>
	  </div> 
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
            <figure><img src="/assets/images/291291_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>Annual Membership</h3>
		    <h4>Dive cover</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-annual-membership']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
            <figure><img src="/assets/images/291286_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>Temp Membership</h3>
		    <h4>Dive cover</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-temp-membership']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->
	  
	  <div class="col-sm-4 dst-col">		 
	    <div class="dst-info">		 
	      <div class="inner">	
		    <a [routerLink]="['/']" class="full-link"></a>
            <figure><img src="/assets/images/291296_1181x1181_1000.jpg" alt="image"></figure>
		    <h3>Student Membership</h3>
		    <h4>Dive cover</h4>
          </div>
		  <p><a class="btn btn-lightblue" [routerLink]="['/infographic-student']"><i class="fa fa-desktop fa-lg fa-fw"></i>View Infographic</a></p>
        </div><!--/ dst-info -->  
      </div><!--/ col -->  
	  
    </div><!--/ row -->	
  </div>
</section><!--/ dive-safety-tips -->
<app-sub-footer></app-sub-footer>