<section class="info-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1 class="text-show">
                        <b>Industry</b>
                        <span>PARTNERS</span>
                    </h1>
                    <p class="update-info mrb-20">DAN Business Services provides dive stores and operators with access to valuable risk-mitigation programs, student medical coverage and other safety resources to help protect divers from accidents and injury. Take the first step and demonstrate to your customers how important safety is to your business. Enroll as a DAN Industry Partner today.</p>
                    <p>
                        <a class="btn" [routerLink]="['/industry-partner-application']">
                            <i class="fa fa-check fa-lg fa-fw"></i>Enroll Today </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ info-wrapper -->
<section class="about-text about-black">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center mrb-30">
                <figure class="ind-png">
                    <img src="/assets/images/Free Student Dive Cover.png" alt="image">
                </figure>
                <h3 class="content-box">Free Student Dive Cover</h3>
                <p>Provided at no cost to you and your entry-level scuba or freediving students who enjoy up R300,000 in dive emergency cover.</p>
            </div>
            <div class="col-sm-6 text-center mrb-30">
                <figure class="ind-png">
                    <img src="/assets/images/Health & Diving Resources.png" alt="image">
                </figure>
                <h3 class="content-box">Health & Diving Resources</h3>
                <p>The industry's most comprehensive collection of medical resources on topics most commonly affecting the health and safety of divers.</p>
            </div>
            <div class="col-sm-6 text-center mrb-30">
                <figure class="ind-png">
                    <img src="/assets/images/Prepared Diver Course.png" alt="image">
                </figure>
                <h3 class="content-box">Prepared Diver Course</h3>
                <p>Better prepared your students to dive safely with this online video course on topics such as air consumption, buoyancy control and equalising.</p>
            </div>
            <div class="col-sm-6 text-center mrb-30">
                <figure class="ind-png">
                    <img src="/assets/images/Oxygen & First Aid Equipment.png" alt="image">
                </figure>
                <h3 class="content-box">Oxygen & First Aid Equipment</h3>
                <p>Be prepared for any emergency. DAN Industry Partners receive preferred pricing on oxygen units, first aid kits and accessories.</p>
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="tag-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="mrb-40">Application <span>PROCESSING TIME</span>
                </h2>
                <div class="inner">
                    <p>All applications are usually processed within 2-days. If you don't hear from us within 2-days after submitting an application please contact the DAN office directly on +27 11 266 4900 or at mail@dansa.org. Please note that the DAN administrative office is closed on weekends and public holidays.</p>
                </div>
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ tag-wrap -->