<section class="info-wrapper light-blue">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Referral</b>
            <span>NETWORK</span></h1>
		  <p class="update-info mrt-40">When you need help, DAN can provide the information you need and facilitate appropriate and qualified assistance. We maintain a worldwide, up-to-date referral network of physicians and hyperbaric chamber facilities which is ready to help you with your medical issues, questions and emergencies.</p>
		  <p class="update-info mrt-40">If you have an emergency or if you think you might have signs or symptoms of decompression illness, please call the 24-hour DAN Emergency Hotline at +27 828 10 60 10 (International).</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">DAN Physician Referral Network</h2>
		  <p class="mrb-30">Do you need a physical before beginning – or returning to – recreational scuba diving? Would you like to see a physician experienced in dive medicine to evaluate your symptoms or to consult about health issues and diving? We have developed an active worldwide network of physicians who want to serve you. We will give you the contact details for physicians who have recognised training in dive medicine if you need or want to consult a doctor.</p>
          <p class="mrb-30">Dive medicine or hyperbaric medicine is generally considered a subspecialty among the referral physicians in DAN's database. These doctors have completed either a subspecialty of hyperbaric and dive medicine or a related continuing medical education course in hyperbaric and dive medicine within the past two years. We also include military-trained diving medical officers who have completed an accredited hyperbaric fellowship or board certification in undersea and hyperbaric medicine in our database.</p>
          <p class="mrb-30">If you are looking for a physician to conduct a diving physical to be medically cleared for diving or if you would like a consultation from a diving medical specialist in your area, you can call DAN at +27 266 4900 (Monday to Friday 8 a.m. to 4 p.m.) or send an email to danmedic@dansa.org</p>
		  <p><a class="btn" routerLink="/find-a-dive-doctor">Find a dive doctor</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3348444_5568x3712_1000.png" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Application Process</h2>
		  <p class="mrb-30">When you contact DAN for a referral, we will generally give you the physician's main contact information to arrange for an appointment. You may want to be medically cleared for diving (for example a fitness-to-dive physical) or you may seek evaluation of a possible dive-related injury. Patients who experience acute symptoms and signs are always referred to their local emergency department or acute care clinic.</p>
          <p class="mrb-30">DAN may also provide a referral physician's contact information so that you can consult another physician, one perhaps less knowledgeable in matters of dive fitness or injury.</p>
          <p class="mrb-30">To join our referral network, please review the criteria below and contact Dr Jack Meintjes, the DAN Medical Director. Email at danmedic@dansa.org</p>
		  <p><a class="btn" href="mailto:danmedic@dansa.org?subject=DAN%20Physician%20Application">apply now</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3348535_5568x3712_1000.png" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Criteria</h2>
		 <ul>
            <li>Must be trained as an M.D. or D.O.</li>
            <li>Must be licensed to practice medicine.</li>
            <li>Must have completed a hyperbaric and dive medicine-related course within the past two years.</li>
            <li>If you are a military-trained diving medical officer who has completed an accredited hyperbaric fellowship or board certification in undersea and hyperbaric medicine, you may be exempted. </li>
            <li>Must be willing to receive referrals for: </li>
            <li>Diver evaluations to evaluate symptoms;</li>
            <li>Diver physicals to enter or return to recreational scuba diving; and</li>
            <li>Questions related to health issues and diving.</li>
         </ul>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3348665_5568x3712_1000.png" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>