<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496148_2598x13819_2500.png" alt="image"></figure>
     <p><a class="btn btn-lightblue" target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/7-Mistakes-divers-make.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
  </section><!--/ about-text  -->

  <section class="infographic-text about-2" style="background: #ecf6f9;">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
			<h2 class="content-box"><b> Watch this video</b></h2>
           <p> <b>7 Mistakes Divers Make & How to Avoid Them</b></p>
           <ul><li>Learn safety guidelines.
           </li>
        <li> Prepare smarter so we can enjoy our dives.</li>
    <li> Become conscientious and responsible divers.</li></ul> 
           
           
          <p><a class="btn btn-lightblue" target="__blank" href="https://storage.snappages.site/eupr0m0685/assets/files/7-Mistakes-Divers-MAke-Guide.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD SMART GUIDE</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><iframe width="100%" height="400" src="https://www.youtube.com/embed/efTEx3aAJYM" title="7 Mistakes Divers Make &amp; How `To Avoid Them" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></figure>
          
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>
