/* Danshop New Design */
html{overflow-x:hidden;}
html, body {height: 100%;}

.danshop-body-new{font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight:400; color: #212121;}

.danshop-body-new a{color:#dd1717; text-decoration:none;}
.danshop-body-new a:hover, .danshop-body-new a:focus{color:#3c3e93; text-decoration:none;}
.danshop-body-new img{max-width:100%; vertical-align:middle;}
.danshop-body-new p{line-height:24px; margin:0 0 15px; text-align:justify;}

.danshop-body-new h1, .danshop-body-new h2, .danshop-body-new h3, .danshop-body-new h4, .danshop-body-new h5, .danshop-body-new h6{font-family: 'Lato', sans-serif; font-weight:700; margin:0 0 10px;}
.danshop-body-new h2{color:#000;}
.danshop-body-new h3{color:#000;}
.danshop-body-new h4{color:#000;}

.danshop-body-new .pad-t0{padding-top:0 !important;}
.danshop-body-new .pad-t10{padding-top:10px !important;}
.danshop-body-new .pad-t15{padding-top:15px !important;}
.danshop-body-new .pad-t20{padding-top:20px !important;}
.danshop-body-new .pad-t25{padding-top:25px !important;}
.danshop-body-new .pad-t30{padding-top:30px !important;}
.danshop-body-new .pad-t35{padding-top:35px !important;}
.danshop-body-new .pad-t40{padding-top:40px !important;}
.danshop-body-new .pad-t45{padding-top:45px !important;}
.danshop-body-new .pad-t50{padding-top:50px !important;}
.danshop-body-new .pad-0{padding:0 !important;}
.danshop-body-new .pad-b0{padding-bottom:0 !important;}
.danshop-body-new .pad-b5{padding-bottom:5px !important;}
.danshop-body-new .pad-b10{padding-bottom:10px !important;}
.danshop-body-new .pad-b15{padding-bottom:15px !important;}
.danshop-body-new .pad-b20{padding-bottom:20px !important;}
.danshop-body-new .pad-b25{padding-bottom:25px !important;}
.danshop-body-new .pad-b30{padding-bottom:30px !important;}
.danshop-body-new .pad-b35{padding-bottom:35px !important;}
.danshop-body-new .pad-b40{padding-bottom:40px !important;}
.danshop-body-new .pad-b45{padding-bottom:45px !important;}
.danshop-body-new .pad-b50{padding-bottom:50px !important;}
.danshop-body-new .mrg-0{margin:0px !important;}
.danshop-body-new .mrb-0{margin-bottom:0px !important;}
.danshop-body-new .mrb-10{margin-bottom:10px !important;}
.danshop-body-new .mrb-15{margin-bottom:15px !important;}
.danshop-body-new .mrb-20{margin-bottom:20px !important;}
.danshop-body-new .mrb-25{margin-bottom:25px !important;}
.danshop-body-new .mrb-30{margin-bottom:30px !important;}
.danshop-body-new .mrb-35{margin-bottom:35px !important;}
.danshop-body-new .mrb-40{margin-bottom:40px !important;}
.danshop-body-new .mrb-45{margin-bottom:45px !important;}
.danshop-body-new .mrb-50{margin-bottom:50px !important;}
.danshop-body-new .mrb-60{margin-bottom:60px !important;}
.danshop-body-new .mrb-70{margin-bottom:70px !important;}
.danshop-body-new .mrb-80{margin-bottom:80px !important;}
.danshop-body-new .mrb-90{margin-bottom:90px !important;}
.danshop-body-new .mrb-100{margin-bottom:100px !important;}

.danshop-body-new .container{z-index: 3; position: relative; max-width: 2000px; margin: 0 auto; padding: 0 50px;}
.danshop-body-new .row{margin-right: -15px; margin-left: -15px;}
.danshop-body-new .row > *{padding-right: 15px; padding-left: 15px;}

.danshop-body-new .header{position:absolute; left:0; width:100%; top:0; z-index:5; padding:0;}

  .danshop-body-new .header.header-position{position: relative; background: #dbe9ee; padding-bottom: 15px;}
  .danshop-body-new .header.header-position nav .navbar .links > li > a{color: #000;}
  .danshop-body-new .header.header-position nav .navbar .links li .arrow{color: #000;}
  .danshop-body-new .header.header-position .cart-button .click-btn > img{filter: inherit;}  

  .danshop-body-new .head-top{color:#fff; position: relative; z-index:5; font-size: 14px; padding:10px 0; text-align:right;}
  .danshop-body-new .head-top .container{max-width: inherit; padding: 0 30px;}
  .danshop-body-new .head-top .product_search_form{display:inline-block; vertical-align:middle; position: relative; padding:0 20px 0 0;} 
  
  .danshop-body-new .header-position .head-top .product_search_form .click-btn{color: #000;}
  .danshop-body-new .header-position .account-view .click-btn{color: #000;}
  
  .danshop-body-new .head-top .product_search_form .click-btn{height: 100%; padding:0; background: 0; border: none; outline: 0; font-size: 16px; color: #fff; position: relative; top: 0; text-align: left; display: block; width: 100%;}
  .danshop-body-new .head-top .product_search_form .card{background: none; padding:0; margin: 0;}
  .danshop-body-new .head-top .product_search_form #search-input{position: absolute; top: 40px; right: 0; width: 280px; padding: 0; overflow: hidden; z-index: 1036;}
  .danshop-body-new .head-top .product_search_form input{height: 44px; padding-right: 60px !important; position: relative; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; margin-bottom: 0; border: 0; box-shadow: none; -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important;}
  .danshop-body-new .head-top .search_btn{position: absolute; right: 0; background-color: #dd1717; border: 0; padding: 0px 16px; font-size: 13px; top: 0; bottom: 0; z-index: 9; color:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
  .danshop-body-new .head-top .search_btn:hover{background-color: #dd1717;}
  .danshop-body-new .head-top .search_btn i{vertical-align: middle;} 
  
  .danshop-body-new .account-view{display: inline-block; padding:0 20px 0 0; vertical-align: middle; position: relative;}
  .danshop-body-new .account-view .click-btn{height: 100%; padding:0; background: 0; border: none; outline: 0; font-size: 16px; color: #fff; position: relative; top: 0; text-align: left; display: block; width: 100%;}
  .danshop-body-new .account-view .card{background: none; padding:0; margin: 0;}
  .danshop-body-new .account-view #account{background:#fff; position: absolute; top: 40px; right: 0; width: 180px; padding: 0; overflow: hidden; z-index: 1036; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
  .danshop-body-new .account-view ul{margin:0; padding:0; text-align:left;}
  .danshop-body-new .account-view ul li{list-style:none; margin:0; border-bottom:1px solid #ccc; position:relative;}
  .danshop-body-new .account-view ul li:last-child{border-bottom:0;}
  .danshop-body-new .account-view ul li a{color: #000; padding: 5px 10px; display:block; background: none; box-shadow:none !important;}
  .danshop-body-new .account-view ul li a i{padding:0 5px 0 0} 
  .danshop-body-new .account-view ul li a:hover{background:none; box-shadow:none; color:#dd1717;}
  
  .danshop-body-new .cart-button{display: inline-block; vertical-align: middle; position: relative; top: -2px;}
  .danshop-body-new .cart-button .click-btn{height: 100%; padding:0; background: 0; border: none; outline: 0; font-size: 16px; color: #fff; position: relative; top: 0; text-align: left; display: block; width: 100%;}
  .danshop-body-new .cart-button .card{font-size: 12px; text-align:left; background: none; padding:10px 10px 0; margin: 0;}
  .danshop-body-new .cart-button #cart{background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position: absolute; top: 40px; right: 0; padding: 0; overflow: hidden; z-index: 1036; min-width: 480px; margin: 0; border: 1px solid #eee; box-shadow: 2px 2px 11px rgba(0,0,0,0.1); transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; transition: all 0.35s ease-out 0s;}
  .danshop-body-new .cart-button .click-btn > img{width: 14px; display: inline-block; filter: brightness(0) invert(1);}  
  .danshop-body-new .cart-button .cartco{display: inline-block;vertical-align: middle;text-align: left;margin-left: 7px;}
  .danshop-body-new .cart-button .cartco span.cartcount{background-color: #dd1717; color: #fff; width: 20px; height: 20px; border-radius: 50%; text-align: center; line-height: 20px; font-size: 11px; position: absolute; right: -4px; top: -2px;}
  .danshop-body-new .cart-button ul{margin:0; padding:0;}
  .danshop-body-new .cart-button .img-thumbnail{max-width: 50px;}
  .danshop-body-new .cart-button ul li tr a{color: #000;}
  .danshop-body-new .cart-button ul li tr a:hover{color: #dd1717;}
  .danshop-body-new .cart-button .btn i{font-size: 15px; margin: 0 7px 0 0;}
  
  .danshop-body-new .header nav{position: relative; top: 0; left: 0; width: 100%; height: auto; background: none;}
  .danshop-body-new .header nav .navbar{display: flex; align-items: center; justify-content: space-between; margin: auto; /* background: red; */ position: relative; max-width: 100%; margin: 0 auto; padding: 0 30px;}
  .danshop-body-new .header .navbar .logo img{max-width: 160px;}
  .danshop-body-new .header nav .navbar .nav-links{height: 100%;}
  .danshop-body-new .header nav .navbar .links{display: flex;}
  .danshop-body-new .header nav .navbar .links li{position: relative; display: flex; align-items: center; justify-content: space-between; list-style: none; font-size: 15px; text-transform: uppercase; padding: 0 20px;}
  .danshop-body-new .header nav .navbar .links li a{padding: 15px 0; display: block; text-decoration: none; white-space: nowrap; color: #fff;}
  
@media (min-width: 1200px) {
  .danshop-body-new .header nav .navbar .links > li:last-child{padding-right:0;} 
  .danshop-body-new .header nav .navbar .links > li:last-child a{border:1px solid #fff; padding: 15px 25px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;} 
  .danshop-body-new .header nav .navbar .links > li:last-child a:hover{border-color:#fff;} 
   
  .danshop-body-new .header.header-position nav .navbar .links > li:last-child a{border:1px solid #000;} 
  .danshop-body-new .header.header-position nav .navbar .links > li:last-child a:hover{border-color:#000;} 
}

  .danshop-body-new .header .links li:hover .htmlcss-arrow, .danshop-body-new .header .links li:hover .js-arrow{transform: rotate(180deg);} 
  .danshop-body-new .header nav .navbar .links li .arrow{width: 22px; line-height: 52px; text-align: center; display: inline-block; color: #fff; transition: all 0.3s ease;}
  .danshop-body-new .header nav .navbar .links li .sub-menu{position: absolute; top: 100%; left: 0; background: #222; box-shadow: none; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; display: none; z-index: 2; padding: 8px;} 
  .danshop-body-new .header nav .navbar .links li:hover .htmlCss-sub-menu, .danshop-body-new .header nav .navbar .links li:hover .js-sub-menu{ display: block; } 
  .danshop-body-new .header .navbar .links li .sub-menu li{padding: 0;} 
  .danshop-body-new .header .navbar .links li .sub-menu a{color: #fff; padding: 15px 13px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; display: block;}  
  .danshop-body-new .header .navbar .links li .sub-menu a:hover{background: #a8dadc; color: #fff;} 
  .danshop-body-new .header .navbar .links li .sub-menu .more-arrow{line-height: 40px; } 
  .danshop-body-new .header .navbar .links li .htmlCss-more-sub-menu{/* line-height: 40px; */ } 
  .danshop-body-new .header .navbar .links li .sub-menu .more-sub-menu{position: absolute; top: 0; left: 100%; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; z-index: 1; display: none;} 
  .danshop-body-new .header .links li .sub-menu .more:hover .more-sub-menu{display: block;} 
  .danshop-body-new .header .navbar .search-box{position: relative; height: 40px; width: 40px;} 
  .danshop-body-new .header .navbar .search-box i{position: absolute; height: 100%; width: 100%; line-height: 40px; text-align: center; font-size: 22px; color: #fff; font-weight: 600; cursor: pointer; transition: all 0.3s ease; } 
  .danshop-body-new .header .navbar .search-box .input-box{position: absolute; right: calc(100% - 40px); top: 80px; height: 60px; width: 300px; background: #3E8DA8; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; opacity: 0; pointer-events: none; transition: all 0.4s ease;} 
  .danshop-body-new .header .navbar.showInput .search-box .input-box{top: 65px; opacity: 1; pointer-events: auto; background: #3E8DA8;} 
  .danshop-body-new .header .search-box .input-box::before{content: ''; position: absolute; height: 20px; width: 20px; background: #3E8DA8; right: 10px; top: -6px; transform: rotate(45deg);} 
  .danshop-body-new .header .search-box .input-box input{position: absolute; top: 50%; left: 50%; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; transform: translate(-50%, -50%); height: 35px; width: 280px; outline: none; padding: 0 15px; font-size: 16px; border: none;} 
  .danshop-body-new .header .navbar .nav-links .sidebar-logo{display: none;} 
  .danshop-body-new .header .navbar .bx-menu{display: none;} 
  
  @media (max-width:1100px) { 
    .danshop-body-new .header nav .navbar{max-width: 100%; padding: 0 25px; flex-direction: row-reverse;} 
	.danshop-body-new .header nav .navbar .logo a{font-size: 27px;} 
	.danshop-body-new .header nav .navbar .links > li{padding: 0; border-bottom: 1px solid #555; white-space: nowrap;} 
	.danshop-body-new .header nav .navbar .links > li a:hover, .danshop-body-new .header nav .navbar .links > li.active > a{color: #dd1717;} 
	.navbar .links li .sub-menu a{padding:10px;}
	.danshop-body-new .header .navbar .links li .sub-menu a:hover, .danshop-body-new .header nav .navbar .sub-menu > li.active > a{color: #dd1717; background: none;}  
  } 
  
  @media (max-width:1100px){ 
    .danshop-body-new .header nav{ /* position: relative; */} 
	.danshop-body-new .header .navbar .bx-menu{ display: block;} 
	.danshop-body-new .header nav .navbar .nav-links{position: fixed; top: 0; left: -100%; display: block; max-width: 100%; width: 100%; background:  #000; line-height: normal; padding: 20px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); transition: all 0.5s ease; z-index: 1000; overflow-x: scroll;} 
	.danshop-body-new .header .navbar .nav-links .sidebar-logo{ display: flex; align-items: center; justify-content: space-between;} 
	.danshop-body-new .header .sidebar-logo .logo-name{} 
	.danshop-body-new .header .sidebar-logo .logo-name img{max-width: 160px;} 
	.danshop-body-new .header .sidebar-logo  i, .danshop-body-new .header .navbar .bx-menu{font-size: 25px; color: #fff; cursor: pointer;} 
	.danshop-body-new .header.header-position  .sidebar-logo i{color: #fff;} 
	.danshop-body-new .header.header-position  .navbar .bx-menu{color: #000;} 
	
	.danshop-body-new .header.header-position nav .navbar .links > li > a{color: #fff;}
    .danshop-body-new .header.header-position nav .navbar .links li .arrow{color: #fff;}
	.danshop-body-new .header.header-position nav .navbar .links > li a:hover, .danshop-body-new .header.header-position nav .navbar .links > li.active > a{color: #dd1717;} 
	
	.danshop-body-new .header nav .navbar .links{display: block; margin-top: 20px; padding: 0;} 
	.danshop-body-new .header nav .navbar .links li .arrow{line-height: 40px; position: absolute; border-left: 1px solid #555; width: 52px; top: 7px; bottom: 7px; right: 0; cursor: pointer;} 
	.danshop-body-new .header nav .navbar .links li{display: block;} 
	.danshop-body-new .header nav .navbar .links li .sub-menu{position: relative; top: 0; box-shadow: none; display: none; background: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; padding: 0;} 
	.danshop-body-new .header nav .navbar .links li .sub-menu li{border-bottom: none;} 
	.danshop-body-new .header .navbar .links li .sub-menu .more-sub-menu{display: none; position: relative; left: 0;} 
	.danshop-body-new .header .navbar .links li .sub-menu .more-sub-menu li{display: flex; align-items: center; justify-content: space-between;} 
	.danshop-body-new .header .links li:hover .htmlcss-arrow, .danshop-body-new .header .links li:hover .js-arrow{transform: rotate(0deg);} 
	.danshop-body-new .header .navbar .links li .sub-menu .more-sub-menu{display: none;} 
	.danshop-body-new .header .navbar .links li .sub-menu .more span{/* background: red; */ display: flex; align-items: center; /* justify-content: space-between; */} 
	.danshop-body-new .header .links li .sub-menu .more:hover .more-sub-menu{display: none;} 
	.danshop-body-new .header nav .navbar .links li:hover .htmlCss-sub-menu, .danshop-body-new .header nav .navbar .links li:hover .js-sub-menu{display: none;} 
	.danshop-body-new .header .navbar .nav-links.show1 .links .htmlCss-sub-menu, .danshop-body-new .header .navbar .nav-links.show3 .links .js-sub-menu, .danshop-body-new .header .navbar .nav-links.show2 .links .more .more-sub-menu{display: block;} 
	.danshop-body-new .header .navbar .nav-links.show1 .links .htmlcss-arrow, .danshop-body-new .header .navbar .nav-links.show3 .links .js-arrow{transform: rotate(180deg);} 
	.danshop-body-new .header .navbar .nav-links.show2 .links .more-arrow{transform: rotate(90deg);} 
  } 
  
  @media (max-width:370px){ 
    .danshop-body-new .header nav .navbar .nav-links{max-width: 100%;}
  }
  
.danshop-body-new .banner{position:relative; z-index:1; background-image: unset; min-height: unset;}
  .danshop-body-new .banner .carousel-item{background:#000;}
  .danshop-body-new .banner .carousel-item:before{content:''; background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); position:absolute; left:0; top:0; height:100%; width:100%; z-index:2;}
  .danshop-body-new .banner .slider-img{opacity:0.8;}
  /*---------- LEFT/RIGHT ROUND CONTROL ----------*/
  .danshop-body-new .carousel .carousel-control{top: 47%; opacity: 0; width: 45px; height: 45px; z-index: 100; color: #ffffff; display: block; font-size: 24px; cursor: pointer; overflow: hidden; line-height: 43px; text-shadow: none; position: absolute; font-weight: normal; background: #000;}
  .danshop-body-new .carousel:hover .carousel-control{opacity: 1;}
  .danshop-body-new .carousel .carousel-control-next-icon, .danshop-body-new .carousel .carousel-control-prev-icon{width: 1.5rem; height: 1.5rem;}
  .danshop-body-new .carousel .carousel-control.left, .danshop-body-new .control-round .carousel-control.right{/*left: inherit; right: 30px; opacity: 1; background: #008435; top: inherit; bottom: 20px;*/ border-radius: 0;}
  .danshop-body-new .carousel .carousel-control.left{right: 80px;}
  .danshop-body-new .carousel .carousel-control:hover, .danshop-body-new .control-round .carousel-control:hover{color: #fff; background:#dd1717; border: 0px transparent;}
  .danshop-body-new .carousel .carousel-control .fa{margin: 10px 0 0;}
  .danshop-body-new .carousel .carousel-control.left>span:nth-child(1){left: 45%;}
  .danshop-body-new .carousel .carousel-control.right>span:nth-child(1){right: 45%;}
  
  .danshop-body-new .slide-text{position: absolute; bottom: 0; left: 0; margin: 0 auto; z-index: 5; right: 0; max-width: 950px; text-align: center; top: 0; display: flex; align-items: center; justify-content: center; padding: 100px 0 20px;}
  .danshop-body-new .slide-text h1{padding: 0; color: #fff; font-size: 56px; line-height: 65px; font-style: normal; margin: 0 0 40px; -webkit-animation-delay: 0.7s; animation-delay: 0.7s;}
  .danshop-body-new .slide-text h1::after{content: ""; background: #fff; width: 150px; height: 1px; display: block; margin: 30px auto 0;}
  .danshop-body-new .slide-text h3{color: #fff; font-size: 28px; display: block; margin: 0 0 40px; line-height:normal; letter-spacing:0; text-transform:uppercase; font-weight: 400; position: relative;}
  .danshop-body-new .slide-text p{padding: 0;color: #fff;-webkit-animation-delay: 1.1s;animation-delay: 1.1s;font-size: 40px;margin: 0 0 35px; text-align: center;} 
  .danshop-body-new .slide-text sup{top: -1em; font-size: 20px;}
  .danshop-body-new .slide-text a.btn-default{background: #dd1717; border: 0; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: relative; z-index: 1; display: inline-block; text-align: center;color: #fff; font-size: 16px; font-family: 'Lato', sans-serif; font-weight:700; padding: 13px; min-width: 200px; overflow: hidden; box-shadow: none; text-transform: uppercase; text-shadow: none; letter-spacing: 1px;}
  .danshop-body-new .slide-text a.btn-default:hover{color: #dd1717;}
  .danshop-body-new .slide-text a.btn-default:hover span{position: relative; color:#fff; z-index: 1;}
  .danshop-body-new .slide-text a.btn-default:after{content: ''; position: absolute; height: 100%; left: 0; top: 0; width: 0; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; transition: all .3s; background-color: #fff; z-index:-1;}
  .danshop-body-new .slide-text a.btn-default:hover:after{width: 100%;}

.danshop-body-new .products-home{position: relative; padding: 70px 0 40px; text-align: center;}
  .danshop-body-new .products-home h2{font-size: 34px; font-weight: 600; margin: 0 0 15px; text-transform: capitalize; position: relative; color: #000;}  
  .danshop-body-new .products-home h2::before, .products-home h2::after{content: ""; width: 15px; height: 2px; background: #000; display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
  .danshop-body-new .products-home h2::after{margin: 0 0 0 10px;}
  .danshop-body-new .products-home .info-tag{max-width: 700px; margin: 0 auto;}  
  .danshop-body-new .products-home p{text-align: center;}  
  .danshop-body-new .products-home .info{position: relative; height: 100%;}  
  .danshop-body-new .products-home .info figure{margin: 0 0 25px;}  
  .danshop-body-new .products-home .info figure img{width: 100%; height: 550px; object-fit: cover; object-position: center center; box-shadow: 1px 2px 5px rgba(0,0,0,0.2),5px 7px 15px rgba(0,0,0,0.3);}  
  .danshop-body-new .products-home .info h3{color: #000; font-size: 26px; margin: 0 0 20px;}  
  .danshop-body-new .products-home .info p{margin: 0 0 20px;}  
  .danshop-body-new .products-home .info .btn{margin: 10px 0 0;}  
  
.danshop-body-new .btn{background: #fff; border: 2px solid #000; text-decoration: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: relative; z-index: 1; display: inline-block; text-align: center; font-size: 15px; color: #000; margin: 0; padding: 13px 20px; overflow: hidden; text-shadow: none; text-transform: uppercase;}
  .danshop-body-new .btn i{font-size: 18px; margin: 0 5px 0 0;}
  .danshop-body-new .btn:after{content: ''; position: absolute; height: 100%; left: 0; top: 0; width: 0; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; transition: all .3s; background: #000; z-index:-1;}
  .danshop-body-new .btn:hover:after{width:100%;}
  .danshop-body-new .btn:hover{background: #fff; border: 2px solid #000; color:#fff; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; transition: all .3s;}

.danshop-body-new .featured-products{position: relative; padding: 70px 0 40px; text-align: center;}
  .danshop-body-new .featured-products h2{font-size: 34px; font-weight: 600; margin: 0 0 15px; text-transform: capitalize; position: relative; color: #000;}  
  .danshop-body-new .featured-products h2::before, .danshop-body-new .featured-products h2::after{content: ""; width: 15px; height: 2px; background: #000; display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
  .danshop-body-new .featured-products h2::after{margin: 0 0 0 10px;}
  .danshop-body-new .featured-products .info-tag{max-width: 750px; margin: 0 auto;}
  .danshop-body-new .featured-products p{text-align: center;}  
  .danshop-body-new .featured-products .info{position: relative; height: 100%;}  
  .danshop-body-new .featured-products .info figure{margin: 0 0 25px; position: relative;}  
  .danshop-body-new .featured-products .info figure::before{content: ""; box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 0px 10000px inset; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
  .danshop-body-new .featured-products .info figure img{box-shadow: 0 3px 5px rgba(0,0,0,0.05),0 5px 25px rgba(0,0,0,0.2); width: 100%;}  
  .danshop-body-new .featured-products .info h4{color: #000; font-size: 18px; margin: 0 0 20px;}  
  .danshop-body-new .featured-products .info h4 span{display: block; color: #000; font-size: 15px; font-family: 'Open Sans', sans-serif; font-weight:500; margin: 7px 0 0;}  
  .danshop-body-new .featured-products .info p{margin: 0 0 20px;}  
  .danshop-body-new .featured-products .info .btn{margin: 10px 0 0;}  
 
.danshop-body-new .footer{padding:70px 0 30px; font-size:14px; position:relative; background:#dbe9ed; color:#000;} 
  .danshop-body-new .footer a{color:#000;}
  .danshop-body-new .footer a:hover{color:#dd1717;}
  .danshop-body-new .wg-1{margin:0 0 30px;}
  .danshop-body-new .wg-1 p{font-size:17px; line-height:27px;}
  .danshop-body-new .wg-1 h4{color:#000; font-size:26px; margin:0 0 20px; position:relative;}
  .danshop-body-new .wg-1 ul{margin:0; padding:0;}
  .danshop-body-new .wg-1 ul li{list-style:none; position:relative; padding: 0 0 3px;}
  .danshop-body-new .ft-logo{margin:0 0 20px;}
  .danshop-body-new .ft-logo img{}
  .danshop-body-new .icon-ft{margin:10px 0 0;}
  .danshop-body-new .icon-ft i{border: 0; color: #000; display:inline-block; font-size: 28px; line-height: 34px; margin: 0 10px 0 0; height: 34px; text-align: center; width: 34px; text-align: center; position:relative; z-index:1; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
  .danshop-body-new .icon-ft i.fa-brands.fa-facebook-f{font-size: 26px;}
  .danshop-body-new .icon-ft i:hover{color:#dd1717; transition:0.8s ease-in-out; -webkit-transition:all 0.8s ease-in-out; -moz-transition:all 0.8s ease-in-out; -ms-transition:all 0.8s ease-in-out; -o-transition:all 0.8s ease-in-out;}  
  
  .danshop-body-new .banner-inner{background-image: url(/assets/images/slider-01.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover; position: relative; z-index: 1; min-height: 820px; padding: 0; height: auto; }
  .danshop-body-new .banner-inner:before{content:''; background: #000; position:absolute; left:0; top:0; height:100%; width:100%; z-index:2; opacity:0.5;}
  .danshop-body-new .banner-inner .banner-text{padding: 320px 0 0; text-align: center;}
  .danshop-body-new .banner-inner h1{padding: 0; color: #fff; font-size: 56px; line-height: 65px; font-style: normal; margin: 0 0 40px; -webkit-animation-delay: 0.7s; animation-delay: 0.7s;}
  .danshop-body-new .banner-inner h1::after{content: ""; background: #fff; width: 150px; height: 1px; display: block; margin: 30px auto 0;}
  .danshop-body-new .banner-inner h3{color: #fff; font-size: 28px; display: block; margin: 0 0 30px; line-height:normal; letter-spacing:0; text-transform:uppercase; font-weight: 400; position: relative;}

.danshop-body-new .align-left{float: left; width: 50%; margin: 7px 20px 10px 0;} 
.danshop-body-new .align-right{float: right; width: 50%; margin: 7px 0 10px 20px;} 

.danshop-body-new .mid-inner{padding:70px 0 50px;border:0px;}  
  /*.danshop-body-new .mid-inner h3{position: relative; margin: 0 0 10px; font-size: 24px; color: #dd1717; text-transform: capitalize;}
  .danshop-body-new .mid-inner .right-sidebar h3::before, .danshop-body-new .mid-inner .right-sidebar h4::after{display:none;}
  .danshop-body-new .mid-inner h4{position: relative; font-size: 20px; text-transform:capitalize; color: #3c3e93; margin: 0 0 10px;}*/

  .danshop-body-new .mid-inner ul{margin: 0; padding: 0 0 5px;}
  .danshop-body-new .mid-inner ul li{list-style: none; margin: 0 0 10px; padding: 0; position: relative;}
  .danshop-body-new .mid-inner ul li::before{content: "\f101"; font-family: FontAwesome; display: inline-block; margin: 0 10px 0 0;} 
  .danshop-body-new .mid-inner ol{margin: 0; padding: 0 0 5px; counter-reset: section;}
  .danshop-body-new .mid-inner ol li{margin: 0; padding: 0 0 15px; list-style: none;}
  .danshop-body-new .mid-inner ol li::before{content: counters(section, ".") " - "; counter-increment: section;}

.danshop-body-new .login-wrap{position: relative; padding: 70px 0 40px;}
  .danshop-body-new .login-wrap h2{font-size: 34px; font-weight: 600; margin: 0 0 15px; text-transform: capitalize; position: relative; color: #000;}  
  .danshop-body-new .login-wrap h2:after{content: ""; width: 15px; height: 2px; background: #000; display: inline-block; vertical-align: middle; margin: 0 0 0 10px;}
  .danshop-body-new .login-wrap h4{color: #000; font-size: 18px;}
  .danshop-body-new .login-wrap form{margin:0; position:relative;}
  .danshop-body-new .login-wrap form label{display: block; margin: 0 0 5px;}
  .danshop-body-new .login-wrap form .form-control{background: #eaeaea; box-shadow:none; height: 48px; border: 2px solid #E8E8E8; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #242424;}
  .danshop-body-new .login-wrap form .form-control::-webkit-input-placeholder {opacity:#242424;}
  .danshop-body-new .login-wrap form .form-control::-moz-placeholder {color: #242424;}
  .danshop-body-new .login-wrap form .form-control:-ms-input-placeholder {color: #242424;}
  .danshop-body-new .login-wrap form .form-control:-moz-placeholder {color: #242424;}
  .danshop-body-new .login-wrap form .form-group{margin:0 0 30px;}
  .danshop-body-new .login-wrap .left-area{padding: 0 50px 0 15px;}
  .danshop-body-new .login-wrap .right-area{padding: 0 15px 0 50px;}

   /*danshop body new custom css*/
   .danshop-body-new .breadcrumb{line-height: 22px; position: relative; z-index: 2; margin: 0; padding: 10px 0 6px!important; border-bottom: 1px solid #ccc; background: none; border-radius: 0; color: #242424;}
.danshop-body-new .breadcrumb ul{margin: 0; padding:0;}
.danshop-body-new .breadcrumb li{display:inline-block; vertical-align:middle; list-style:none; margin: 0 0 5px;}
.danshop-body-new .breadcrumb li + li:before {content: "+"; margin: 0 9px; color: #dd1717; font-size: 15px; float: left;}
.danshop-body-new .breadcrumb li .fa-home{margin: 0 10px 0 0;}
.danshop-body-new .breadcrumb li a{color: #dd1717;}
.danshop-body-new .breadcrumb li a:hover{color: #3c3e93;}
.danshop-body-new .mid-inner.cms-page{padding:50px 0 40px; border-bottom:2px solid #191919;}  
.danshop-body-new .mid-inner.cms-page h3{position: relative; margin: 0 0 10px; font-size: 24px; color: #212529; text-transform: capitalize;}
.danshop-body-new .mid-inner.cms-page h2{color: #212529;font-size: 16px;font-weight: bold;}
.danshop-body-new .mid-inner.cms-page .right-sidebar h3::before, 
.danshop-body-new .mid-inner.cms-page .right-sidebar h4::after{display:none;}
.danshop-body-new .mid-inner.cms-page h4{position: relative; font-size: 20px; text-transform:capitalize; color: #3c3e93; margin: 0 0 10px;}
.danshop-body-new .mid-inner.cms-page ul{margin: 0; padding: 0 0 5px;}
.danshop-body-new .mid-inner.cms-page ul li{margin: 0px 30px 10px; padding: 0; position: relative; font-size: 14px;}
.danshop-body-new .mid-inner.cms-page ol{margin: 0; padding: 0 0 5px; counter-reset: section;}
.danshop-body-new .mid-inner.cms-page ol li{margin: 0 30px; padding: 0 0 2px; list-style: unset; font-size: 14px;}
.danshop-body-new .cms-page p {font-size: 14px;}
.danshop-body-new .cms-page h1.page-heading {font-size: 28px; margin-bottom: 25px;}
.danshop-body-new blockquote { padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #eee; }
.danshop-body-new .mid-inner.cms-page ol ul li { margin-left: 60px; }
.danshop-body-new a[type="button"] i.fa.fa-shopping-cart { line-height: 30px;}
.danshop-body-new .collection-description h3 { color: #000; font-size: 21px; } 
.danshop-body-new .collection-description h4 { color: #000; font-size: 19px; } 
.danshop-body-new .collection-description h5 { color: #000; font-size: 16px; } 
.danshop-body-new .collection-description h4 { color: #000; font-size: 13px; } 
.danshop-body-new h2.collection-title { line-height: 1; color: #000; font-size: 28px; margin-bottom: 25px; }
.danshop-body-new .collection-description { margin-bottom: 30px;}
.danshop-body-new .col-sm-2.collection-image img { border: 1px solid #eee;padding:5px; margin-bottom: 30px;}
.danshop-body-new .collection-description li p{ display: inline-block;margin: 0;}
.danshop-body-new div#pills-description ul li p { display: inline-block; margin-bottom: 0; }
.danshop-body-new div#pills-description  h3 { color: #212121; font-size: 21px; } 
.danshop-body-new div#pills-description  h4 { color: #212121; font-size: 19px; } 
.danshop-body-new div#pills-description  h5 { color: #212121; font-size: 16px; } 
.danshop-body-new div#pills-description  h4 { color: #212121; font-size: 14px; } 
.danshop-body-new .selected-variant label { font-size: 16px; font-weight: 400; margin-bottom: 10px; }
.danshop-body-new .selected-variant select.selected-variant-option { width: 100%; height: 42px; text-align: left; border: 1px solid #e5e5e5; margin-bottom: 26px; }
.danshop-body-new .coupon-tag { background: #eee; color: #000; padding: 2px 5px; font-size: 12px; } danshop-body-new
.danshop-body-new .coupon-tag a{ font-size: 18px; color: #888; line-height: 14px; vertical-align: text-top; }
.danshop-body-new .text-right {text-align: right;}
.danshop-body-new .checkout-inner-title {font-size: 18px; color: #333; padding: 12px 0px 8px 0; margin-bottom:0px;}
.danshop-body-new .shipping-rate-tab {display: inline-block; vertical-align: text-bottom;}
.danshop-body-new .checkout-shipping input[type="radio"]:checked + label { border: 2px solid #3c3e93 !important;}
.danshop-body-new .checkout-shipping input[type=radio] {position: absolute; visibility: hidden; display: none;}
.danshop-body-new .checkout-shipping label {width: 100%;}
.danshop-body-new .shipping-rate-tab span {display: block; line-height: 30px;}
.danshop-body-new .checkout-shipping {margin-bottom: 30px !important; display: block;}
.danshop-body-new .error-message { color: #f83333; font-size: 12px; margin-top: 5px; }
.danshop-body-new .checkout-submit-msg { padding: 12px 20px; border-radius: 3px; font-size: 14px; margin-top: 10px; }
.danshop-body-new .back-btn-confirmation:hover { background: #3c3e93; color: #fff; }
.danshop-body-new .back-btn-confirmation { position: relative; background: #dd1717; font-family: 'Lato', sans-serif; font-weight: 700; color: #fff; text-align: center; text-shadow: none; text-transform: uppercase; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out; transition: background 0.3s ease-in-out, color 0.3s ease-in-out; text-align: center; margin: 0; padding: 10px 20px; border: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; text-transform: uppercase; }
.danshop-body-new .order-confirmation i.fa.fa-check-circle-o { color: green; font-size: 2.5em; vertical-align: middle; margin-right: 10px; }
.danshop-body-new .order-confirmation { min-height: 300px; }
.danshop-body-new button.btn[name='register'], .danshop-body-new button.btn[name='reset-password'] { margin-top: 10px; }

.danshop-body-new .pagination.orders { display: block; text-align: center; }
.danshop-body-new .pagination.orders a { text-align: center; display: inline-block; background: #eee; color: #333; padding: 6px; width: 78px; border-radius: 3px; font-size: 14px; }
.danshop-body-new .account-view .click-btn.btn::after { background: none; }
.danshop-body-new span.sr-only { position: absolute; }
.danshop-body-new .cart-button .click-btn::after { background: none; position: relative; }
.danshop-body-new .table a.btn { border: 1px solid #000000; } 
.danshop-body-new .table a.btn:hover{ color:#fff; }
.danshop-body-new .product-checkout #sign-in .btn.btn-check { padding: 10px 15px !important; }
.no-product-found-text{ min-height:200px;}
.danshop-body-new .product-cart{position:relative;}
  .danshop-body-new .product-cart .btn{background: #3c3e93; border: 0; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; z-index: 1; display: inline-block; text-align: center; color: #fff; font-size: 14px; font-family: 'Lato', sans-serif; font-weight: 700; margin: 0; padding: 12px 20px 11px; overflow: hidden; box-shadow: none; text-transform: capitalize; text-shadow: none;}
  .danshop-body-new .product-cart .btn:hover{color: #fff;}
  .danshop-body-new .product-cart .btn:hover span{position: relative; color:#fff; z-index: 1;}
  .danshop-body-new .product-cart .btn:after{content: ''; position: absolute; height: 100%; left: 0; top: 0; width: 0; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; transition: all .3s; background-color: #dd1717; z-index:-1;}
  .danshop-body-new .product-cart .btn:hover:after{width: 100%;}
  .danshop-body-new .product-cart .cart-form{margin: 0 0 30px;}
  .danshop-body-new .product-cart .cart-form .product-thumbnail img{max-width:70px;}
  .danshop-body-new .product-cart .cart-form .table tr td:first-child{vertical-align: middle; text-align: center;}
  .danshop-body-new .product-cart .remove{border:1px solid #dd1717; color: #dd1717; width: 25px; height: 25px; display: block; text-align: center; line-height: 25px; font-size: 18px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
  .danshop-body-new .product-cart .remove:hover{background: #dd1717; color:#fff;}
  .danshop-body-new .product-cart .cart-left{margin: 0 0 30px;}
  .danshop-body-new .product-cart .cart-right{margin: 0 0 30px;}
  .danshop-body-new .product-cart .accordion-header button{font-family: 'Lato', sans-serif; font-weight: 700;}
  .danshop-body-new .product-cart .accordion-header .accordion-button:not(.collapsed){color: #3c3e93;}
  .danshop-body-new .product-cart .accordion-body{padding: 15px 20px 20px;}
  .danshop-body-new .product-cart .cart-left label{display: block; margin: 0 0 10px;}
  .danshop-body-new .product-cart .cart-left .form-control{font-size: 14px; box-shadow:none; -webkit-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px; color: #000; height:40px;}
  .danshop-body-new .product-cart .cart-left .form-control::-webkit-input-placeholder {color: #b0b0b0;}
  .danshop-body-new .product-cart .cart-left .form-control::-moz-placeholder {color: #b0b0b0;}
  .danshop-body-new .product-cart .cart-left .form-control:-ms-input-placeholder {color: #b0b0b0;}
  .danshop-body-new .product-cart .cart-left .form-control:-moz-placeholder {color: #b0b0b0;}
  .danshop-body-new .product-cart .cart-left .form-group{margin:0 0 25px;}
  .danshop-body-new .product-cart .cart-left .input-group .btn{border:0; -webkit-border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0; border-radius:0 3px 3px 0;}
  .danshop-body-new .product-cart .cart-left .btn{position:relative; background: #3c3e93; font-family: 'Lato', sans-serif; font-weight:700; color: #fff; text-align: center; text-shadow:none; text-transform:uppercase; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out; transition: background 0.3s ease-in-out, color 0.3s ease-in-out; text-align: center; margin:0; padding: 9px 15px 10px; border:0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; text-transform:capitalize;}
  .danshop-body-new .product-cart .cart-left .btn:hover, 
  .danshop-body-new .product-cart .cart-left form .btn:active{background: #dd1717; color: #fff;}

.danshop-body-new .product-checkout{color: #605e5e; position:relative;}
  .danshop-body-new .product-checkout .btn{background: #dd1717; border: 0; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; z-index: 1; display: inline-block; text-align: center; color: #fff; font-size: 14px; font-family: 'Lato', sans-serif; font-weight: 700; margin: 0; padding: 12px 20px 11px !important; overflow: hidden; box-shadow: none; text-transform: capitalize; text-shadow: none;}
  .danshop-body-new .product-checkout .btn:hover{color: #fff;}
  .danshop-body-new .product-checkout .btn:hover span{position: relative; color:#fff; z-index: 1;}
  .danshop-body-new .product-checkout .btn:after{content: ''; position: absolute; height: 100%; left: 0; top: 0; width: 0; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; transition: all .3s; background-color: #3c3e93; z-index:-1;}
  .danshop-body-new .product-checkout .btn:hover:after{width: 100%;}
  .danshop-body-new .product-checkout .step-title{font-family: 'Lato', sans-serif; font-weight: 700; margin: 0 0 10px; background: #3c3e93; color: #fff; padding: 10px 15px; font-size: 18px; text-transform: capitalize;}
  .danshop-body-new .product-checkout .step-title i{padding: 0 10px 0 0;}
  .danshop-body-new .product-checkout form{position:relative; padding:0;}
  .danshop-body-new .product-checkout .label{display:block; position:relative; margin:0 0 5px;}
  .danshop-body-new .product-checkout .label::after{content: '*'; color: #e02b27; font-size: 1.2rem; margin: 0 0 0 5px;}
  .danshop-body-new .product-checkout .form-control{background:#fff; font-size: 14px; border: 1px solid #ccc; box-shadow:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; color: #000; height:40px;}
  .danshop-body-new .product-checkout .form-control::-webkit-input-placeholder {color: #b0b0b0;}
  .danshop-body-new .product-checkout .form-control::-moz-placeholder {color: #b0b0b0;}
  .danshop-body-new .product-checkout .form-control:-ms-input-placeholder {color: #b0b0b0;}
  .danshop-body-new .product-checkout .form-control:-moz-placeholder {color: #b0b0b0;}
  .danshop-body-new .product-checkout textarea{height:150px !important;}
  .danshop-body-new .product-checkout .form-group{margin:0 0 10px;}
  .danshop-body-new .product-checkout .btn{position:relative; background: #dd1717; font-family: 'Lato', sans-serif; font-weight:700; color: #fff; text-align: center; text-shadow:none; text-transform:uppercase; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out; transition: background 0.3s ease-in-out, color 0.3s ease-in-out; text-align: center; margin:0; padding: 5px 15px; border:0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font-size: 14px; text-transform:uppercase;}
  .danshop-body-new .product-checkout .btn:hover, 
  .danshop-body-new .product-checkout .btn:active{background: #3c3e93; color: #fff;}
  .danshop-body-new .product-checkout .table-shipping-method .shq-method-logo img{max-width:60px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
  .danshop-body-new .product-checkout .table-shipping-method .shq-method-logo span{display: block;}
  .danshop-body-new .product-checkout .form-check{padding: 0;}
  .danshop-body-new .product-checkout .form-check .form-check-input{display: inline-block; float:none; margin: 0 10px 0 0; vertical-align: middle;}
  .danshop-body-new .product-checkout .form-check .form-check-input label{display: inline-block; vertical-align: middle;}
  .danshop-body-new .product-checkout form .custom-control{display: flex !important; width: 100%; display: -webkit-box !important; display: -webkit-flex !important; display: -moz-flex !important; display: -ms-flexbox !important; display: flex !important; justify-content: space-between; margin: 0 0 15px; position: relative;}
  .danshop-body-new .product-checkout #sign-in .btn{width: 100%;}
  .danshop-body-new .product-checkout #sign-in .btn[disabled]{background: #b8bcc3;}
  .danshop-body-new .product-checkout .text-line{position: relative; border-top: 1px solid #d1d5db; margin: 20px 0; text-align: center;}
  .danshop-body-new .product-checkout .text-line span{background: #fff; position: absolute; display: inline-block; text-align: center; color: #6b7280; top: -12px; padding: 0 10px;}
  
  .danshop-body-new .product-single{position:relative;}
  .danshop-body-new .product-single h2{color: #000;}
  .danshop-body-new .product-single .carousel-inner{display: block; margin: 0; border: 5px solid #f5f5f5; text-align: center; margin:0;}
  .danshop-body-new .product-single .carousel-indicators{position:relative; margin: 0; justify-content: start;}
  .danshop-body-new .product-single .carousel-indicators button{display: inline-block; margin: 20px 20px 0 0; padding:0; height:auto; width:80px; background: none !important; border: 5px solid #f5f5f5;}
  .danshop-body-new .product-single .left{margin: 0 0 30px;}
  .danshop-body-new .product-single .left figure{display: block; margin: 0; border: 5px solid #f5f5f5; text-align: center;}
  .danshop-body-new .product-single .right{margin: 0 0 30px;}
  .danshop-body-new .product-single .price{font-family: 'Lato', sans-serif; font-weight: 700; color: #416f94; font-size: 24px;}
  .danshop-body-new .product-single .price ins{color: #dd1717; display: block; font-size: 24px; text-decoration: none; font-family: 'Lato', sans-serif; font-weight: 700; margin: 0 0 10px;}
  .danshop-body-new .product-single .price small{font-size: 14px;}
  .danshop-body-new .product-single ul li{line-height: 20px; padding: 0; margin: 0 0 10px;}
  .danshop-body-new .product-single ul li:before{display: none;}
  .danshop-body-new .product-single .nav{border-bottom: 1px solid #ddd; margin: 0 0 30px; padding: 0;}
  .danshop-body-new .product-single .nav .nav-link{-webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; background:rgba(221, 23, 23, 0.1); color:#000;}
  .danshop-body-new .product-single .nav .nav-link.active{background:#dd1717; color:#fff;}
  .danshop-body-new .product-single .nav li{margin: 0 5px 0 0; padding: 0;}
  .danshop-body-new .product-single .nav li:before{display: none;}
  .danshop-body-new .product-single .featured-products h2:before{display: none;}

.danshop-body-new .quantity{position: relative;}
  .danshop-body-new .quantity .quantity-input{display: flex; justify-content: space-between; max-width: 110px; margin: 0 0 20px;}
  .danshop-body-new .quantity .qty{width: 50px; height: 42px; text-align: center; border: 1px solid #e5e5e5;}
  .danshop-body-new .quantity .qty:focus-visible{outline: 1px solid #000; outline-offset: -1px;}
  .danshop-body-new .quantity input.qtyminus, 
  .danshop-body-new .quantity input.qtyplus{width:30px; height:42px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; border: 0; font-size: 20px;}
  .danshop-body-new .quantity input.qtyplus{-webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0;}
  
.danshop-body-new .contact-page{position: relative; padding: 0;}
  .danshop-body-new .contact-page h2{font-size: 34px; font-weight: 600; margin: 0 0 15px; text-transform: capitalize; position: relative; color: #000;}  
  .danshop-body-new .contact-page h2::before, .contact-page h2::after{content: ""; width: 15px; height: 2px; background: #000; display: inline-block; vertical-align: middle; margin: 0 10px 0 0;}
  .danshop-body-new .contact-page h2::after{margin: 0 0 0 10px;}
  .danshop-body-new .contact-page h3{color: #000; font-size: 20px; margin: 0 0 30px; line-height:normal; letter-spacing:0; text-transform:uppercase; font-weight: 400; position: relative;}
  .danshop-body-new .contact-page .info-tag{margin: 0 auto;}  
  .danshop-body-new .contact-page .info-tag{margin: 0 auto;}  
  .danshop-body-new .contact-page form{--bs-gutter-x: 1.5rem; --bs-gutter-y: 0; display: flex; flex-wrap: wrap; margin: 0 -15px; position:relative;}
  .danshop-body-new .contact-page form  > *{padding-right: 15px; padding-left: 15px;}
  .danshop-body-new .contact-page form label{display: block; margin: 0 0 5px;}
  .danshop-body-new .contact-page form .form-control{background: #eaeaea; box-shadow:none; height: 48px; border: 0; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; color: #242424;}
  .danshop-body-new .contact-page form .form-control::-webkit-input-placeholder {opacity:#242424;}
  .danshop-body-new .contact-page form .form-control::-moz-placeholder {color: #242424;}
  .danshop-body-new .contact-page form .form-control:-ms-input-placeholder {color: #242424;}
  .danshop-body-new .contact-page form .form-control:-moz-placeholder {color: #242424;}
  .danshop-body-new .contact-page form textarea{height: 110px !important;}
  .danshop-body-new .contact-page form .form-group{margin:0 0 30px;}   
  .danshop-body-new .contact-page form .btn{width: 100%;}   
  .danshop-body-new .contact-page.question-form form .btn{width: auto;}   
  .danshop-body-new .contact-page .address-wrap .row{border: 1px solid #d9d9d9; padding: 30px 15px 15px; margin: 0; background: #f5f5f5;}  
  .danshop-body-new .contact-page .address-wrap h4{color: #000;}  
  .danshop-body-new .btn-small { padding: 0.25rem 0.5rem !important; border-radius: 0.25rem; font-size: 0.875rem; }
  
  .danshop-body-new .account-inner form .form-control{background: #eaeaea; box-shadow:none; height: 48px; border: 2px solid #E8E8E8; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #242424;}
  .danshop-body-new .account-inner form .form-control::-webkit-input-placeholder {opacity:#242424;}
  .danshop-body-new .account-inner form .form-control::-moz-placeholder {color: #242424;}
  .danshop-body-new .account-inner form .form-control:-ms-input-placeholder {color: #242424;}
  .danshop-body-new .account-inner form .form-control:-moz-placeholder {color: #242424;}
  .danshop-body-new .account-inner form .form-group{margin:0 0 1rem;}
  .danshop-body-new .account-inner form label { display: block; margin: 0 0 5px; }
  
    /** Smartphones **/
@media (min-width: 320px) and (max-width: 767px) {
   
   .danshop-body-new .container{padding: 0 20px;}
   .danshop-body-new .banner .slider-img{height: 100vh; object-fit: cover; object-position: center center;}
   .danshop-body-new .slide-text{padding: 100px 15px 20px;}
   .danshop-body-new .slide-text h1{font-size: 44px;}
   .danshop-body-new .slide-text h1 span{font-size: 20px;}
   
   .danshop-body-new .products-home .info figure img{height: 400px;}
   
   .danshop-body-new .login-wrap .left-area{padding: 0 15px;}
   .danshop-body-new .login-wrap .right-area{padding: 0 15px;}
   
   .danshop-body-new .contact-page form > *{width: 100%;}
   .danshop-body-new .cart-button #cart { min-width: 350px; }
       
}


/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) {
   
   
}

/* Tablets */
@media (min-width: 768px) and (max-width: 959px) {
         
   .danshop-body-new .container{padding: 0 20px;}
   .danshop-body-new .banner .slider-img{height: 100vh; object-fit: cover; object-position: center center;}
   .danshop-body-new .slide-text{padding: 100px 15px 20px;}
   .danshop-body-new .slide-text h1{font-size: 44px;}
   .danshop-body-new .slide-text h1 span{font-size: 20px;}
   
   .danshop-body-new .products-home .info figure img{height: 300px;}
   
}

/* Desktop */
@media (min-width: 960px) and (max-width: 1090px) { 
    
   .danshop-body-new .container{padding:0 20px;}

}

@media (min-width: 1367px) {
	
}