<section class="banner-inner" style="background-image: url(/assets/danshop/images/14304860_5568x3712_2500.png);">
  <div class="container">
    <div class="row">      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1>Reset Password</h1>
		  <h3>Change your password</h3>
        </div>
	  </div>	
    </div>
  </div>
</section><!--/ banner --> 
<section class="login-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 full-wrap">
                <div class="danshop-reset-password">
                    <div class="row">
                        <div class="col-sm-4 offset-md-4 checkout-coll" *ngIf="!error">                            
                            <!--/ Reset Password -->
                            <div id="sign-in">
                                <h2 class="mrb-20">Reset Password</h2>
								<!--/  (ngSubmit)="signIn()" -->
                                <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                                    <div class="form-row row">
                                        <div class="form-group col-sm-12 mb-3">
                                            <label class="label"><small>Choose a new password</small></label>
                                            <input class="form-control" type="password" id="password" name="password" formControlName="password">
											<div *ngIf="submitted && f['password'].errors" class="error-message">
												<div *ngIf="submitted && resetForm.get('password')?.hasError('required')">Password is invalid</div>
											</div>
                                        </div>                                        									
										<div class="form-group col-sm-12  mb-3">
											<button type="submit" name="reset-password" class="btn">Reset Password</button>
										</div>
										<div class="form-group col-sm-12 mb-3" *ngIf="successMessage">
                                        	<div class="alert alert-success text-success checkout-submit-msg">{{ successMessage }}</div>
										</div>
										<div class="form-group col-sm-12 mb-3" *ngIf="errorMessage">
											<div class="alert alert-danger text-danger checkout-submit-msg">{{ errorMessage }}</div>
										</div>
                                    </div>
                                    <!--/ form-row -->
                                </form>
								<div class="text-danger mt-3 mt-3 " role="alert" *ngIf="error">
									{{ error }}
								</div>
                            </div>
						</div>
						<div class="col-sm-6 offset-md-3 checkout-coll" *ngIf="error">                            
							<!--/ Reset Password -->
							<div id="sign-in">
								<h2 class="mrb-20">Reset Password</h2>								
								<div class="text-danger mt-3 mt-3 " role="alert" *ngIf="error">
									{{ error }}
								</div>
							</div>
						</div>
						<!--/ Reset Password -->
                    </div>
                    <!--/ row -->
                </div>
                <!--/ coll -->
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ mid-inner -->