<section class="info-wrapper light-blue ">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>Projects</b><span>& STUDIES</span></h1>
		  <p class="update-info mrt-40">While we have completed quite a few projects over the last few years, many new ones have also been started up (we frequently have members and partners participate, such as in the lung function and research study). But we don’t want to make you wait until their completion, so you can read up about our completed and our current projects and studies right here.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->   

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Flying After Diving (FAD) Calibration Study</h2>
		  <p>The FAD Calibration Study is designed to determine how exercise, either dry or immersed, affects the minimum safe waiting period before flying after diving.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf">
            <a href="/assets/images/Flying-after-diving-calibration-study-56.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> Flying-after-diving-calibration-study-56.pdf</a></div>
          </div>
        </div>
        
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367756_5568x3712_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Risk/Benefit of PFO Closure</h2>
		  <p>Patent foramen ovale (PFO) is associated with an increased risk of decompression sickness (DCS), but there is no consensus among experts whether and how divers with PFO should be treated. Currently divers with PFO who choose to continue diving but want to reduce their risk of DCS have two options: undergo PFO closure or dive more conservatively. The study question is: Are divers with PFO who underwent the closure procedure better off than divers with PFO who continue diving without the closure?</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn">
            <a href="/assets/images/Risk-Benefit-of-PFO-Closure.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> Risk-Benefit-of-PFO-Closure.pdf</a></div>
          </div>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367776_5568x3712_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Sudafed & Risk Of Oxygen Toxicity</h2>
		  <p>Sudafed is an over-the-counter drug used extensively among divers to enhance ear equalisation during a dive. This study investigates whether Sudafed increases the risk of oxygen toxicity in an animal model.</p>
        </div>
        
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367856_1920x1280_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Extreme Diving Field Study</h2>
		  <p>The expected growth of new participants in technical diving may result in more accidents and fatalities. This study analyses various aspects of safety including, but not limited to, decompression safety, physical fitness requirements and cardiovascular effects of extreme diving. The purpose of the study is to explore the stress of extreme dive exposures on divers and the requirements for participation.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367851_1920x1280_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Incidents & Accidents In Compressed Air Diving</h2>
		  <p>This project includes monitoring of diving incidents, injuries and fatalities in air, nitrox and mixed-gas diving. Data has been collected from participants or witnesses of mishaps who may report online, from first responders, medical providers and investigative agencies. DAN compiles case reports and includes data from these reports in DAN's Annual Diving Report.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367861_1920x1280_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Incidents & Accidents In Breath-Hold Diving</h2>
		  <p>The growing popularity of breath-hold diving led to the creation of the breath-hold incident database in 2005. Both fatal and nonfatal cases are collected to identify risks and aid in public education. DAN compiles case reports and includes data from these reports in the DAN Annual Diving Report.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367866_5400x3600_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">DAN Membership Health Survey</h2>
		  <p>Every three years the average age of recreational divers (i.e. DAN Members) increases by one year, and they have more chronic diseases than in the past. The purpose of the DAN Member Health Survey (DMHS) is to establish the prevalence of cardiovascular risk factors, diabetes and asthma, access to primary health care and the diving practices of DAN Members. The results of the study will help the diving community decide about preventive measures for injuries and fatalities and will help DAN to focus its research and education efforts.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367871_5828x3885_500.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Project Dive Exploration</h2>
		  <p>Project Dive Exploration (PDE) is an observational research of dive exposure and outcomes. The study collects and analyses electronic dive profiles as recorded by a depth/time recorder for the purpose of conducting statistical analysis of the risks of DCS. Divers report their health status 48 hours after exiting the water.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn"><a href="/assets/images/Project-Dive-Exploration.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> Project-Dive-Exploration.pdf</a></div>
          </div>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367876_6455x4303_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">The DAN Diving Safety Laboratory</h2>
		  <p>DAN DSL (Diving Safety Laboratory) is a real mobile research laboratory, making all the necessary tools for field diving data gathering available. DSL offers free training courses at various levels to allow volunteers to get involved in investigating dive safety.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367881_6582x4388_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Database of Dive Exposure & Dive Outcomes</h2>
		  <p>DAN has obtained data from the US Navy, Duke University, PDE (including DAN Europe's Dive Safety Lab) and the Institute of Nautical Archaeology. Data are being converted to a format that will be used as a reference database for calibration and evaluation of decompression algorithms. Divers using one of many compatible dive computers may contribute their electronic dive log data to PDE.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367886_5658x3772_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box mrb-20">Diver Physical Fitness Study</h2>
		  <p>Physical fitness is an important but poorly documented factor in diver performance. Investigations will assess the physical fitness of divers and the physical fitness required for typical tasks completed by divers.</p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367891_6720x4480_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->


<section class="about-text light-blue">
    <div class="container">
      <div class="row row-flex">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box">Fatality Database</h2>
		  <p>DAN collects data on diving fatalities of recreational divers in the US, Canada and diving destinations frequented by US and Canadian divers. DAN compiles case reports and includes the data in the DAN Annual Diving Report.</p>
          <div class="chamber-pdf-btn">
		    <div class="d-inline-block chamber-pdf red-btn">
            <a href="/assets/images/Fatality-Database.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> Fatality-Database</a></div>
          </div>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="/assets/images/3367936_5568x3712_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>