<section class="mid-inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 full-wrap">
			    <div class="col-sm-12 mb-3">
					<h1 class="text-center page-not-found-title">404</h1>
					<h2 class="text-center text-center pb-2 page-not-found-text">The page you were looking for does not exist.</h2>
				</div>				
            </div>
			<div class="col-sm-12 text-center"><a routerLink="/" type="submit" class="btn back-btn-404 col-sm-12 text-center">Go Back To Home</a>&nbsp;&nbsp;&nbsp;<a routerLink="/danshop" type="submit" class="btn back-btn-404 col-sm-12 text-center">Go Back To Shop</a></div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ mid-inner -->