<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="wg-1">
                    <h4>About</h4>
                    <ul>
					    <li><a [routerLink]="['/danshop/about-us']">About the DAN Shop</a></li>
                        <li>
                            <a [routerLink]="['/danshop/delivery-shipping']">Delivery and Shipping</a>
                        </li>
                        <li>
                            <a [routerLink]="['/danshop/privacy-policy']">Privacy Policy</a>
                        </li>
                        <li>
                            <a [routerLink]="['/danshop/terms-conditions']">Terms of Use</a>
                        </li>						
                    </ul>
                </div>
                <!--/ wg-1 -->
            </div>
            <!--/ col-sm -->
            <div class="col-sm-3">
                <div class="wg-1">
                    <h4>Need Help?</h4>
                    <ul>
                        <li>
                            <a [routerLink]="['/danshop/contact-us']">Contact Us</a>
                        </li>
                        <li>
                            <a [routerLink]="['/danshop/account/orders']">Track Your Order</a>
                        </li>
                        <li>
                            <a [routerLink]="['/danshop/return-information']">Returns Information</a>
                        </li>
						<li>
                          <a [routerLink]="['/danshop/returns']">Returns</a>
                        </li>
						
                    </ul>
                </div>
                <!--/ wg-1 -->
            </div>
            <!--/ col-sm -->
            <div class="col-sm-6">
                <div class="wg-1">
                    <h4>when every second counts</h4>
                    <p>Every day, divers and emergency-response personnel around the world trust DAN’s oxygen units and first-aid kits to perform in an emergency. That’s because DAN’s products have been developed, tested and refined with input from leading doctors and researchers to meet the discriminating requirements of the diving community.</p>
                    <div class="icon-ft pad-t20">
                        <a href="https://www.facebook.com/DANSA.org/" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/dansouthernafrica" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>                        
                        <a href="https://twitter.com/divesafety" target="_blank">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/dansouthernafrica" target="_blank">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
                <!--/ wg-1 -->
            </div>
            <!--/ col-sm -->
        </div>
        <!-- row -->
    </div>
    <!--/ container -->
</footer>