<section class="banner-inner" style="background-image: url(/assets/danshop/images/14304860_5568x3712_2500.png);">
  <div class="container">
    <div class="row">      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1>Signed Out</h1>
		  <h3>You are signed out now!</h3>
        </div>
	  </div>	
    </div>
  </div>
</section><!--/ banner --> 
<section class="mid-inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 full-wrap">
                <div class="order-confirmation">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <h2 class="text-center"><i class="fa fa-check-circle-o" aria-hidden="true"></i> You are signed out now!</h2>                            
							<p class="text-center">Click the button below to go to home page.</p>
                        </div>
						<div class="col-sm-12 text-center"><a routerLink="/danshop" type="submit" name="continue-as-guest" class="btn back-btn-confirmation">Go Back To Homepage</a></div>
                    </div>
                    <!--/ row -->
                </div>
                <!--/ checkout-coll -->
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ mid-inner -->
