<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496178_2598x12402_2500.jpg" alt="image"></figure>
     <p><a class="btn btn-lightblue" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/Lost-at-sea-infographic.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a>&nbsp;&nbsp;
  <a class="btn btn-lightblue" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/Do-Not-Get-Lost.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD SMART GUIDE</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>