<section class="about-information about-text about-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-show text-dark">
                    <b>Logo Policy</b>
                </h1>
                <p>The marks Divers Alert Network, DAN, Divers Alert Network and Design/Logo and DAN and Design/Logo (the "DAN Marks") are the registered marks of Divers Alert Network ("DAN") and solely owned by DAN. </p>
                <p>Use of the DAN Marks is granted to approved licensees and then only under the terms and provisions of this Policy for Any Use of the DAN Marks. A party that is authorised to use the DAN Marks agrees not to claim any right, title or interest in or to the DAN Marks or to adopt any confusingly similar name, designation or mark in the South Africa or any other country. All uses of the DAN Marks shall inure to the benefit of DAN, not the licensee of the DAN Marks. </p>
                <p>Please read the following guidelines if you are authorised to use the DAN Marks in any of its various forms. DAN reserves the right to change these guidelines at its discretion. DAN also reserves the right to immediately terminate permission to use the DAN Marks for anyone not following these guidelines.</p>
                <p>The use of the DAN Marks must be authorised by DAN and is meant to note a specific relationship with DAN for an individual or business that works with DAN for the benefit of recreational scuba diving health, education and safety.</p>
                <p>DAN must approve all intended use(s) of the DAN Marks including use(s) on business cards, advertisements, websites, social media letterheads or in any similar manner prior to printing or usage.</p>
                <p>If the DAN Marks are used on the internet, they must always be used as an active link to DAN's official website: www.dansa.org. DAN may visit participating websites to check on compliance to these guidelines. DAN may terminate internet use of the DAN Marks at any time at its sole discretion, even though such use complies with this Policy.</p>
                <h1 class="text-show text-dark">
                    <b>DAN Marks</b>
                </h1>
                <p>The DAN Marks may be granted by DAN to any one of the categories below.</p>
                <ul>
                    <li>Industry Partners</li>
                    <li>Referral Members</li>
                    <li>Provider Networks</li>
                    <li>Instructor Trainers</li>
                    <li>Dive Club Donors</li>
                    <li>Members</li>
                    <li>Instructors</li>
                    <li>Training Centers</li>
                    <li>Referral Physicians</li>
                    <li>Corporate Donors</li>
                </ul>
                <p>Only the DAN Marks, as seen on DAN's website and printed documents, have been approved for use by Divers Alert Network and International Divers Alert Network. The individual or organisation agrees to use the DAN Marks only as such marks are used by DAN. The DAN Marks may be displayed in different sizes, but all elements of the DAN Marks must be recognisable and changed in size proportionally. The DAN Marks may be reproduced in black and white or, if in colour, only in PMS 485 (and equivalent in four-color process) and black.</p>
                <p>The DAN Marks may not be printed, embossed or displayed on products, literature, packaging or websites that would suggest endorsement or promotion by DAN. Merchandise not supported or provided through DAN and used for sale, may not contain the DAN Marks. </p>
                <p>When used in advertising, whether printed or electronic media, the DAN Marks must not be the dominant element in the advertisement. An initial proof for printed use should be provided to DAN Communications for review prior to printing. It may not adjoin, overlap or in any way be incorporated into the dominant element of the advertisement. No use of a DAN Mark may suggest or imply that any individual is a DAN employee or agent.</p>
                <p>By using the DAN Marks, the user agrees to these terms and conditions. Use of the DAN Marks in violation of these terms shall be considered unauthorised use and subject to appropriate legal action and equitable relief.</p>
            </div>
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<app-sub-footer></app-sub-footer>