<!-- <section class="breadcrumb"> -->
  <!-- <div class="container">   -->
    <!-- <ul> -->
		<!-- <li><a [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li> -->
		<!-- <li>Returns Information</li> -->
	<!-- </ul>	 -->
  <!-- </div> -->
<!-- </section> -->
<section class="mid-inner cms-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 full-wrap">
				<div id="content" class="col-sm-12">
					<h1 class="page-heading">Returns Information</h1>
					<p>
						If you are not completely satisfied with your purchase, you can return the item back to us for a replacement, store credit or a refund payment, subject to the below terms. This policy forms part of the DAN Shop Terms and Conditions, and so words defined in the Terms and Conditions have the same meaning in this policy, unless the context indicates otherwise. Nothing in this policy is intended to limit your statutory rights in any way.
					</p>
					<h3>Unwanted Products</h3>
					<p>
						You can return an unwanted product to us for free, provided:
					</p>
					<ul>
						<li>it is undamaged and unused; </li>
						<li>it is in the original packaging, which must be undamaged and in its original condition with all seals still intact (if applicable);</li>
						<li>it is not missing any accessories or parts</li>
						<li>you log a return with us within 7 days of delivery to you of the unwanted product</li>						
					</ul>
					<p>
						After 7 days, you can only return a product if it is defective.  We will collect the product from you at no charge to you.  Once we have inspected the product and validated your return, we will credit your account with the purchase price of the product within 7 days of the return (or refund you if that is your preference).  We are entitled to inspect the product to validate your return. 
					</p>
					<h3>Received the Wrong Product?</h3>
					<p>
						If we have accidentally delivered the wrong product to you, or if the product you received is not as described on our website, please notify us and we will collect the product from you at no charge.  We will deliver the correct product to you as soon as possible (if the correct product is available); or credit your account with the purchase price of the product within 7 days of the return (or refund you if that is your preference).
					</p>
					<h3>Product Damaged on Delivery</h3>
					<p>
						Should a product be damaged or missing any parts or accessories at the time of delivery, please notify us within 7 days of such delivery by logging a return on our website.
                    </p>
					<p>
						We will arrange to collect the product from you for free. Once we have inspected the product and validated your return, we will replace the product as soon as possible (if such replacement is possible) or credit your account with the purchase price of the product (or refund you if that is your preference).
					</p>
					<h3>Defective Products</h3>
					<p>
						We do our best to ensure that the products we deliver to you are of a high quality and without defects.
					</p>
					<p>
						A defect is a material imperfection in the manufacture of a product or any characteristic of a product, which makes the product less acceptable than one would reasonably be entitled to expect in the circumstances.
					</p>
					<h3>The following will NOT be regarded as defects and will not entitle you to a return:</h3>
					<ul>
						<li>faults resulting from normal wear and tear;&nbsp;</li>
						<li>damage arising from negligence, user abuse or incorrect usage of the product;&nbsp;</li>
						<li>damage arising from electrical surges or sea air corrosion;&nbsp;</li>
						<li>damage arising from a failure to adequately care for the product;&nbsp;</li>
						<li>damage arising from unauthorized alterations to the product; and&nbsp;</li>
						<li>where  the specifications of a product, although accurately described on the Website and generally fit for its intended purpose, do not suit you.</li>
					</ul>
					<h3>Standard Warranty</h3>
					<p>
						If you have received a product which turns out to be defective, please notify us as soon as reasonably possible after you become aware of the defect, but in any event within 6 months after delivery of the product (except in the case of an extended supplier warranty, which is set out below).
					</p>
					<p>		
						You can do so by logging a return on the Website, and we will arrange to collect the product from you at no charge.  Once we have inspected the product and validated your return, we will at your choice repair / replace the product (if such repair / replacement is possible) or credit your account with the purchase price of the product (or refund you if that is your preference).  If the repair / replacement takes longer than 21 days, we will get in touch with you to see if you would rather receive a credit / refund.
					</p>
					<p>						
						Where there is no extended supplier warranty period, unfortunately we cannot facilitate returns that fall outside of the 6 month period.
					</p>
					<h3>Extended Supplier Warranty</h3>
					<p>
						A product may have a supplier warranty that extends beyond the 6 month Standard Warranty.  If such a product turns out to be defective more than 6 months after delivery, please notify us as soon as reasonably possible after you become aware of the defect, but in any event within the extended supplier warranty period after delivery of the product.
					</p>

					<p>
						You can do so by logging a return on the Website, and we will facilitate your return of the product to the supplier at no charge.  Unfortunately we cannot facilitate returns that fall outside of the extended supplier warranty period.
					</p>
					<p>
						Please note that any extended supplier warranty is subject to whatever terms and conditions the supplier or manufacturer may impose.  These are usually stated in a brochure or leaflet inside or on the product packaging.  It is your responsibility to make yourself aware of any such terms and conditions.
					</p>
					<p>
						It is also important to note that it will be in the supplier or manufacturer’s discretion what remedy it can offer you.  The DAN Shop is under no obligation to provide you with a credit, repair / replacement, as your remedy lies with the supplier or manufacturer.  However, since we want your experience to be as good as possible, if the supplier or manufacturer has offered you a repair / replacement within the applicable extended supplier warranty and it takes longer than 21 days, we will get in touch with you to see if you would rather receive a credit / refund directly from us.
					</p>
					<h3>Charges</h3>
					<p>
						If you return a defective product to us, but you fail to return all of the accessories and parts that were sold with that product, we are entitled to (subject to applicable law) to refuse the return, only to replace the item that you did return, or to estimate the value of the missing accessories and parts and only to credit or refund you in respect of the returned item.
					</p>
					<p>
						If you return a product that does not comply with this policy, you may be liable to reimburse DAN Shop for the cost of collecting the product from you and the cost of having the product returned to you.
					</p>
					<p>
						<br>
						<br>
					</p>
				</div>
			</div>	
		</div><!--/ row -->	
	</div>
</section><!--/ mid-inner -->