<section class="banner-sub" style="background-image:url(/assets/images/5132115_1200x800_2500.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        
          <div class="banner-text">
            <h1>SAFETY TRAINING<span>Training, technical and safety advice for chamber facilities</span></h1>
          </div>
          
        </div>
      </div><!-- row -->
    </div>
</section><!--/ banner-sub -->


<section class="about-information">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
		<h2><b>Safety Training: Chamber Operations</b></h2>
		<p>Chamber operators, tenders and technicians all require specialised training in order to operate and maintain recompression treatment facilities in a safe and reliable state, ensuring optimal availability to divers in distress.
        </p>
        <p>Education and awareness play a significant role in ensuring appropriate operational knowledge and competence.</p>
		<p>DAN can provide a range of educational opportunities, including online and on-site courses, together with scholarships to additional safety training courses. These events are available to RCAP recipients based on specific needs determined during on-site safety assessments.</p>
	 
		<p>For more information, email<a href="mailto:danmedic@dansa.org" rel="" target=""> danmedic@dansa.org</a>.</p>
				
	  </div> 
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>
