<!DOCTYPE html>
<html>  
<body>   
<div class="table-wrapper">
  <div class="form-tab-heading">
	<h3>Commercial Membership Listing</h3>    
  </div>		
  <div class="row mrb-30 mb-4">
    <div class="input-group">   
    <a [routerLink]="['/extensions/memberships/addcompany']" class="btn btn-sm btn-own">Add New Company  <i class="fa fa-plus"></i></a>
    <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>     
    <a [routerLink]="['/extensions/memberships/addindividual']" class="btn btn-sm btn-own">Add New Individual  <i class="fa fa-plus"></i></a>
	<span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a [routerLink]="['/extensions/memberships/addprofessional']" class="btn btn-sm btn-own">Add New Professional <i class="fa fa-plus"></i></a>
	<span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a [routerLink]="['/extensions/memberships/addschool']" class="btn btn-sm btn-own">Add New School  <i class="fa fa-plus"></i></a>           
	<input type="text" class="form-control" style="float:right;" [(ngModel)]="inputName" (keyup)="onSearch($event)"/>   	 
	</div>  		
  </div> 						
  <div class="table-scrollable mb-4">
    <table class="table table-striped table-hover table-light" cellspacing="0" width="100%" role="grid">
      <thead>
	    <tr role="row">
	      <th>Name</th> 		
		  <th>Member No</th>
		  <th>Mobile No</th>
		  <th>Start Date</th>
		  <th>Email</th>   		 
		  <th>Member Type</th>  
		  <th>Status</th>  
	    </tr>
	  </thead>
	
	  <tbody>
	    <tr *ngFor="let item of data">   
            <td>
			<a *ngIf="item.membertype =='COMPANY'" class="button-ghost" [routerLink]="['/extensions/memberships/editcompany/',item.id]">  
				<span>{{ item.membertype =='COMPANY'?item.company_name:''}}</span>    		                      
            </a>		
			<a *ngIf="item.membertype =='COMMERCIAL INDIVIDUAL'" class="button-ghost" [routerLink]="['/extensions/memberships/editindividual/',item.id]">  
				<span>{{ item.membertype =='COMMERCIAL INDIVIDUAL'?item.fname1:''}} {{ item.membertype =='COMMERCIAL INDIVIDUAL'?item.sname1:''}}</span>      		                      
            </a>	
			<a *ngIf="item.membertype =='PROFESSIONAL'" class="button-ghost" [routerLink]="['/extensions/memberships/editprofessional/',item.id]">  
				<span>{{ item.membertype =='PROFESSIONAL'?item.fname1:''}} {{ item.membertype =='PROFESSIONAL'?item.sname1:''}}</span>      		                      
            </a> 
			<a *ngIf="item.membertype =='COMMERCIAL SCHOOL'" class="button-ghost" [routerLink]="['/extensions/memberships/editschool/',item.id]">  
				<span>{{ item.membertype =='COMMERCIAL SCHOOL'?item.company_name:''}}</span>    		                      
            </a>   	
			</td>								
			<td>{{ (item.member_no==null)?'N/A':item.member_no }}</td>     
            <td>{{ item.cellphone1 }}</td>
			<td>{{ item.startdate|date:'dd/MM/yyyy' }}</td>			   														
            <td>{{ item.email1 }}</td>      
            <td>{{ item.membertype }}</td>     
			<td>{{ item.status1 }}</td>       		
          </tr>  	   
	  </tbody>
    </table>
  </div>
  <div class="btn-toolbar" role="toolbar" *ngIf="showMsg">        
	<div class="btn-group pull-right">
		<ul class="pagination justify-content-center">	
            <li [ngClass]="{'disabled':pager.currentPage === 1}">
                <a (click)="setPage(1)" class="page-link">&laquo;</a>   
            </li>
            <li [ngClass]="{'disabled page-item':pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)" class="page-link">&lt;</a>  
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{'active page-item':pager.currentPage === page}">
                <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{'disabled page-item':pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)" class="page-link">&gt;</a>     
            </li>
            <li [ngClass]="{'disabled':pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)" class="page-link">&raquo;</a>        
            </li>		   
        </ul>											
	</div>  
 </div>
 <div *ngIf="!showMsg">No result found</div>       
</div>
		  
</body>  
</html>		