<!-- <section class="breadcrumb"> -->
  <!-- <div class="container">   -->
    <!-- <ul> -->
		<!-- <li><a [routerLink]="['/']"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li> -->
		<!-- <li>About the DAN Shop</li> -->
	<!-- </ul>	 -->
  <!-- </div> -->
<!-- </section> -->
<section class="mid-inner cms-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 full-wrap">
				<div id="content" class="col-sm-12">
					<h1 class="page-heading">About the DAN Shop</h1>
					<h3 style="margin-bottom: 18px;">Welcome to the DAN Shop Southern Africa’s premier dive safety shop!</h3>
					<blockquote>DAN’s primary and most important mission is dive safety and every one of DAN’s activities is dedicated to this purpose, from assisting divers in emergency situations to developing and implementing safety projects and programmes and furthering dive medicine and safety research.</blockquote>
					<p>Every day, divers and emergency-response personnel around the world trust DAN’s oxygen units and first-aid kits to perform in an emergency. That’s because DAN’s products have been developed, tested and refined with input from leading doctors and researchers to meet the discriminating requirements of the diving community. Explore the DAN Shop to make sure you are prepared with the latest safety equipment to effectively handle any dive emergency.</p>
					<p>DAN’s oxygen units are designed to withstand the rigors of professional use. Waterproof cases provide protection for the oxygen components in even the harshest marine environments to ensure that you’ll be able to respond in the event of an emergency.</p>
					<p>DAN’s first aid kits enable divers to be prepared in the event of an emergency on the boat, on the beach or in the dive shop. Our line ranges from compact kits that are suited for minor injuries to comprehensive solutions designed to treat serious injuries. Be ready for the unexpected with DAN first aid kits.</p>
					<p>DAN’s first-aid and safety accessories are the ideal complement to your emergency-response gear. Add these items to any kit and be prepared for whatever happens during your dive adventure.</p>
					<p>Show your commitment to dive safety with DAN gear. Our apparel and accessories are top quality to provide style and performance while showing off your DAN pride.</p>
					<p>
					  <br>
					  <br>
					</p>
				</div>
				</div>	
		</div><!--/ row -->	
	</div>
</section><!--/ mid-inner --> 