<section class="banner-sub" style="background-image:url(/assets/images/operational-safety-banner.png)">
  <div class="container">
    <div class="row">
	  <div class="col-sm-12">
	  
	    <div class="banner-text">
		  <h1>SAFETY RESOURCES<span>Free resources for dive operators</span></h1>
		</div>
		
	  </div>
    </div><!-- row -->
  </div>
</section><!--/ banner-sub -->

<section class="about-text">
  <div class="container">
    <div class="row align-items-center">
      
	  <div class="col-sm-6 left">
	    <h2>Safety Tips for Dive Operators</h2>
		<p>DAN’s new Safety Tips for Dive Operators guide identifies some of the risks involved with running a dive operation and what can be done to mitigate them. It outlines minimum safety standards for various aspects of dive operations and provides a foundation for refining safety protocols by offering dive safety officers and other dive pros a tested approach for assessing safety and modifying practices to prevent incidents and limit liability.</p>
		<p><a href="/assets/files/DAN-Safety-Tips-For-Dive-Operations.pdf" target="_blank" class="btn"><i class="fa fa-cloud-download fa-lg fa-fw"></i>DOWNLOAD GUIDE</a></p>
	  </div>
	  
	  <div class="col-sm-6 right right-video">		 
      <iframe src="https://www.youtube.com/embed/JK1xjiy1WZs?rel=0" frameborder="0" allowfullscreen="" ></iframe>
      </div><!--/ right -->  
        
	  
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-information  about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12 ">
		
		
		<h2 class="mrb-20"><b>Air Quality</b></h2>
		
		<div class="chamber-pdf"><a href="/assets/files/Scuba-Air-Quality-Part-1.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 1.-Scuba-Air-Quality-Part-1.pdf</a></div>
		
		<div class="chamber-pdf"><a href="/assets/files/Scuba-Air-Quality-Part-2.pdf"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 2.-Scuba-Air-Quality-Part-2.pdf</a></div>
		
		<div class="chamber-pdf"><a href="/assets/files/Air-Quality-Testing-Form.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 3.-Air-Quality-Testing-Form.pdf</a></div>
		
		<div class="chamber-pdf"><a href="/assets/files/Carbon-Monoxide-The-Silent-Killer.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 4.-Carbon-Monoxide-The-Silent-Killer.pdf</a></div>
		
		<div class="chamber-pdf"><a href="/assets/files/Carbon-Monoxide-Safety.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 5.-Carbon-Monoxide-Safety.pdf</a></div>
		
		<div class="chamber-pdf"><a href="/assets/files/Carbon-Monoxide-Safety-What-is-a-Safe-26.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 6.-Carbon-Monoxide-Safety-What-is-a-Safe-26.pdf</a></div>
		
		<div class="chamber-pdf"><a href="/assets/files/Carbon-Dioxide-Safety.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 7.-Carbon-Dioxide-Safety.pdf</a></div>

        <div class="chamber-pdf"><a href="/assets/files/Carbon-Dioxide-Safety-What-is-a-Safe--89.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 8.-Carbon-Dioxide-Safety-What-is-a-Safe--89.pdf</a></div>

        <div class="chamber-pdf"><a href="/assets/files/Oil-and-Particulates-What-Are-Safe-Le-45.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 9.-Oil-and-Particulates-What-Are-Safe-Le-45.pdf</a></div>
		
		<div class="chamber-pdf mrb-20"><a href="/assets/files/Potential-Sources-of-Carbon-Monoxide-87.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 10.-Potential-Sources-of-Carbon-Monoxide-87.pdf</a></div>
      </div>    

    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text ">
    <div class="container">
		<div class="row">        
			<div class="col-sm-12">
				<h2 class="mrb-20"><b>Emergency Action Plans (EAPs)</b></h2>	  
				<div class="chamber-pdf"><a href="/assets/files/Instructions-to-Generate-Your-Emergen-30.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> <span> 1.-Instructions-to-Generate-Your-Emergen-30.pdf</span></a></div>

				<div class="chamber-pdf"><a href="/assets/files/Emergency-Planning-Why-Do-We-Need-It-22.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> <span> 2.-Emergency-Planning-Why-Do-We-Need-It-22.pdf</span></a></div>

				<div class="chamber-pdf"><a href="/assets/files/Emergency-Action-Plans-When-Things-Go-76.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> <span> 3.-Emergency-Action-Plans-When-Things-Go-76.pdf</span></a></div>

				<div class="chamber-pdf"><a href="/assets/files/Emergency-Planning-What-Makes-a-Good--35.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> <span> 4.-Emergency-Planning-What-Makes-a-Good--35.pdf</span></a></div>
				
				<div class="chamber-pdf mrb-20"><a href="/assets/files/Emergency-Planning-Practicing-the-Pla-99.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i>5.-Emergency-Planning-Practicing-the-Pla-99.pdf</a></div>
			</div>        
		</div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->



<section class="about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12">
            <h2 class="mrb-20"><b>Risk Mitigation Publications
            </b></h2>
            
            <div class="chamber-pdf"><a href="/assets/files/HIRA-Guide-2nd-Edition-2019.pdf" target="_blank"><i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> 1.-HIRA-Guide-2nd-Edition-2019.pdf</a></div>
            
            <div class="chamber-pdf"><a href="/assets/files/Fire-Safety-in-the-Dive-Industry-Part-80.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> <span>2.-Fire-Safety-in-the-Dive-Industry-Part-80.pdf</span></a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Fire-Safety-in-the-Dive-Industry-Part-31.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 3.-Fire-Safety-in-the-Dive-Industry-Part-31.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Dive-Boat-Fire-Safety.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 4.-Dive-Boat-Fire-Safety.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Equipment-Maintenance.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 5.-Equipment-Maintenance.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Pre-Dive-Safety-Briefings.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 6.-Pre-Dive-Safety-Briefings.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Safety-Recommendations-for-Vessels-12.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 7.-Safety-Recommendations-for-Vessels-12.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Protect-Our-Environment.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 8.-Protect-Our-Environment.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Health-and-Safety-Manual-January-2018-43.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 9.-Health-and-Safety-Manual-January-2018-43.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Safety-Improvement-Program-August-20-31.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 10.-Safety-Improvement-Program-August-20-31.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Invisible-Crystals.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 11.-Invisible-Crystals.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Air-Hoses-A-Closer-Look.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 12.-Air-Hoses-A-Closer-Look.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Hose-Failure.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 13.-Hose-Failure.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Are-6351-T6-Alloy-Scuba-Cylinders-Sa-3.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 14.-Are-6351-T6-Alloy-Scuba-Cylinders-Sa-3.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Replacing-Dive-Computers-and-BCDs-36.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 15.-Replacing-Dive-Computers-and-BCDs-36.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Piston-or-Diaphragm-Regulators.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 16.-Piston-or-Diaphragm-Regulators.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Maintaining-Safety-in-the-Era-of-COV-94.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 17.-Maintaining-Safety-in-the-Era-of-COV-94.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Old-Habits-Die-Hard.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 18.-Old-Habits-Die-Hard.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Environmental-Considerations-for-Dis-1.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 19.-Environmental-Considerations-for-Dis-1.pdf</a></div>
    
            <div class="chamber-pdf mrb-20"><a href="/assets/files/Cylinder-Safety.pdf" target="_blank"><i class="fa fa-fw fa-file-pdf-o fa-lg fa-fw"></i> 20.-Cylinder-Safety.pdf</a></div>
        </div>
        
      </div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->

<section class="about-text">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12">
            <h2 class="mrb-20"><b>Tools</b></h2>

            <div class="chamber-pdf"><a href="/assets/files/Instructions-to-Generate-Your-Emergen-58.pdf" target="_blank"><i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> 1.-Instructions-to-Generate-Your-Emergen-58.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Dive-Boat-Safety-Checklist.pdf" target="_blank"><i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> 2.-Dive-Boat-Safety-Checklist.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Fill-Station-Risk-Assessment.pdf" target="_blank"><i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> 3.-Fill-Station-Risk-Assessment.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Identifying-Gas-Contamination.pdf" target="_blank"><i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> 4.-Identifying-Gas-Contamination.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Common-Symptoms-of-Gas-Contamination--91.pdf" target="_blank"><i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> 5.-Common-Symptoms-of-Gas-Contamination--91.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Oxygen-Kit-Inspection-and-Maintenance-47.pdf" target="_blank"><i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> 6.-Oxygen-Kit-Inspection-and-Maintenance-47.pdf</a></div>
    
            <div class="chamber-pdf"><a href="/assets/files/Lithium-Ion-Battery-Safety.pdf" target="_blank"><i class="fa fa-fw fa-file-o fa-lg fa-fw"></i> 7.-Lithium-Ion-Battery-Safety.pdf</a></div>
        </div>
        
      </div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->


  <section class="info-wrapper about-text about-black">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12">
          <div class="banner-text">
            <h1 class="text-show"><b>COVID-19</b><br>UPDATES &amp; INFORMATION</h1>
            <p class="update-info">Visit the COVID-19 update section of our website, where you will find regular updates regarding COVID-19 and diving.</p>
            <p><a class="btn btn-text" [routerLink]="['/covid-19']"><i class="fa fa-info-circle" aria-hidden="true"></i>READ UPDATES</a></p>
          </div>
        </div>
      
      </div>
    </div>
  </section>

<app-sub-footer></app-sub-footer>