<style>
.about-text.about-black h1 { color: #ffffff; }
.about-text.light-blue h1 { color: #333333; }
</style>
<section class="banner-sub" style="background-image:url(/assets/images/4944451_2000x1333_2500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-text">
                    <h1>Refresh Your Skills <span>Update your knowledge and in-water diving skills </span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</section>
<!--/ banner-sub -->
<section class="about-text about-2 white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <h2>
                    <b> Refresh Your Skills Overview</b>
                </h2>
                <p>Diving requires special skills learned during training and maintained through practice. “Use it or lose it” is especially true in diving. While skills will degrade somewhat with as little six months of inactivity, most dive educators and instructors consider inactivity of one to two years sufficient to warrant refresher training.</p>
                <p>With longer periods, you’ll want to consider how much you have changed and what changes have taken place in the diving world. After a long hiatus, we highly recommend formal review of both your knowledge and in-water skills before you resume diving. </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/Simple-Steps-for-a-Safe-Return.png" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black text-center about-font">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="banner-text">
                    <h1>
                        <b>Evaluate Your Skills</b>
                    </h1>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944476_800x500_1000.jpg" class="fill" alt="">
                </figure>
                <h2>
                    <b>Practice Fundamentals</b>
                </h2>
                <p>In your entry-level scuba course, you learned fundamental skills intended to promoted your safety and teach you how to deal with various problems that can arise during dives. To remain proficient in these skills, you must practice them. This is even more important if you are a relatively inexperienced diver. Most instructors and training agencies recommend a refresher course after a year of not diving.</p>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4944481_800x500_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>Refresh In-Water Skills</b>
                    </h2>
                    <p>If you have been out of the water for a prolonged period, consider retaking the entry-level course. You never know what you may have forgotten or missed in your original course. When undertaking refresher training, DAN highly recommends both the classroom portion (which includes basic dive physics and physiology as well as dive planning and execution using dive tables and computers) and the in-water skills portion.</p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
        </div>
    </div>
</section>
<!--/ return-steps -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 text-center ">                
				<div class="inner inn-er">
                    <h1>
                        <b>Evaluate Your Skills</b>
                    </h1>
                </div>
            </div>
            <!--/ coll -->
        </div>
        <div class="row mrb-50">
            <div class="col-sm-6 left">
                <h3>
                    <b> The Classroom Portion of Refresher Training Generally Covers</b>
                </h3>
                <ul>
                    <li>Dive planning</li>
                    <li>Use of dive tables and computers</li>
                    <li> Other knowledge and theory per your training agency’s standards </li>
                </ul>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944486_800x500_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <div class="row mrb-50">
            <div class="col-sm-6 left">
                <h3>
                    <b> For Your First Dive After a Period of Inactivity</b>
                </h3>
                <ul>
                    <li>Do not dive alone. Consider diving with a divemaster or instructor</li>
                    <li>Dive at a familiar site <ul>
                            <li>Shallow</li>
                            <li>Minimal or no currents</li>
                            <li>No major hazards</li>
                            <li>Choose a site that is not remote</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944491_800x500_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <div class="row mrb-50 ">
            <div class="col-sm-6 left">
                <h3>
                    <b> Practice Your Skills In Confined Water Before You Dive In Open Water. Good Skills to Practice Include</b>
                </h3>
                <ul>
                    <li>Predive checks</li>
                    <li>Buoyancy checks (proper weighting)</li>
                    <li> Buoyancy </li>
                    <li>Mask clearing</li>
                    <li>Mask removal and replacement</li>
                    <li>Recovering and clearing your regulator</li>
                    <li>Shared air ascent</li>
                    <li>Emergency swimming ascent or controlled emergency swimming ascent (depending on what your training agency teaches)</li>
                </ul>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944501_800x500_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <div class="row mrb-50">
            <div class="col-sm-6 left">
                <h3>
                    <b> Take a Continuing Education Course At The Level Recommended By Your Training Agency</b>
                </h3>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944506_800x500_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
        </div>
        <!--/ row -->
    </div>
</section>
<!--/ about-text  -->
<section class="about-text about-black text-center about-font">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title mrb-30">
                <div class="banner-text">
                    <h1>
                        <b>Additional</b>
                        <br>
                        <span> DIVE SKILL RESOURCES</span>
                    </h1>
                </div>
            </div>
            <!--/ coll -->
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944521_500x350_1000.jpg" class="fill" alt="">
                </figure>
                <h2>
                    <b>Predive Safety Check</b>
                </h2>
                <p>Checking your equipment and doing a buddy check, regardless of how many times you’ve dived with your gear or with the same buddy, can help prevent many of the common factors that lead to dive accidents.</p>
                <p class="text-center">
                    <a class="btn" href="#">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                </p>
                <!--/ coll -->
            </div>
            <!--/ coll -->
            <div class="col-sm-6 rs-coll">
                <div class="info">
                    <figure class="img-full">
                        <img src="/assets/images/4944516_500x350_1000.jpg" class="fill" alt="">
                    </figure>
                    <h2>
                        <b>Regulator Failure</b>
                    </h2>
                    <p>Divers are responsible for doing a proper buddy check, having a plan for handling emergencies and making the decision to abort a dive if necessary.</p>
                    <p class="text-center">
                        <a class="btn" href="#">
                            <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                    </p>
                </div>
                <!--/ coll -->
            </div>
            <!--/ coll -->
        </div>
    </div>
</section>
<!--/ return-steps -->
<section class="about-text light-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left-text">
                <h2>
                    <b> Experience Matters</b>
                </h2>
                <p>This incident report stresses the importance of checking your equipment is working as designed.</p>
                <p>
                    <a class="btn" href="#">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>READ MORE </a>
                </p>
            </div>
            <div class="col-sm-6 right">
                <figure>
                    <img src="/assets/images/4944526_500x350_1000.jpg" alt="image">
                </figure>
            </div>
            <!--/ right -->
            <div class="col-sm-12 rs-coll">
                <p class="text-center">
                    <a class="btn btn-blue" [routerLink]="['/return']">
                        <i class="fa fa-info-circle fa-lg fa-fw"></i>BACK TO MAIN PAGE 
					</a>
                </p>
            </div>
            <!--/ row -->
        </div>
    </div>
    <!--/ row -->
</section>
<!--/ about-text  -->
<app-sub-footer></app-sub-footer>