<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496243_1733x4567_2500.jpg" alt="image"></figure>
     <p><a class="btn btn-lightblue" target="_blank" href="https://htlwork.com/dev/dansa/infographic-oxygen-course.html#"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
  </section><!--/ about-text  -->

  <section class="infographic-text about-2" style="background: #ecf6f9;">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
			<h2 class="content-box"><b> Oxygen First Aid for Scuba Diving Injuries</b></h2>
          <p>Oxygen first aid can greatly improve the chances of making a full recovery for divers with decompression illness, shock or drowning. The DAN Oxygen Provider course provides entry-level training on recognising and managing possible diving-related injuries using emergency oxygen first aid effectively.</p>
          <p><a class="btn" routerLink="/provider-courses" target="_blank" ><i class="fa fa-info-circle" aria-hidden="true"></i>LEARN MORE</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
            <figure><img src="assets/images/3294776_5568x3712_1000.jpg" alt="image"></figure>
          
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->
<app-sub-footer></app-sub-footer> 