<section class="infographic-wrapper">
    <div class="container">
      <div class="row">
       
   <div class="col-sm-12">
     <figure><img src="assets/images/496203_2598x7677_2500.jpg" alt="image"></figure>
     <p><a class="btn btn-lightblue" target="_blank" href="https://storage.snappages.site/eupr0m0685/assets/files/Basic-Life-Support.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>DOWNLOAD INFOGRAFIC</a></p>
   </div>
  
      </div><!--/ row -->
    </div>
  </section><!--/ about-text  -->

<section class="infographic-text about-2" style="background: #ecf6f9;">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left-text">
		  <h2 class="content-box"><b>Basic Life Support</b></h2>
          <p>The DAN Basic Life Support (BLS) course addresses the prevention and management of cardiac and respiratory arrest. Coronary artery disease, external bleeding, choking and shock can all lead to severe circulatory and respiratory problems or death. The DAN BLS course prepares you to react appropriately when someone’s life is at risk.</p>
          <a class="btn" routerLink="/provider-courses" target="_blank"><i class="fa fa-info-circle fa-lg fa-fw"></i>Learn More</a>
         
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="assets/images/3368114_5616x3744_1000.jpg" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
</section>
<app-sub-footer></app-sub-footer>