<section class="form-wrap annual-application dive-registration">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="form-grid">
	      <div class="title">
	        <h2>Dive Client Registration Form</h2>
		    <p>You are automatically covered for dive emergencies at no charge. The cover package provides dive medical cover up to R300,000. To gain access to the cover complete the form. Your registration will be processed once you hit submit.</p>
	      </div><!--/ title -->
		  
		  <form>			
			<div class="form-steps form-group col-sm-12" id="step_1">
			  <div class="row">
			    
				<div class="form-group col-sm-12">
				  <div class="step-no">Step 1 of 5</div>
				  <h3>Personal Details</h3>
				  <p class="annual-p text-center">Please complete required fields</p>
				  <div class="form-bar">
					<div class="form-clearbar"></div>
					<div class="form-fillbar"></div>
				  </div><!--/ form-bar -->
				</div>
			
		        <div class="form-group col-sm-4">
			      <label>Title</label>
			      <input class="form-control" placeholder="Mr" value="">
		        </div>
			
			    <div class="form-group col-sm-4">
			      <label>First name</label>
			      <input class="form-control" placeholder="john" value="">
		        </div>
			
			    <div class="form-group col-sm-4">
			      <label>Last name</label>
			      <input class="form-control" placeholder="Doe" value="">
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Date of Birth</label>
			      <input class="form-control" placeholder="10-06-1990" value="">
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Identity / Passport Number</label>
			      <input class="form-control" placeholder="000000-0000-000" type="phone" value="">
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Mobile Phone</label>
			      <input class="form-control" placeholder="+27-00-000-0000" type="text" value="">
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Email address </label>
			      <input class="form-control" placeholder="example@domain.com" type="text" value="">
		        </div>
			
			    <div class="form-group col-sm-12">
			      <label>Country of Residence</label>
			      <input class="form-control" placeholder="Where are you living or working at present" type="text" value="">
		        </div>
				
			    <div class="form-group col-sm-12 steps-btn">
			      <a href="#" class="btn next-btn" data-id="1">Next</a>
		        </div>
			
		      </div><!--/ row -->
		    </div><!--/ form-steps -->
			
			<div class="form-steps form-group col-sm-12" id="step_2">
			  <div class="row">
			    
				<div class="form-group col-sm-12">
				  <div class="step-no">Step 2 of 5</div>
				  <h3>Diving Details</h3>
				  <p class="annual-p text-center">Please complete required fields</p>
				  <div class="form-bar">
					<div class="form-clearbar"></div>
					<div class="form-fillbar"></div>
				  </div><!--/ form-bar -->
				</div>
				
				<div class="form-group col-sm-12">
			      <h4 class="mrb-0"><b>Diving Qualification</b></h4>
		        </div>
			
		        <div class="form-group col-sm-6">
			      <label>Diving Qualification</label>
			      <input class="form-control" placeholder="Highest Qualification" value="">
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Dive Agency</label>
			      <input class="form-control" placeholder="PADI - NAUI - RAID - SSI - IANTD" value="">
		        </div>
				
			    
				
				<div class="form-group col-sm-12">
				  <label class="label mrb-0">Type of Diver</label>
				  <p class="annual-p">Select all that apply</p>
				  <div class="checkbox-custom">
				    <label class="checkbox">Scuba Diver
			          <input type="checkbox" name="Scuba" value="Bike">
					  <span class="checkmark"></span>
			        </label>
					
					<label class="checkbox">Technical Diver
			          <input type="checkbox" name="Technical" value="Technical">
					  <span class="checkmark"></span>
			        </label>
					
					<label class="checkbox">Freediver
			          <input type="checkbox" name="Freediver" value="Freediver">
					  <span class="checkmark"></span>
			        </label>
					
					<label class="checkbox">Spearfisherman
			          <input type="checkbox" name="Spearfisherman" value="Spearfisherman">
					  <span class="checkmark"></span>
			        </label>
					
					<label class="checkbox">Snorkeler
			          <input type="checkbox" name="Snorkeler" value="Snorkeler">
					  <span class="checkmark"></span>
			        </label>
		          </div>
		        </div>
				
				
		        <div class="form-group col-sm-6">
			      <label>Dive Business</label>
			      <select class="form-control mrb-10"><option value="">Select dive business name.</option><option value="Dive Team">Dive Team</option><option value="Pisces Divers">Pisces Divers</option><option value="Into The Blue">Into The Blue</option></select>
		        </div>
			
			    <div class="form-group col-sm-6">
			      <label>Number of Dives Plannes</label>
                  <select class="form-control mrb-10"><option value="">Select number of dive planned for your trip.</option><option value="Standard Membership">Standard Membership</option><option value="Plus Membership">Plus Membership</option><option value="Master Dive Pro Membership">Master Dive Pro Membership</option><option value="Master Freediver Pro Membership">Master Freediver Pro Membership</option><option value="Master Tech Membership">Master Tech Membership</option></select>
		        </div>

                <div class="form-group col-sm-6">
                    <label>Diving Start Date</label>
                    <input class="form-control" placeholder="Eneter the date your diving will start." value="" type="date">
                  </div>
              
                  <div class="form-group col-sm-6">
                    <label>Diving End Date</label>
                    <input class="form-control" placeholder="Eneter the date your diving will stop." value="" type="date">
                  </div>
			
			    <div class="form-group col-sm-12 steps-btn">
			      <div class="row">
				    <div class="col-sm-12"><a href="#" class="btn btn-lightgray back-btn" data-id="2">Back</a> <a href="#" class="btn next-btn" data-id="2">Next</a></div>
		          </div>
		        </div>
			
		      </div><!--/ row -->
		    </div><!--/ form-steps -->
			
			<div class="form-steps form-group col-sm-12" id="step_3">
			  <div class="row">
			    
				<div class="form-group col-sm-12">
				  <div class="step-no">Step 3 of 5</div>
				  <h3>Medical Insurance Details</h3>
				  <p class="annual-p text-center">Please complete required fields</p>
				  <div class="form-bar">
					<div class="form-clearbar"></div>
					<div class="form-fillbar"></div>
				  </div><!--/ form-bar -->
				</div>
				
				<div class="form-group col-sm-6">
			      <label>Medical Aid / Healthcare Insurance Name</label>
			      <input class="form-control" placeholder="Discovery Health Medical Scheme" type="text" value="">
		        </div>
				
				<div class="form-group col-sm-6">
			      <label>Medical Aid / Healthcare Insurance Number</label>
			      <input class="form-control" placeholder="Policy Number" type="text" value="">
		        </div>
			
			    <div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">Are you using any medication regularly?</label>
				    <div class="input-inner row">
				      <div class="col-sm-12 mrb-10 input-radio"><label class="radio-container mrb-r"><input type="radio" checked="checked" name="gender"><span class="checkmark"></span> Yes</label></div>
				    
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span> No</label></div>
				    </div>
			      </div>
		        </div>
				
				<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">Do you suffer from any chronic illness?</label>
				    <div class="input-inner row">
				      <div class="col-sm-12 mrb-10 input-radio"><label class="radio-container mrb-r"><input type="radio" checked="checked" name="gender"><span class="checkmark"></span> Yes</label></div>
				    
					  <div class="col-sm-12 input-radio"><label class="radio-container"><input type="radio" name="gender"><span class="checkmark"></span> No</label></div>
				    </div>
			      </div>
		        </div>
			
			    <div class="form-group col-sm-12 steps-btn">
			      <div class="row">
				    <div class="col-sm-12"><a href="#" class="btn btn-lightgray back-btn" data-id="3">Back</a> <a href="#" class="btn next-btn" data-id="3">Next</a></div>
		          </div>
		        </div>
			
		      </div><!--/ row -->
		    </div><!--/ form-steps -->
			
			<div class="form-steps form-group col-sm-12" id="step_4">
			  <div class="row">
			    
				<div class="form-group col-sm-12">
				  <div class="step-no">Step 4 of 5</div>
				  <h3>Emergency Contact</h3>
				  <p class="annual-p text-center">Please complete your emergency contact details required in case of an emergency.</p>
				  <div class="form-bar">
					<div class="form-clearbar"></div>
					<div class="form-fillbar"></div>
				  </div><!--/ form-bar -->
				</div>
			
			   
			    <div class="form-group col-sm-4">
			      <label>Title</label>
			      <input class="form-control" placeholder="Mr." type="text" value="">
		        </div>
				
				<div class="form-group col-sm-4">
			      <label>First name</label>
			      <input class="form-control" placeholder="john" type="text" value="">
		        </div>
				
				<div class="form-group col-sm-4">
			      <label>Last name</label>
			      <input class="form-control" placeholder="Doe" type="text" value="">
		        </div>
				
				<div class="form-group col-sm-6">
			      <label>Mobile Phone</label>
			      <input class="form-control" placeholder="+27-00-000-0000" type="text" value="">
		        </div>

                <div class="form-group col-sm-6">
                    <label>Alternative Phone Number</label>
                    <input class="form-control" placeholder="+27-00-000-0000" type="text" value="">
                  </div>

                <div class="form-group col-sm-12">
                    <h4 class="mrb-0"><b>Relationship</b></h4>
                  </div>
              
				
				<div class="form-group col-sm-12">
			      <div class="input-group">
			        <label class="label">Relationship to main member</label>
				    <div class="input-inner row">
				      <div class="col-sm-12 mrb-12 input-radio">
                        <label class="radio-container mrb-r">
                            <input type="radio" checked="checked" name="Relationship">
                            <span class="checkmark"></span> Spouse</label>
                        </div>
				    
					  <div class="col-sm-12 input-radio">
                        <label class="radio-container">
                            <input type="radio" name="Relationship">
                            <span class="checkmark"></span> Parent</label>
                        </div>
                    <div class="col-sm-12 input-radio">
                        <label class="radio-container">
                            <input type="radio" name="Relationship">
                            <span class="checkmark"></span> Child</label>
                        </div>
                    <div class="col-sm-12 input-radio">
                    <label class="radio-container">
                        <input type="radio" name="Relationship">
                        <span class="checkmark"></span> Partner</label>
                    </div>
                    <div class="col-sm-12 input-radio">
                        <label class="radio-container">
                            <input type="radio" name="Relationship">
                            <span class="checkmark"></span> Friend</label>
                        </div>
                        <div class="col-sm-12 input-radio">
                            <label class="radio-container">
                                <input type="radio" name="Relationship">
                                <span class="checkmark"></span> Brother/Sister
                             </label>
                            </div>
				    </div>
			      </div>
		        </div>
				
				
			
			  
			
			    <div class="form-group col-sm-12 steps-btn">
			      <div class="row">
				    <div class="col-sm-12"><a href="#" class="btn btn-lightgray back-btn" data-id="4">Back</a> <a href="#" class="btn next-btn" data-id="4">Next</a></div>
		          </div>
		        </div>
			
		      </div><!--/ row -->
		    </div><!--/ form-steps -->
			
			<div class="form-steps form-group col-sm-12" id="step_5">
			  <div class="row">
			    
				<div class="form-group col-sm-12">
				  <div class="step-no">Step 5 of 5</div>
				  <h3>Dive Cover Summary</h3>
				  <p class="annual-p text-center">Dive cover benefits for the duration of your stay.</p>
				  <div class="form-bar">
					<div class="form-clearbar"></div>
					<div class="form-fillbar"></div>
				  </div><!--/ form-bar -->
				</div>

                
                <div class="form-group col-sm-12">
                    <h4 class="mrb-0"><b>Temporary Membership Benefits</b></h4>
                  </div>
				
				<div class="form-group col-sm-6">
			      <label>Temporary Membership</label>
				  <ul class="mrb-0">
				    <li>R300 000 Dive Cover</li>
					<li>Evacuation Assistance</li>
					<li>Evacuation Assistance</li>
					<li>International Dive Cover</li>
					<li>SCUBA Depth Limit 40 meters</li>
					<li>Includes Cover for Freedivers</li>
					<li>Includes Cover for Spear Fisherman</li>
				  </ul>
		        </div> 
				
				<div class="form-group col-sm-12"><strong><a href="https://storage.snappages.site/eupr0m0685/assets/files/Temporary-2021_V.1.pdf" rel="noopener noreferrer" target="_blank">Click to Download the Temporary Membership Benefits Guide</a></strong></div>

				<div class="form-group col-sm-12">
				  <div class="checkbox-custom">
				    <label class="checkbox">I’ve read and agree with the&nbsp;<a href="images/Annual-Guide-2022.pdf" rel="noopener noreferrer" target="_blank">Terms of the Annual Membership Benefits</a> and the <a href="privacy-policy.html" rel="noopener noreferrer" target="_blank"><span>DAN Privacy Policy</span></a>
			          <input type="checkbox" name="Scuba" value="Bike">
					  <span class="checkmark"></span>
			        </label>
		          </div>
		        </div>
				
			    <div class="form-group col-sm-12 steps-btn">
			      <div class="row">
				    <div class="col-sm-12"><a href="#" class="btn btn-lightgray back-btn" data-id="5">Back</a> <a href="application-submit-success.html" class="btn">Submit</a> <!--input type="submit" class="btn" value="Submit"--></div>
		          </div>
		        </div>
			
		      </div><!--/ row -->
		    </div><!--/ form-steps -->
		  </form>
		  
	    </div><!--/ form-grid -->
	  </div>
          
    </div><!--/ row -->	
  </div>
</section><!--/ form-wrap -->