<section class="info-wrapper">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1 class="text-show"><b>First Aid</b><span>TRAINING</span></h1>
		  <p class="update-info">DAN Education fulfils a key element of the DAN Mission by educating the diving public and the medical profession on the appropriate care for divers injured in dive accidents. This education takes on many forms, disseminating information on topics related to dive safety through articles, reports, seminars, lectures and training programs.</p>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ info-wrapper -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>Diver Education</h2>
		<p>The first step in being prepared to handle a diving emergency is education. DAN courses teach you the first aid steps to care for an injured diver and interact with medical professionals.</p>
		<p><a [routerLink]="['/provider-courses']" class="btn"><i class="fa fa-check fa-lg fa-fw"></i>Start A DAN COURSE TODAY</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images//3368094_1261x832_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>DAN Instructors</h2>
		<p>DAN Instructors are a vital part of the DAN Mission, educating the diving public through DAN courses. Learn how to become a DAN Instructor or find the tools you need to teach.</p>
		<p><a [routerLink]="['/instructor-courses']" class="btn"><i class="fa fa-check fa-lg fa-fw"></i>Become a DAN Instructor Today</a></p>
		<p><a [routerLink]="['/provider-course-files']" class="btn btn-green"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Provider Course Files</a></p>
		<p><a [routerLink]="['/instructor-course-files']" class="btn btn-black"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Instructor Course Files</a></p>
		<p><a [routerLink]="['/it-course-files']" class="btn btn-blue"><i class="fa fa-cloud-download fa-lg fa-fw"></i>Instructor Trainer Course Files</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images//3368104_2120x1414_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text about-black">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-6 left">
	    <h2>DAN Rental Gear</h2>
		<p>Only DAN instructors and instructor trainers can  rent first aid training equipment from the DAN office. To rent DAN equipment, please contact the DAN office at mail@dansa.org or tel. to +27112664900. Please read through the conditions of rental carefully, before agreeing to rent gear.</p>
		<p><a [routerLink]="['/gear-rental']" class="btn"><i class="fa fa-check fa-lg fa-fw"></i>Rent Gear Now</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images//3367643_6000x4000_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->

<section class="about-text light-blue">
  <div class="container">
    <div class="row row-flex">
      
	  <div class="col-sm-6 left">
	    <h2>Oxygen Filling Resources</h2>
		<p>DAN recommends certain oxygen filling service providers to instructors and instructor trainers. Simply contact the filling station in your area.</p>
		<p><a [routerLink]="['/test-station-resources']" class="btn"><i class="fa fa-check fa-lg fa-fw"></i>Find A Filling Station</a></p>
	  </div>
	  
	  <div class="col-sm-6 right">		 
		<figure><img src="/assets/images//3295274_5954x3784_1000.jpg" alt="image"></figure>
      </div><!--/ right -->  
          
    </div><!--/ row -->	
  </div>
</section><!--/ about-text  -->
<app-sub-footer></app-sub-footer>