<section class="banner-inner" style="background-image: url(/assets/danshop/images/default_category_banner.jpg);">
  <div class="container">
    <div class="row">
      
	  <div class="col-sm-12">
	    <div class="banner-text">
		  <h1>All Products</h1>
		  <h3>DAN MEMBERS REGISTER TO RECEIVE YOUR MEMBER DISCOUNTS</h3>
        </div>
	  </div>
	
    </div>
  </div>
</section><!--/ banner -->
<section class="featured-products">
  <div class="container">
    <div class="row">

	  <!-- <div class="col-sm-12 title mrb-35"> -->
		<!-- <div class="info-tag"> -->
		  <!-- <h2>Oxygen Accessories</h2> -->
		  <!-- <p>DAN’s oxygen unit accessories are designed to give the best performance for your emergency response needs. Complete, restock or update your oxygen <br>kit to ensure you are ready for any situation.</p> -->
        <!-- </div> -->
      <!-- </div> -->
	  
	  <div class="col-sm-4 featured-col mrb-30" *ngFor="let prod of allProducts">	    
			<div class="info">
				<figure><img src="{{prod.productAsset.preview}}" alt="image"></figure>
				<h4>{{prod.productName}}
				<ng-template [ngIf]="prod.priceWithTax.__typename === 'SinglePrice'">
					<!--if price is single-->				
					<span>ZAR {{ prod.priceWithTax.value / 100 | number:'1.2-2' }}</span>
				</ng-template>
				<ng-template [ngIf]="prod.priceWithTax.min === prod.priceWithTax.max" [ngIfElse]="range">
					<!--if price is same in range-->
					<span>ZAR {{ prod.priceWithTax.min / 100 | number:'1.2-2' }}</span>				
				</ng-template>
				<ng-template #range>
					<!--if price diffrent in range-->
					<span>ZAR {{ prod.priceWithTax.min / 100 | number:'1.2-2' }}</span>
				</ng-template>
				</h4>
				<ng-template [ngIf]="prod.inStock == false" [ngIfElse]="shopNow">
					<a [routerLink]="['/danshop/product-details/',prod.slug]" class="btn"><i class="fa fa-check-circle" aria-hidden="true"></i> 
						Out of stock
					</a>
				</ng-template>
				<ng-template #shopNow>
					<a [routerLink]="['/danshop/product-details/',prod.slug]" class="btn"><i class="fa fa-check-circle" aria-hidden="true"></i> 
						Shop Now
					</a>
				</ng-template>
			</div>
		</div>	
          
    </div><!--/ row -->	
  </div>
</section><!--/ featured-products  --> 